.login {
  background-image: url('../../assets/img/Login-Background-Fin.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  font-size: 110%;
}
.login a {
  text-decoration: none !important;
  cursor: pointer;
}
.login .logo {
  width: 250px;
  margin-left: -1.5rem;
}
.login .card-body {
  padding: 30px !important;
}
.login .inputLogin {
  width: 80% !important;
  max-width: 100% !important;
  border-radius: 10px !important;
  font-size: 110% !important;
}
.login .policyContent {
    width: 100% !important;
    max-width: 100% !important;
    border-radius: 10px !important;
    font-size: 110% !important;
  }
.login .btn-login {
  height: 50px;
  font-size: 110%;
}
.login .links a,
.login .links span {
  color: #cbcbcb;
  font-size: 90% !important;
}
.login .error {
  height: 80px;
  padding-top: 20px;
  color: #f44336;
}
.login .copyright a {
  color: #fff;
  margin-left: 4%;
}
@media (width: 1024px) {
  .login {
    width: 120%;
  }
}
.login .email-message {
  font-size: small;
  color: #959da0;
  margin-left: 1em;
}

.login .forgotPassMsg {
    font-size: medium;
    color: #959da0;
  }

.login .form-login-change {
  color: #3b69f6;
  cursor: pointer;
}
.login .term-and-condition {
  cursor: pointer;
}

.login .policy-title {
  background-color: #d5d8da;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  padding-left: 0.8em;
  /* color: #8e8f8f; */
  font-weight: lighter !important;
  line-height: 2em;
}

.login .text-area-policy {
  color: #8e8f8f;
  font-size: small !important;
  height: 11.login .6em !important;
  overflow-y: scroll;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.login .text-area-policy::-webkit-scrollbar {
  width: 8px !important;
}

.login .text-area-policy::-webkit-scrollbar-thumb {
  background-color: #b4b9bb;
  border-radius: 5px;
}

.login .policy-button {
  margin-top: 1em;
  margin-left: -0.9em;
  width: 15em;
}

.login .container-fluid .card .card-body .privacy-and-term .text-area-policy{
  max-height: 170px !important;
  height: 100% !important;
}

.mt-min-5{
 margin-top: -2rem !important;
}

.login-card{
    height: 35em;
}
.forgot-row{
    margin-top: 50px;
}
.box-login{

}

@media (min-width: 1024px) and (max-width: 1280px) {
  .login .box-login{
    max-width: 39%;
  }
}

@media (min-width: 801px) and (max-width: 1024px){
  .login .offset-md-1 {
    margin-left: 4%;
  }
  .box-login{
    max-width: 39%;
  }
}
@media (min-width: 769px) and (max-width: 800px){
   .box-login{
    max-width: 59%;
  }
}
@media (min-width: 601px) and (max-width: 768px) {
  .box-login{
    max-width: 59%;
  }
}