.close-reset{
    color: #637175;
    font-size: 25px;
    float: right;
}
.ver-center-item{
    display: flex;
    align-items: center;
}

.content-reset{
    margin-top: -25px;
    display: flex;
}

.content-buttom{
    display: flex;
    justify-content: flex-end;
}