/* body {
    background-color: #ebebeb;
  } */
  /* .searchbox {
    width: 350px;
    margin: 100px auto;
  } */
  /* .input[type="autoSearch"] {
    padding: 10px 15px 10px 50px;
    font-size: 36px;
    background-repeat: no-repeat;
    background-position: 8px 12px;
  } */
  li {
    display: block;
    text-decoration: none;
    color: #1f5350;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  ul li {
    margin-bottom: 10px;
    margin-left: 10px;
  }

  ul li a:hover {
    color: #b23b61;
    background: #ecd1da;
  }
  .suggestions li {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .input[type="autosearch"]:focus + .suggestions li {
    height: 63px;
  }
  
  .byline {
    text-align: center;
    font-size: 18px;
  }
  .byline a {
    text-decoration: none;
    color: #1f5350;
  }
  .form-input {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 6px);
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #5c6873;
    background-color: #fff;
    border-color: #D5D8DA;
    background-clip: padding-box;
    border: 1px solid #e4e7ea;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.pecs::-webkit-input-placeholder{
	color:#7C878C !important;
}
 

  