*,
body {
  font-family: 'Rubik';
}

.text-muted-soft {
  color: #d5d8da;
}

.login .border-red {
  border-color: #f44336 !important;
}

.breadcrumb-item a {
  color: #637176 !important;
  font-weight: 400 !important;
}

// fix fa-spin rotating arround center
.fa-spin {
  width: initial !important;
  height: initial !important;
}

.m-iconLoad {
  margin-top: -35px !important;
}

.rt-resizer {
  display: none !important;
}

.mt-45 {
  margin-top: 1.28rem;
}

// Custom style
.grid-col {
  display: grid !important;
  grid-template-columns: 25% 25% 25% 25% !important;
}

.no-outline:focus {
  outline: none !important;
}

input:focus {
  box-shadow: none !important;
}

button:focus {
  box-shadow: none !important;
}

.no-border {
  border: none !important;
}

.no-shadow,
.card {
  box-shadow: none !important;
}

::placeholder {
  color: #b4b9bb !important;
}

.scroll-x {
  overflow-x: auto;
}

.scroll-y {
  overflow-y: auto;
}

.scroll-x-y {
  overflow-y: auto;
  overflow-x: auto;
  z-index: -99 !important;
}

.card-pag > input.border-red {
  border-color: red !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

::placeholder {
  color: #b4b9bb !important;
}

::-webkit-scrollbar {
  width: 15px !important;
  height: 15px !important;
  margin-bottom: 50px;
}

::-webkit-scrollbar-thumb {
  background-color: #cbcbcb;
  border: 3px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}

.scroll-x-y::-webkit-scrollbar-thumb {
  background-color: #e4e7ea;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #d6d3d3;
  border-radius: 15px !important;
}

.pointer {
  cursor: pointer;
}

.modal-header,
.modal-body,
.modal-footer,
.modal-content {
  border: none !important;
}

.text-purple {
  color: #5e44e8;
}

.text-blue {
  color: #3366ff;
}

.text-logo {
  color: #47c0ff;
  display: flex;
}

.text-light-gray {
  color: #b4b9bb;
}

.btn-light-gray {
  color: #757575 !important;
  background-color: #e4e7ea !important;
  border: 1px solid #e4e7ea !important;
}

.btn-light-gray:hover {
  color: #fff !important;
  background-color: darken(#e4e7ea, 10) !important;
}

.btn-light-blue {
  color: #3366ff !important;
  font-weight: 600 !important;
  background-color: white !important;
  border: 2px solid #3366ff !important;
}

.sh-input {
  padding-left: 0.75rem !important;
}

.font-rename-error {
  font-size: 16px;
  padding-top: 1rem;
  padding-left: 22rem;
}

.font-12 {
  font-size: 12px;
}

.font-20 {
  font-size: 20px;
}

.tab-content {
  padding: 0;
  margin: 0;
  background-color: #fff;
  color: #000;
  border-radius: 0px 0px 0.3rem 0.3rem !important;
  /* overflow: hidden; */
}

.logOutHover:hover {
  color: white !important;
}

.nav-link {
  background-color: #eee;
  color: #959da0 !important;
  border: none !important;
  font-size: 20px;
  padding-left: 20px;
  margin-left: 5px !important;
  cursor: pointer;
}

.bg-tabNonActive {
  background-color: #dee3e5 !important;
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;

  .nav-link {
    background-color: #dee3e5 !important;
  }
}

.nav-link.active {
  background-color: #fff !important;
  color: #376bfb !important;
  height: 3.25rem;
}

@-moz-document url-prefix() {
  .nav-link.active {
    height: 3.3rem;
  }
}

.nav-tabs {
  margin-left: 26px;
  border: none;
}

.nav-item a {
  color: #959da0 !important;
}

.tab-nonActiveCreate {
  background-color: #eee !important;
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
  color: #959da0 !important;
}

.input-group,
input.form-control,
.input-group-text {
  height: 50px !important;
  border-color: #e4e7ea !important;
}

input.form-control {
  padding: 0.375rem 0.75rem 0.375rem 0rem;
}

.login input.form-control {
  padding: 0.375rem 0.75rem;
}

.tab-content input.form-control {
  padding: 0.375rem 0.75rem;
}

.btn {
  height: 50px !important;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
}

.badge-secondary {
  color: #eeeeee;
}

.nav-tabs .nav-item {
  margin-bottom: 0px !important;
}

.sales-order,
.sales-order-detail,
.um-summary,
.um-detail,
.stock-holding,
.stock-holding-detail {
  .rt-th {
    line-height: 40px !important;
    cursor: pointer !important;
  }
}

.c-50 {
  width: 50px !important;
}

.c-100 {
  width: 100px !important;
}

.c-150 {
  width: 150px !important;
}

.c-170 {
  width: 170px !important;
}

.c-200 {
  width: 200px !important;
}

.c-250 {
  width: 250px !important;
}

.c-300 {
  width: 300px !important;
}

.c-400 {
  width: 400px !important;
}

.c-600 {
  width: 600px !important;
}

// Core-UI component style
.c-app,
.c-header {
  background-color: #e9eced !important;
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  margin: 0 !important;
  padding: 0 !important;
}

.c-header-toggler-icon {
  margin-left: -30px !important;
}

.c-content {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

@media (min-height: 1025px), (min-width: 1024px) {
  // disable vertical scrolling on desktop
  body,
  .c-wrapper {
    overflow-y: auto !important;
  }
}

/* breadcrumb style start */
.breadcrumb {
  background-color: transparent !important;
}

.breadcrumb-item {
  font-size: 150%;
  color: $secondary !important;
}

.breadcrumb-item a {
  text-decoration: none !important;
  color: $primary;
}

.breadcrumb-item a:hover {
  color: $secondary;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: '>' !important;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: '>' !important;
}

/* breadcrumb style end*/

/* dropdown style start */
.css-2b097c-container,
.css-1pahdxg-control,
.css-yk16xz-control {
  height: 50px !important;
  border-color: #e4e7ea !important;
}

.react-select-alert .css-2b097c-container {
  border-color: #e55353 !important;
}

.react-select-alert .css-2b097c-container .css-1pahdxg-control {
  border-color: #e55353 !important;
}

.react-select-alert .css-2b097c-container .css-yk16xz-control {
  border-color: #e55353 !important;
}

.css-1wa3eu0-placeholder {
  color: #b4b9bb !important;
}

.css-1okebmr-indicatorSeparator {
  display: none;
}

.css-1pahdxg-control {
  box-shadow: none !important;
}

.css-26l3qy-menu {
  border: 1px solid #e4e7ea !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-top: none !important;
  margin: 0 !important;
  margin-left: 1px !important;
  width: 99.5% !important;
  box-shadow: none !important;
}

.css-g1d714-ValueContainer {
  color: #000;
}

/* dropdown style end */

/* Line Details Styles Start */
.lineDetailsTopExpand {
  margin-top: -400px !important;
  padding-top: 400px !important;
  overflow-y: hidden !important;
}

.lineDetailsBottomExpand {
  margin-bottom: -312px !important;
  padding-bottom: 338px !important;
  overflow: hidden !important;
}

/* Line Details Styles End */

.status-ok {
  color: #637175 !important;
  background: transparent;
  padding: 1px 28px;
  border-radius: 0.5rem;
  border: solid 1.5px #637175;
  font-size: 12px;
}

.status-shortage {
  color: white !important;
  background: #f94548;
  padding: 2px 6px;
  font-size: 12px;
  border-radius: 0.4rem;
}

.status-available {
  color: #fff !important;
  background-color: #637175;
  border-radius: 0.5rem;
  /* border: solid 1.0.5rem #959292; */
  font-size: 12px;
  padding: 2px 22px;
}

.status-unavailable {
  color: #fff !important;
  background-color: #f94548;
  border-radius: 0.5rem;
  /* border: solid 1.0.5rem #959292; */
  font-size: 12px;
  padding: 2px 22px;
}

.status-complete {
  color: #555050 !important;
  background-color: transparent;
  border-radius: 0.5rem;
  border: solid 1px #555050;
  font-size: 12px;
  padding: 2px 19px;
}

.status-partRelease {
  color: #637175 !important;
  background-color: transparent;
  border-radius: 0.5rem;
  border: solid 1px #637175;
  font-size: 12px;
  padding: 1px 6px;
}

.status-Release {
  color: #555050 (209, 204, 204) !important;
  background: transparent;
  border-radius: 0.5rem;
  border: solid 1px #555050;
  font-size: 12px;
  padding: 2px 23px;
}

.rt-noData {
  text-align: center !important;
  color: #d1cccc !important;
  z-index: 0 !important;
}

.btn {
  letter-spacing: 1px !important;
}

.btn-grey {
  color: #fff;
  background-color: #d5d8da;
  border-color: #d5d8da;
}

.px-6 {
  padding: 0px 1.9rem !important;
}

.px-7 {
  padding: 0px 1.2rem !important;
}

.ml-6 {
  margin-left: 1.6rem !important;
}

.ml-7 {
  margin-left: 1.8rem !important;
}

.pt-md {
  padding-top: 2.3rem !important;
}

.modal-content {
  border-radius: 0.3rem !important;
  border-left: 2px #376bfb solid !important;
  border-right: 2px #376bfb solid !important;
  border-bottom: 2px #376bfb solid !important;

  .modal-body {
    .select_calendar_expand::after {
      z-index: 0;
    }
  }
}

.required::after {
  content: '*';
  color: red;
}

.rightColumn {
  display: inline-block !important;
  text-align: right;
}

// REACTABLE
.ReactTable {
  border: 0px !important;
  .rt-table {
    margin-top: 0px !important;

    .rt-thead {
      .rt-tr {
        .rt-th {
          display: flex;
          align-items: center;
        }
        .rt-th:first-child {
          padding-left: 1.15rem ;
          text-align: left !important;
        }
      }
    }

    .rt-tbody {
      .rt-tr-group {
        .rt-tr {
          .rt-td {
            display: flex;
            align-items: center;
          }

          .rt-td:first-child {
            padding-left: 1.2rem !important;
          }
        }
      }
    }
  }
}

//search filter
.input-group-text {
  .iconU-search {
    color: #c2bbc4 !important;
  }
}

// modal box
@media (min-width: 1200px) {
  .um-create,
  .sales-order-create,
  .purchase-order-create {
    .modal-xl {
      max-width: 1525px !important;
    }
  }

  .um-create,
  .sales-order-create,
  .purchase-order-create {
    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
      max-width: 1525px;
    }
  }

  .row-cols-xl-5 > * {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .modal-xl {
    max-width: 1000px !important;
  }

  .toggle-um {
    flex: 0 0 40.33333%;
    max-width: 40.33333%;
  }
}

// -------------------------------
@media (max-width: 991px) {
  .btn-create {
    display: none !important;
  }

  .pagination-custom {
    display: none !important;
  }
}

.rightColumn {
  display: inline-block !important;
  text-align: right;
}

.alg-right {
  text-align: right !important;
  display: block;
}

.overflow-visible {
  overflow: visible !important;
}

.nextBtn {
  text-align: left !important;
}

.is-invalid {
  background-image: none !important;
}

.dev-inst {
  border-left: 2px transparent solid !important;
  border-right: 2px transparent solid !important;
  border-bottom: 2px transparent solid !important;
}

.align-bottom {
  padding-bottom: 2.4rem !important;
}

.align-right {
  justify-content: flex-end !important;
}

.input-danger {
  border-color: #e55353 !important;
}

.input-danger:hover {
  border-color: #e55353 !important;
}

.btn-primary.focus, .btn-primary:focus {
  color: #fff;
  background-color: #376bfb !important;
  border-color: #376bfb !important;
  box-shadow: 0 0 0 0.2rem rgba(85,129,252,.5);
}
.btn-primary.hover, .btn-primary:hover {
  color: #fff;
  background-color: #124ffa !important;
  border-color: #0546fa !important;
  box-shadow: 0 0 0 0.2rem rgba(85,129,252,.5);
}