*,
body {
  font-family: 'Rubik', Arial, Verdana, Tahoma, sans-serif;
}

html {
  overflow: hidden;
}

.text-muted-soft {
  color: #b4b9bb;
}

.text-tranparent {
  opacity: 0 !important;
}

.login .border-red {
  border-color: #f44336 !important;
}

// fix fa-spin rotating arround center
.fa-spin {
  width: initial !important;
  height: initial !important;
}

.m-iconLoad {
  margin-top: -35px !important;
}

.rt-resizer {
  display: none !important;
}

.mt-45 {
  margin-top: 1.28rem;
}

// height of the row create
.h-93 {
  height: 93px;
}

// Custom style
.grid-col {
  display: grid !important;
  grid-template-columns: 25% 25% 25% 25% !important;
}

.no-outline:focus {
  outline: none !important;
}

input:focus {
  box-shadow: none !important;
}

button:focus {
  box-shadow: none !important;
}

.no-border {
  border: none !important;
}

.no-shadow,
.card {
  box-shadow: none !important;
}

::placeholder {
  color: #b4b9bb !important;
}

.scroll-x {
  overflow-x: auto;
}

.scroll-y {
  overflow-y: auto;
}

.scroll-x-y {
  overflow-y: auto;
  overflow-x: auto;
  z-index: -99 !important;
}

.card-pag>input.border-red {
  border-color: red !important;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

::-webkit-scrollbar {
  width: 15px !important;
  height: 15px !important;
  margin-bottom: 50px;
}

::-webkit-scrollbar-thumb {
  background-color: #d3d9db;
  border: 3px solid transparent;
  border-radius: 9px;
  background-clip: content-box;
}

.scroll-x-y::-webkit-scrollbar-thumb {
  background-color: #d3d9db;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #d6d3d3;
  border-radius: 15px !important;
}

.pointer {
  cursor: pointer;
}

.modal-header,
.modal-body,
.modal-footer,
.modal-content {
  border: none !important;
}

.modal-confirmation {
  .modal-lg {
    max-width: 450px !important
  }
}

.text-purple {
  color: #5e44e8;
}

.text-blue {
  color: #3366ff;
}

.text-logo {
  color: #47c0ff;
  display: flex;
}

.text-light-gray {
  color: #b4b9bb;
}

.btn-light-gray {
  color: #757575 !important;
  background-color: #e4e7ea !important;
  border: 1px solid #e4e7ea !important;
}

.btn-disabled {
  color: #fff !important;
  background-color: #D6D8DA !important;
  border: 1px solid #D6D8DA !important;
}

.btn-disabled:hover {
  color: #fff !important;
  background-color: darken(#e4e7ea, 10) !important;
}

.btn-light-gray:hover {
  color: #fff !important;
  background-color: darken(#e4e7ea, 10) !important;
}

.btn-light-blue {
  color: #3366ff !important;
  font-weight: 600 !important;
  background-color: white !important;
  border: 1px solid #3366ff !important;
}

.btn-light-none {
  color: transparent !important;
  font-weight: 600 !important;
  background-color: transparent !important;
  border: 1px solid transparent !important;
}

.sh-input {
  padding-left: 0.75rem !important;
}

.half-padding {
  padding-bottom: 2.7rem !important;
}

.font-rename-error {
  font-size: 16px;
  padding-top: 1rem;
  padding-left: 29rem;
}

.font-12 {
  font-size: 12px;
}

.font-20 {
  font-size: 19px;
}

.tab-content {
  padding: 0;
  margin: 0;
  background-color: #fff;
  color: #000;
  border-radius: 0px 0px 0.3rem 0.3rem !important;
  /* overflow: hidden; */
}

.logOutHover:hover {
  color: white !important;
}

.nav-link {
  background-color: #e8e8e8 !important;
  color: #959da0 !important;
  border: none !important;
  font-size: 20px;
  padding-left: 20px;
  margin-left: 5px !important;
  cursor: pointer;
}

.bg-mark {
  background-color: aliceblue !important;
}

.bg-tabNonActive {
  background-color: #dee3e5 !important;
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;

  .nav-link {
    background-color: #e8e8e8 !important;
  }
}

.input-group .nav-link {
  background-color: #A6BCFC !important;
}

.nav-link.active {
  background-color: #fff !important;
  color: #376bfb !important;
}

.height-nav {
  height: 3.25rem;
}

@-moz-document url-prefix() {
  .nav-link.active {
    height: 3.3rem;
  }
}

.nav-tabs {
  margin-left: 26px;
  border: none;
}

.nav-item a {
  color: #fff !important;
}

.nav-tabs .nav-item {
  margin-bottom: 0px !important;
}

.tab-nonActiveCreate {
  background-color: #eee !important;
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
  color: #959da0 !important;
}

.input-group,
input.form-control,
.input-group-text {
  height: 50px !important;
  border-color: #e4e7ea !important;
  padding-right: 0px;
}

input.input-in-table {
  height: 40px !important;
  border-color: #e4e7ea !important;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid;
  color: #5c6873;
  background-color: #fff;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:focus {
    outline: none !important;
  }
}

input.invalid-input {
  border-color: red !important;
  color: red !important;
}

input.remaining-input:focus {
  border-color: orange !important;
  outline: orange !important;
}

input.outOfRemaining-input:focus {
  border-color: red !important;
  outline: red !important;
  color: red;
}

.color-remaining {
  color: orange !important;
}

.color-max-qty {
  color: red !important;
}


.login input.form-control {
  padding: 0.375rem 0.75rem;
}

.tab-content input.form-control {
  padding: 0.375rem 0.75rem;
}

.btn {
  height: 48px !important;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
  letter-spacing: 1px !important;
}

.badge-secondary {
  color: #eeeeee;
}

.sales-order,
.sales-order-detail,
.um-summary,
.um-detail,
.stock-holding,
.stock-holding-detail {
  .rt-th {
    line-height: 40px !important;
    cursor: pointer !important;
  }
}

.c-50 {
  width: 50px !important;
}

.c-100 {
  width: 100px !important;
}

.c-150 {
  width: 150px !important;
}

.c-170 {
  width: 170px !important;
}

.c-200 {
  width: 200px !important;
}

.c-250 {
  width: 250px !important;
}

.c-300 {
  width: 300px !important;
}

.c-400 {
  width: 400px !important;
}

.c-600 {
  width: 600px !important;
}

// Core-UI component style
.c-app,
.c-header {
  background-color: #e9eced !important;
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  margin: 0 !important;
  padding: 0 !important;
}

.c-header-toggler-icon {
  margin-left: -30px !important;
  outline: none !important;
}

.c-header-toggler {
  outline: none !important;
}

.c-content {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

@media (min-height: 1025px),
(min-width: 1024px) {

  // disable vertical scrolling on desktop
  body,
  .c-wrapper {
    overflow-y: none !important;
  }
}

/* breadcrumb style start */
.breadcrumb {
  background-color: transparent !important;
}

.breadcrumb-item {
  font-size: 150%;
  color: $secondary  !important;
}

.breadcrumb-item a {
  color: #637176 !important;
  font-weight: 400 !important;
}

.breadcrumb-item a:hover {
  color: $secondary;
}

.breadcrumb-item+.breadcrumb-item::before {
  content: '>' !important;
}

/* breadcrumb style end*/

/* dropdown style start */
.css-2b097c-container,
.css-1pahdxg-control,
.css-yk16xz-control {
  height: 50px !important;
  border-color: #e4e7ea !important;
}

.react-select-alert .css-2b097c-container {
  border-color: #e55353 !important;
}

.react-select-alert .css-2b097c-container .css-1pahdxg-control {
  border-color: #e55353 !important;
}

.react-select-alert .css-2b097c-container .css-yk16xz-control {
  border-color: #e55353 !important;
}

.css-xzk8i-ValueContainer {
  padding: 0px 0.65rem !important;
}

.css-1wa3eu0-placeholder {
  color: #b4b9bb !important;
  margin-left: 2px !important;
}

.css-1okebmr-indicatorSeparator {
  display: none;
}

.css-1pahdxg-control {
  box-shadow: none !important;
}

.css-26l3qy-menu {
  border: 1px solid #e4e7ea !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-top: none !important;
  margin: 0 !important;
  margin-left: 1px !important;
  width: 99.5% !important;
  box-shadow: none !important;
}

.css-g1d714-ValueContainer {
  color: #000;
  padding: 0px 0.65rem !important;
}

/* dropdown style end */

/* Line Details Styles Start */
.lineDetailsTopExpand {
  margin-top: -400px !important;
  padding-top: 400px !important;
  overflow-y: hidden !important;
}

.lineDetailsBottomExpand {
  margin-bottom: -312px !important;
  padding-bottom: 338px !important;
  overflow: hidden !important;
}

/* Line Details Styles End */

.status-ok {
  color: #fff !important;
  background: #637175 !important;
  padding: 1px 5px;
  border-radius: 0.2rem;
  border: solid 1.5px #637175;
  font-size: 12px;
}

.status-shortage {
  color: white !important;
  background: #f94548;
  padding: 2px 6px;
  font-size: 12px;
  border-radius: 0.2rem;
}

.status-available {
  color: #fff !important;
  background-color: #637175;
  border-radius: 0.2rem;
  /* border: solid 1.0.5rem #959292; */
  font-size: 12px;
  padding: 2px 22px;
}

.status-unavailable {
  color: #fff !important;
  background-color: #f94548;
  border-radius: 0.2rem;
  /* border: solid 1.0.5rem #959292; */
  font-size: 12px;
  padding: 2px 14px;
}

.status-complete {
  color: #555050 !important;
  background-color: transparent;
  border-radius: 0.2rem;
  border: solid 1px #555050;
  font-size: 12px;
  padding: 2px 19px;
}

.status-partRelease {
  color: #637175 !important;
  background-color: transparent;
  border-radius: 0.2rem;
  border: solid 1px #637175;
  font-size: 12px;
  padding: 1px 6px;
}

.status-Release {
  color: #555050 (209, 204, 204) !important;
  background: transparent;
  border-radius: 0.2rem;
  border: solid 1px #555050;
  font-size: 12px;
  padding: 2px 23px;
}

.rt-noData {
  text-align: center !important;
  color: #d1cccc !important;
  z-index: 0 !important;
}

.btn-grey {
  color: #fff;
  background-color: #d5d8da;
  border-color: #d5d8da;
}

.px-6 {
  padding: 0px 1.9rem !important;
}

.px-7 {
  padding: 0px 1.2rem !important;
}

.px-8 {
  padding: 0px 1.3rem !important;
}

.px-9 {
  padding: 2.3rem;
}

.pb-9 {
  padding-bottom: 2.3rem;
}

.ml-6 {
  margin-left: 1.6rem !important;
}

.ml-7 {
  margin-left: 1.8rem !important;
}

.pt-md {
  padding-top: 2.3rem !important;
}

.modal-backdrop {
  background-color: #2d1b46;

  .show {
    opacity: 57%;
  }
}

.modal-content {
  border-radius: 0.6rem !important;

  .modal-body {
    .select_calendar_expand::after {
      z-index: 0;
    }
  }
}

.required::after {
  content: ' *';
  color: red;
}

.rightColumn {
  display: inline-block !important;
  text-align: right;
}

// REACTABLE
.ReactTable {
  border: 0px !important;

  .rt-table {
    margin-top: 0px !important;

    .rt-thead {
      .rt-tr {
        .rt-th {
          display: flex;
          align-items: center;
          -webkit-justify-content: left
        }

        .rt-th:first-child {
          padding-left: 1.15rem !important;
          text-align: left !important;
        }

        .rt-th:last-child {
          -webkit-justify-content: center
        }

        .enable-drag {
          padding: 0px !important;
        }
      }
    }

    .rt-tbody {
      .rt-tr-group {
        .rt-tr {
          .rt-td {
            display: flex;
            align-items: center;
            padding-left: 7px !important;
          }

          .rt-td:first-child {
            padding-left: 1.2rem !important;
          }
        }
      }
    }
  }
}

//search filter
.input-group-text {
  .iconU-search {
    color: #c2bbc4 !important;
  }
}

.icon-search-filter {
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

// modal box
@media (min-width: 1200px) {

  .um-create,
  .sales-order-create,
  .purchase-order-create {
    .modal-xl {
      max-width: 1525px !important;
    }

    .container,
    .container-sm,
    .container-md,
    .container-lg,
    .container-xl {
      max-width: 1525px;
    }
  }

  .row-cols-xl-5>* {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .modal-xl {
    max-width: 1000px !important;
  }

  .toggle-um {
    flex: 0 0 40.33333%;
    max-width: 40.33333%;
  }
}

// -------------------------------
@media (max-width: 991px) {
  .btn-create {
    display: none !important;
  }

  .pagination-custom {
    display: none !important;
  }
}

.alg-right {
  text-align: right !important;
  display: block;
}

.overflow-visible {
  overflow: visible !important;
}

.nextBtn {
  text-align: left !important;
}

.is-invalid {
  background-image: none !important;
}

.dev-inst {
  border-left: 2px transparent solid !important;
  border-right: 2px transparent solid !important;
  border-bottom: 2px transparent solid !important;
}

.align-bottom {
  padding-bottom: 2.4rem !important;
}

.align-right {
  display: flex !important;
  justify-content: flex-end !important;
}

.input-danger {
  border-color: #e55353 !important;
}

.input-danger:hover {
  border-color: #e55353 !important;
}

input.form-control.input-danger {
  border-color: #e55353 !important;
}

.input-danger .css-5y2tk-control {
  border-color: #e55353 !important;
}

.input-danger .css-1to7m39-control {
  border-color: #e55353 !important;
}

.btn-primary.focus,
.btn-primary:focus {
  color: #fff;
  background-color: #376bfb !important;
  border-color: #376bfb !important;
  box-shadow: 0 0 0 0.2rem rgba(85, 129, 252, 0.5);
}

.btn-primary.hover,
.btn-primary:hover {
  color: #fff;
  background-color: #124ffa !important;
  border-color: #0546fa !important;
  box-shadow: 0 0 0 0.2rem rgba(85, 129, 252, 0.5);
}

.newIcon-create_edit {
  font-size: 1.7rem;
}

.newIcon-review {
  font-size: 1.7rem;
}

.orange {
  color: orange !important;
}

// tooltip
.tooltip-remaining {
  .tooltip-inner {
    background-color: orange;
  }

  .arrow::before {
    border-bottom-color: orange !important;
  }
}

.tooltip-outOfReamining {
  .tooltip-inner {
    background-color: red;
  }

  .arrow::before {
    border-bottom-color: red !important;
  }
}

.tooltip-outOfReamining:hover {
  .tooltip-inner {
    background-color: red;
  }

  .arrow::before {
    border-bottom-color: red !important;
  }
}

#button-tooltip-reset {
  .tooltip.show {
    opacity: 100%;
  }

  .tooltip-inner {
    max-width: 280px;
    padding: 0.25rem 0.5rem;
    color: #FFF;
    text-align: left;
    background-color: #376BFB;
    border-radius: 0.25rem;
    position: absolute;
    width: 280px;
    margin-left: -103px;
    margin-top: -47px;
    cursor: pointer;
  }

  .tooltip-inner:hover {
    text-decoration: underline;
  }

  .arrow::before {
    border-top-color: #376BFB !important;
    margin-left: -90px;
    margin-top: -3px;
  }
}

#button-tooltip-input-rename {
  .tooltip.show {
    opacity: 100%;
  }

  .tooltip-inner {
    max-width: 280px;
    padding: 0.25rem 0.5rem;
    color: #FFF;
    text-align: left;
    background-color: #376BFB;
    border-radius: 0.25rem;
    position: absolute;
    width: fit-content;
    margin-left: -132px;
    cursor: pointer;
  }

  .tooltip-inner:hover {
    text-decoration: underline;
  }

  .arrow::before {
    border-bottom-color: #376BFB !important;
    margin-left: -120px;
    margin-top: -3px;
  }
}

#tooltip-input-rename-none {
  .tooltip.show {
    display: none;
  }

  .tooltip-inner {
    display: none;
  }

  .arrow::before {
    display: none;
  }
}

// end tooltip

// styling dropdown user info in breadcrum
html:not([dir="rtl"]) .dropdown-toggle::after {
  margin-left: 1em;
}


// styling dropdown button print labels, fulfill and clear
.print-lables .dropdown-toggle::after {
  display: none !important;
}

.print-lables .dropdown-menu.show {
  inset: auto auto 0px -12px !important;
}

.btn-clear .dropdown-toggle::after {
  display: none !important;
}

.btn-clear .dropdown-menu.show {
  inset: 0px 0px auto -70px !important;
}

.btn-fulfill .dropdown-toggle::after {
  display: none !important;
}

// darkMode Modal
.customDarkModes {
  background-color: #1c1c1c !important;
  color: #fff !important;

  .tab-content {
    background-color: #3e3846 !important;
    color: #fff !important;
  }

  .bg-primary {
    background-color: #1c1c1c !important;
  }

  .text-primary {
    color: white !important;
  }

  label {
    color: white !important;
  }

  .select_dropdown_expand:checked+.select_dropdown_closeLabel+.select_dropdown_options {
    background-color: #281f34 !important;
  }

  .select_dropdown_label {
    background-color: #281f34 !important;
  }

  .select_dropdown {
    background-color: #281f34 !important;
  }

  .btn.btn-secondary {
    background-color: #281f34 !important;
    color: white !important;
  }

  .DayPicker-Day:hover {
    color: black !important;

  }

  .text-muted {
    color: white !important;
  }

  .modalCreateSuccess,
  .modalCreateLoss {
    background-color: #281f34;
    color: white;
  }

  //form-dropdown
  .css-5y2tk-control,
  .css-1to7m39-control {
    background-color: #635f78 !important;
    border-color: white !important;
    color: white !important;
  }

  .css-1uccc91-singleValue,
  .css-b8ldur-Input,
  .css-tlfecz-indicatorContainer,
  .css-1duue3-indicatorContainer,
  .css-g9vg27-indicatorContainer,
  .css-1rdz61g-indicatorContainer,
  .css-1gtu0rj-indicatorContainer {
    color: white !important;
  }

  .css-26l3qy-menu {
    //dropdown option background
    background-color: #281f34 !important;
    color: white;
  }

  .css-ihtdzf-option,
  .css-1dhet8w-option:hover {
    background-color: #74717d !important;
  }

  //dropdown readonly
  .css-12ivlxl-control {
    background-color: #635f78 !important;
    border: 1px solid white;
  }

  //dropdown danger
  .input-danger .css-5y2tk-control {
    border-color: #e55353 !important;
  }

  //pagination
  .page-item,
  .bg-paging-search,
  .number-pag.rounded.input-paging {
    background-color: #281f34 !important;
    color: white !important;
  }

  //Export 
  .export-pdf {
    background-color: #635f78 !important;
    color: #fff
  }

  .export-excel {
    background-color: #635f78 !important;
    color: #fff
  }

  //datePicker

  .select_date_options {
    background-color: #281f34 !important;

    .DayPicker-Weekday abbr[title='Monday'],
    .DayPicker-Weekday abbr[title='Tuesday'],
    .DayPicker-Weekday abbr[title='Wednesday'],
    .DayPicker-Weekday abbr[title='Thursday'],
    .DayPicker-Weekday abbr[title='Friday'],
    .DayPicker-Weekday abbr[title='Saturday'],
    .DayPicker-Weekday abbr[title='Sunday'] {
      color: white !important;
    }

    //form
    .form-control {
      background-color: #635f78 !important;
      border-color: white !important;
      color: white;
    }
  }

}

.DarkModesEditRename {
  background-color: #3e3846 !important;
  color: #fff !important;

  .btn-primary {
    background-color: #4717ed !important;
  }

  .btn-disabled {
    color: #fff !important;
    background-color: #D6D8DA !important;
    border: 1px solid #D6D8DA !important;
  }

  .btn-disabled:hover {
    color: #fff !important;
    background-color: darken(#e4e7ea, 10) !important;
  }

  .tab-content {
    background-color: #3e3846 !important;

    .form-rename {
      background-color: #635f78 !important;
      border-color: white !important;
      color: white !important;
    }

    .form-rename::placeholder {
      color: white !important;
    }
  }

  .rename-columns {
    background-color: #585757 !important;
  }
}

// print label style
.container-print {
  opacity: 0;
  display: none;
}

.client-title {
  font-family: 'Rubik', Arial, Verdana, Tahoma, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: left;
  color: black;
}

// link custom
.link-custom {
  text-decoration: none;
  background-color: transparent;
  color: #376BFB;
}

.link-custom:hover {
  text-decoration: underline;
  cursor: pointer;
}