@font-face {
  font-family: "caution";
  src: url("../icons/caution/icomoon.eot?t60pg3");
  src: url("../icons/caution/icomoon.eot?t60pg3#iefix")
      format("embedded-opentype"),
    url("../icons/caution/icomoon.ttf?t60pg3") format("truetype"),
    url("../icons/caution/icomoon.woff?t60pg3") format("woff"),
    url("../icons/caution/icomoon.svg?t60pg3#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="caution-"],
[class*=" caution-"] {
  font-family: "caution" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.caution-caution:before {
  content: "\e895";
  font-size: 45px;
}

@font-face {
  font-family: "reset";
  src: url("../icons/resetpassword/fonts/icomoon.eot?t60pg3");
  src: url("../icons/resetpassword/fonts/icomoon.eot?t60pg3#iefix")
      format("embedded-opentype"),
    url("../icons/resetpassword/fonts/icomoon.ttf?t60pg3") format("truetype"),
    url("../icons/resetpassword/fonts/icomoon.woff?t60pg3") format("woff"),
    url("../icons/resetpassword/fonts/icomoon.svg?t60pg3#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="reset-"],
[class*=" reset-"] {
  font-family: "reset" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.reset-caution:before {
  content: "\e91b";
  font-size: 200px;
}

.reset-cancel:before {
  content: "\e91f";
  font-size: 50px;
}

.reset-done:before {
  content: "\e91e";
  font-size: 55px;
}

.reset-attention-new:before {
  content: "\e90f";
}

.reset-complete-new:before {
  content: "\e90f";
  font-size: 200px;
}

.reset-error-new:before {
  content: "\e90f";
}

@font-face {
  font-family: "export";
  src: url("../icons/export/icomoon.eot?t60pg3");
  src: url("../icons/export/icomoon.eot?t60pg3#iefix")
      format("embedded-opentype"),
    url("../icons/export/icomoon.ttf?t60pg3") format("truetype"),
    url("../icons/export/icomoon.woff?t60pg3") format("woff"),
    url("../icons/export/icomoon.svg?t60pg3#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="export-"],
[class*=" export-"] {
  // font-family: "export" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.export-export:before {
  content: "\e9100";
  font-size: 25px;
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?t60pg3");
  src: url("../fonts/icomoon.eot?t60pg3#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?t60pg3") format("truetype"),
    url("../fonts/icomoon.woff?t60pg3") format("woff"),
    url("../fonts/icomoon.svg?t60pg3#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="iconU-"],
[class*=" iconU-"] {
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'export2';
  src:  url('../icons/export2/icomoon.eot?fhfiso');
  src:  url('../icons/export2/icomoon.eot?fhfiso#iefix') format('embedded-opentype'),
    url('../icons/export2/icomoon.ttf?fhfiso') format('truetype'),
    url('../icons/export2/icomoon.woff?fhfiso') format('woff'),
    url('../icons/export2/icomoon.svg?fhfiso#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="exp-"], [class*=" exp-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'export2' !important;
  // speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.exp-PDF:before {
  content: "\e699";
  font-size: 1.75rem;
  color: #F94548;
}
.exp-XLS:before {
  content: "\e700";
  font-size: 1.75rem;
  color: #05E0BD;
}
@font-face {
  font-family: 'number';
  src:  url('../icons/Number/icomoon.eot?2d3she');
  src:  url('../icons/Number/icomoon.eot?2d3she#iefix') format('embedded-opentype'),
    url('../icons/Number/icomoon.ttf?2d3she') format('truetype'),
    url('../icons/Number/icomoon.woff?2d3she') format('woff'),
    url('../icons/Number/icomoon.svg?2d3she#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="number-"], [class*=" number-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'number' !important;
  // speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.number-number-1:before {
  content: "\e90c";
  font-size: 2rem;
  margin-top: 2px;
  padding-right: 2px;
}
.number-number-2:before {
  content: "\e90a";
  font-size: 2rem;
  margin-top: 2px;
  padding-right: 2px;
}
.iconU-stockMovement:before {
  content: "\e90e";
}
.iconU-user:before {
  content: "\e910";
}
.iconU-dashboard:before {
  content: "\e911";
}
.iconU-purchaseOrder:before {
  content: "\e915";
}
.iconU-report:before {
  content: "\e912";
}
.iconU-salesOrder:before {
  content: "\e916";
}
.iconU-stockHolding:before {
  content: "\e90f";
}
// .iconU-i:before {
//   content: "\e90c";
// }
.iconU-circledChecked:before {
  content: "\e920";
}
.iconU-checked:before {
  content: "\e91f";
}
.iconU-close:before {
  content: "\e929";
}
.iconU-delete:before {
  content: "\e925";
}
.iconU-edit:before {
  content: "\e924";
}
.iconU-filter:before {
  content: "\e918";
}
.iconU-information:before {
  content: "\e901";
}
.iconU-leftArrow:before {
  content: "\e907";
}
.iconU-rightArrow:before {
  content: "\e906";
}
.iconU-upArrow:before {
  content: "\e91c";
}
.iconU-upArrows:after {
  content: "\e91c";
}
.iconU-downArrow:after {
  content: "\e91b";
}
.iconU-one:before {
  content: "\e905";
}
.iconU-two:before {
  content: "\e904";
}
.iconU-three:before {
  content: "\e903";
}
.iconU-option:before {
  content: "\e91e";
}
.iconU-question:before {
  content: "\e927";
}
.iconU-calendar:before {
  content: "\e928";
}
.iconU-lastPage:before {
  content: "\e908";
}
.iconU-firstPage:before {
  content: "\e909";
}
.iconU-search:before {
  content: "\e913";
}
.iconU-field-dropdown:before {
  content: "\e91b";
}
.iconU-createModal:before {
  content: "\e90b";
}
.iconU-logout:before {
  content: "\e90a";
}

@font-face {
    font-family: 'success';
    src:  url('../icons/success/icomoon.eot?2msbna');
    src:  url('../icons/success/icomoon.eot?2msbna#iefix') format('embedded-opentype'),
      url('../icons/success/icomoon.ttf?2msbna') format('truetype'),
      url('../icons/success/icomoon.woff?2msbna') format('woff'),
      url('../icons/success/icomoon.svg?2msbna#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'success' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-Icon_done:before {
    content: "\e222";
    font-size: 200px;
  }
  .icon-Icon_reset:before {
    content: "\e223";
  }
  
  
  @font-face {
    font-family: 'Message';
    src:  url('../icons/Message/icomoon.eot?d6zow5');
    src:  url('../icons/Message/icomoon.eot?d6zow5#iefix') format('embedded-opentype'),
      url('../icons/Message/icomoon.ttf?d6zow5') format('truetype'),
      url('../icons/Message/icomoon.woff?d6zow5') format('woff'),
      url('../icons/Message/icomoon.svg?d6zow5#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="msg-"], [class*=" msg-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Message' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .msg-Icon_Reload:before {
    content: "\e226";
    font-size: 130px;
  }
  .msg-Icon_Caution:before {
    content: "\e227";
    font-size: 130px;
  }
  .msg-Icon_Complete:before {
    content: "\e902";
    font-size: 130px;
  }

  @font-face {
    font-family: 'Reload';
    src:  url('../icons/Reload/icomoon.eot?spwkco');
    src:  url('../icons/Reload/icomoon.eot?spwkco#iefix') format('embedded-opentype'),
      url('../icons/Reload/icomoon.ttf?spwkco') format('truetype'),
      url('../icons/Reload/icomoon.woff?spwkco') format('woff'),
      url('../icons/Reload/icomoon.svg?spwkco#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="reload_"], [class*=" reload_"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Reload' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .reload_button:before {
    content: "\e223";
    font-size: 55px;
  }
  
  