{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false
  },
  "extends": [
    "airbnb",
    "prettier"
  ],
  "env": {
    "browser": true,
    "jest": true
  },
  "rules": {
    "react/jsx-props-no-spreading": [
      "off"
    ],
    "prefer-promise-reject-errors": [
      "off"
    ],
    "react/jsx-filename-extension": [
      "off"
    ],
    "react/prop-types": [
      "warn"
    ],
    "no-return-assign": [
      "off"
    ],
    "beforeSelfClosing": "off",
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "max-classes-per-file": [
      "off"
    ],
    "jsx-a11y/label-has-associated-control": [
      "off"
    ],
    "no-param-reassign": 0,
    "no-restricted-syntax": [
      "error",
      "WithStatement",
      "ForInStatement",
      "LabeledStatement"
    ],
    "react/jsx-indent": [
      "off"
    ],
  },
  "ignorePatterns": [
    "build/*"
  ],
}