/* Sales Order List */
.sales-order .input-group,
.sales-order .input-group input,
.sales-order-create input.form-control {
  height: 40px !important;
  border-color: #e4e7ea !important;
}
.sales-order .c-subheader-nav-link {
  margin-right: 15px;
}

/* Sales Order Detail */
.sales-order-detail .section-1 .col {
  line-height: 2;
}
.sales-order-detail .card {
  box-shadow: none !important;
}
@media (min-width: 800px) {
  .sales-order-detail .border-right {
    border-right: 2px solid #eee !important;
  }
}

/* Sales Order Create */
.required::after {
  content: " *";
  color: #e55353;
}
.nav-tabs {
  margin-left: 26px;
  border: none;
}
.tab-content {
  padding: 0;
  margin: 0;
  background-color: #fff;
  color: #000;
}
.modal .nav-link {
  background-color: #eee;
  color: #959da0;
  border: none;
  font-size: 20px;
  padding-left: 20px;
}
.modal .nav-link.active {
  background-color: #fff;
  color: #376bfb;
}
.sales-order-create textarea {
  min-height: 35px !important;
}
.sales-order-create .modal-desc {
  padding-left: 36px;
}
.sales-order ::placeholder,
.sales-order-create ::placeholder,
.sales-order-create .css-1wa3eu0-placeholder {
  color: #b4b9bb !important;
}
.sales-order-create .orderline table {
  z-index: 99 !important;
}
.sales-order-create .orderline .c-1 {
  width: 50px;
}
.sales-order-create .orderline .c-2 {
  width: 100px;
}
.sales-order-create .orderline .c-3 {
  width: 150px;
}
.sales-order-create .orderline .c-4 {
  width: 200px;
}
.w-400 {
  width: 400px !important;
}
.w-600 {
  width: 600px !important;
}
.orderline-row td {
  vertical-align: top;
}
.orderline-row td *{
  z-index: 999;
}
