/* Sales Order List */
.sales-order .table-responsive{
  height: 75vh;
}


/* Sales Order Detail */
.sales-order-detail .section-1 .col{
  padding: 5px 20px;
}
.sales-order-detail .table-responsive{
  height: 48vh;
}