.required::after {
  content: " *";
  color: #e55353;
}

/* Sales Order List */
.sales-order .input-group input {
  border-color: #ced4da;
}

/* Sales Order Detail */
.sales-order-detail .section-1 .col {
  padding: auto 20px;
}

/* Sales Order Create */
.nav-tabs {
  margin-left: 26px;
}
.tab-content {
  padding: 0;
  margin: 0;
  background-color: #fff;
  color: #000;
}
.modal .nav-link {
  background-color: #e9eced;
  color: #959da0;
}
.sales-order-create .modal-desc {
  padding-left: 36px;
}
.sales-order-create label {
  color: #b4b9bb;
  margin-bottom: 0;
}
.sales-order-create .orderline table {
  z-index: 99 !important;
}
/* .sales-order-create .orderline [class*="col-"] {
  padding: 0 10px !important;
} */
.sales-order-create .orderline .c-1 {
  width: 50px;
}
.sales-order-create .orderline .c-2 {
  width: 100px;
}
.sales-order-create .orderline .c-3 {
  width: 150px;
}
.sales-order-create .orderline .c-4 {
  width: 200px;
}
.sales-order-create .orderline-row {
  position: sticky;
  z-index: 99;
}
