/* Sales Order List */
.sales-order {
  .row{
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .c-subheader-nav-link {
    margin-right: 15px;
  }
  .card{
    .card-body{
      .row{
        .col-lg-9{
          @media (max-width:991px){
            padding: 1rem 0rem 0rem 0rem !important;
            .col-lg-2{
              padding: 0rem !important;
            }
            .col-lg-2:nth-child(2){
              padding: 1rem 0rem !important;
            }
            .col-lg-2:nth-child(4){
              padding: 1rem 0rem !important;
            }
            .col-lg-2:last-child{
              padding: 1rem 0rem 0rem 0rem !important;
            }
          }
          @media (max-width:592px){
            .col-lg-2:last-child{
              .btn{
                width: 100% !important;
              }
            }
          }
        }
      }
    }
  }
  
}

/* Sales Order Detail */
.sales-order-detail {
  .section-1 .col {
    line-height: 2;
  }
  .card {
    box-shadow: none !important;
  }
}

/* Sales Order Create */
.sales-order-create {
  .required::after {
    content: " *";
    color: #e55353;
  }
  textarea {
    min-height: 35px !important;
  }
  .modal-desc {
    padding-left: 36px;
  }
  .text-error {
    padding-left: 10px;
  }
  .orderline-row td {
    vertical-align: top;
  }
  .orderline .absolute {
    position: absolute !important;
    z-index: 99;
  }
  .orderline .right {
    right: 22% !important;
  }

} 

// .orderline [class*="css-"][class*="-menu"]{
//   z-index: 999 !important;
//   position: absolute !important;
// }
// .orderline [class*="css-"][class*="-control"]{
//    z-index: 999 !important;
//    position: absolute !important;
// }

@media (min-width: 800px) {
  .sales-order-detail .border-right {
    border-right: 2px solid #eee !important;
  }
}
