.pdf-icon {
  background-image: url(../../assets/vendors/pdf_icon.png);
  background-position: left center;
  background-repeat: no-repeat;

  padding-left: 35px; /* Or size of icon + spacing */
}
.excel-icon {
  background-image: url(../../assets/vendors/excel_icon.png);
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 35px; /* Or size of icon + spacing */
}

.Dropdown-toggel {
  display: inline-flex;
  background-color: #376bfb;
  border-radius: 0.25rem !important;
}

.Dropdown-toggel:hover,
.Dropdown-toggel:active,
.Dropdown-toggel:focus {
  background-color: #376bfb;
  color: white;
}
.Dropdown-menu {
    margin-top: -101px !important;
    background-color: #fff;
    margin-left: -80px;
    margin-bottom: 1px !important;
    padding-top: 14px;
    transform: translate3d(20px, -1px, 0px);
}
.Excel-bottom {
  border: solid 0px;
  color: rgb(90, 74, 74);
  background-color: transparent;
  padding-left: 0px;
}
.export-ml {
  margin-left: 48px;
}
.export-pdf {
  border: solid 2px #e8e8e8;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  margin-top: -14px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.export-excel {
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  margin-top: -2px;
  border: solid 2px #e8e8e8;
  padding-top: 10px;
  padding-bottom: 10px;
}
.export-pdf:focus,
.export-excel:focus,
.export-excel .Excel-bottom:focus {
  background: #f8f2f2 !important;
  outline: #f8f2f2 !important;
  color: #4f5d73 !important;
}
.dropdown-menu.dropdown-single {
  padding: 0 !important;
  /* bottom: 0% !important; */
  margin-top: -45px !important;
  background-color: rgb(255, 255, 255);
  margin-left: -37px;
  margin-bottom: 5px !important;
}

.Dropdown-toggel:hover {
  color: #fff;
  background-color: #124ffa;
}
.only-pdf{
  left: -0.7rem !important
}
