.Dropdown-toggel {
  display: inline-flex;
  background-color: #376bfb;
  border-radius: 0.25rem !important;
}

.Dropdown-toggel:hover,
.Dropdown-toggel:active,
.Dropdown-toggel:focus {
  background-color: #376bfb;
  color: white;
}
.Dropdown-menu {
    margin-top: -101px !important;
    background-color: transparent;
    margin-left: -59px;
    padding-top: 8px;
    transform: translate3d(20px, -1px, 0px);
}
.Excel-bottom {
  border: solid 0px;
  color: rgb(90, 74, 74);
  background-color: transparent;
  padding-left: 0px;
}
.export-ml {
  margin-left: 48px;
}
.export-pdf {
  border: solid 1px #d8d9da;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  margin-top: -14px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
}

.export-excel {
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  margin-top: -2px;
  border: solid 1px #d8d9da;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
}
.export-pdf:focus,
.export-excel:focus,
.export-excel .Excel-bottom:focus {
  background: #f8f2f2 !important;
  outline: #f8f2f2 !important;
  color: #4f5d73 !important;
}
.dropdown-menu.dropdown-single {
  padding: 0 !important;
  margin-top: -56px !important;
  background-color: rgb(255, 255, 255);
  margin-left: -37px;
  margin-bottom: 5px !important;
}
.radius-top-export{
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
}

.Dropdown-toggel:hover {
  color: #fff;
  background-color: #124ffa;
}
.only-pdf{
  left: -0.7rem !important
}
.icon-group_4672{
  font-size: 1.75rem;
}
.icon-group_4671{
  font-size: 1.75rem;
}
.export-excel:hover {
  color: #05E0BD;
}
.export-pdf:hover {
  color: #F94548;
}
.btn-export {
  height: 40px !important;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
}
