.card {
  border-radius: 0px;
}

@media (max-width: 575px) {
  .mobile-input {
    padding-right: 0;
    margin-bottom: 15px;
  }
  .mobile-site {
    margin-bottom: 15px;
  }
  .mobile-client {
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-bottom: 15px;
  }
  .mobile-status {
    margin-bottom: 15px;
  }
  .mobile-type {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 15px;
  }
  .mobile-task {
    margin-bottom: 15px;
  }
  .mobile-search {
    width: 100%;
  }
}
@media (min-width: 581px) and (max-width: 991px) {
  .mobile-input {
    padding-right: 0;
    margin-bottom: 15px;
  }
  .mobile-site {
    margin-bottom: 15px;
  }
  .mobile-type {
    padding-right: 0;
    padding-left: 0;
  }
  .mobile-task {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }
}
