html {
  height: 100vh;
  width: 100vw;
}
.login {
  background-image: url('../../../assets/img/brand/Login-Background-Fin.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  font-size: 110%;
}
a {
  text-decoration: none !important;
  cursor: pointer;
}
.logo {
  width: 100px;
}
.offset-lg-1 {
  margin-left: 4%;
}
.card {
  width: 500px;
}
.card-body {
  padding: 30px !important;
}
.inputLogin {
  width: 85% !important;
  border-radius: 10px !important;
  font-size: 110% !important;
}
/* ::placeholder,
::-webkit-input-placeholder,
:-ms-input-placeholder {
  font-size: 110% !important;
} */
.btn-login {
  height: 50px;
  font-size: 110%;
}
.links a,
.links span {
  color: #cbcbcb;
  font-size: 90% !important;
}
.error {
  height: 80px;
  padding-top: 20px;
  color: #f44336;
}
.copyright a {
  color: #fff;
}
@media (max-width: 768px) {
  .login {
    font-size: 90%;
    background-size: cover;
  }
}

.email-message{
  font-size: small;
  color: #959DA0;
  margin-left: 1em;
}

.form-show{
  opacity: 1;
  transition: opacity 0.1s;
}

.form-hidden{
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.1s;
}

.form-login-change{
  color: #3B69F6;
  cursor: pointer;
}