.stock-age-profile > .ReactTable > .rt-table > .rt-tbody {
  min-width: 1600px !important;
}
.stock-age-profile > .ReactTable > .rt-table > .-headerGroups {
  min-width: 1600px !important;
}
.stock-age-profile > .ReactTable > .rt-table > .-header {
  min-width: 1600px !important;
}

.c-sidebar-item {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.c-app:not(.c-legacy-theme):not(.c-dark-theme) .card {
  box-shadow: none !important;
}

.l-r-0 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/* scrollbar */
.stock-age-profile > .rt-tbody::-webkit-scrollbar {
  width: 8px !important;
}

.stock-age-profile > .rt-tbody::-webkit-scrollbar-thumb {
  background-color: #b4b9bb;
  border-radius: 15px !important;
}
/* ---------------------------------------- */

.stock-age-profile > .ReactTable .rt-thead > .rt-tr > .p-r-2 {
  padding-left: 2rem !important;
  width: 50px !important;
}

.stock-age-profile > .ReactTable .rt-thead > .rt-tr > .w-200 {
  width: 200px !important;
}
.stock-age-profile > .ReactTable .rt-thead > .rt-tr > .w-50 {
  width: 50px !important;
}
.stock-age-profile > .rt-tr-group > .rt-tr > .rt-td:first-child {
  padding-left: 2rem !important;
  width: 50px !important;
}

.stock-age-profile > .rt-tr-group > .rt-tr > .w-200 {
  width: 200px !important;
}

.stock-age-profile > .rt-tr-group > .rt-tr > .w-50 {
  width: 50px !important;
}

.stock-age-profile > .ReactTable .rt-td {
  white-space: pre-wrap !important;
}

.stock-age-profile
  > .ReactTable
  .rt-thead
  > .rt-tr
  > .link-color
  > div
  > .text-light-gray {
  color: #3366ff !important;
  padding-top: 0px !important;
}

.stock-age-profile > .ReactTable .rt-thead > .rt-tr > .padding-top-0 {
  margin-top: -15px !important;
}

.stock-age-profile > .ReactTable .rt-thead > .rt-tr > .link-color {
  padding-top: 0px !important;
}

.stock-age-profile > .ReactTable .rt-thead.-headerGroups {
  background: white !important;
  border-bottom: none !important;
  color: #b4b9bb !important;
}

.stock-age-profile > .ReactTable .rt-thead.-headerGroups:focus {
  color: #b4b9bb !important;
}

.stock-age-profile
  > .ReactTable
  .rt-thead.-headerGroups
  > .rt-tr
  > .rt-th:focus {
  color: #b4b9bb !important;
  border: 0px solid !important;
  outline: none !important;
}

.stock-age-profile > .ReactTable .rt-thead.-header > .rt-tr > .rt-th:focus {
  outline: none !important;
}
.card > .card-body > .row > div > .input-group > .form-control {
  padding-left: 0px;
}
.card > .card-body > .row > div > .input-group > .form-control:focus {
  outline-color: grey !important;
  /* border: 1px solid #e4e7ea;
  border-top: grey !important;
  border-right: #e4e7ea !important;
  border-bottom: #e4e7ea !important; */
}

.stock-age-profile > .ReactTable .rt-thead.-headerGroups > .rt-tr > .rt-th {
  padding-bottom: 0px !important;
  height: 30px;
  padding-top: 0.4rem !important;
}

.stock-age-profile > .ReactTable > .rt-table > .rt-thead > .rt-tr > .rt-th {
  border-bottom: none !important;
}

.stock-age-profile > .ReactTable .rt-thead.-header > .rt-tr > .rt-th {
  height: 30px;
  margin-top: -5px;
}

.stock-age-profile > .ReactTable .rt-thead.-header {
  height: 20px !important;
}

.stock-age-profile > .rt-tr > .border-right {
  border-right: 1px solid #b4b9bb !important;
}
.stock-age-profile > .rt-tr > .border-left {
  border-left: 1px solid #b4b9bb !important;
}

.stock-age-profile > .rt-tr > .border-left:first-child {
  border-left: none !important;
}

.stock-age-profile > .rt-tr > .padding-top-0 {
  padding-top: 0px !important;
}

/* Search Component */
.c-app:not(.c-legacy-theme):not(.c-dark-theme)
  .btn:not([class*="ghost"]):not([class*="link"]):not([class*="outline"]):not([class*="transparent"]) {
  letter-spacing: 0px !important;
  text-transform: uppercase !important;
  align-items: center;
}

.css-g1d714-ValueContainer {
  padding: 2px 15px !important;
}

.input-group,
.input-group > .form-control,
.css-yk16xz-control,
.btn-block,
.css-g1d714-ValueContainer,
.css-1pahdxg-control {
  max-height: 50px !important;
  height: 50px !important;
}

/* .w-4vw > button {
  width: 5vw !important;
}

@media (max-width: 1581px) {
  .w-4vw > button {
    width: 6vw !important;
  }
}
*/
@media (max-width: 990px) {
  .card-body > .row > .col-lg-9 {
    padding-left: 0px !important;
  }
  .card-body > .row > .col-lg-9 > .l-r-0 > .col-lg-2 {
    padding-left: 0px !important;
  }
  .card-body > .row > .col-lg-9 > .l-r-0 > .col-lg-1 {
    padding-left: 0px !important;
  }
}

/* @media (min-width: 999px) {
  .col-lg-1 {
    max-width: 15.33333% !important;
  }
  .col-lg-7 {
    max-width: 50.99% !important;
  }
} */

/* -------------------------------------------------------------- */

.rt-resizable-header-content {
  color: #b4b9bb;
}

@media (min-width: 768px) {
  .c-main > .container-fluid,
  .c-main > .container-sm,
  .c-main > .container-md,
  .c-main > .container-lg,
  .c-main > .container-xl {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

/* pagination */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
