.table-detail {
  .rt-tbody .rt-tr-group:hover {
    background-color: #fff !important;
    cursor: default !important;
  }
}
.display-paging {
  display: none !important;
}

.stockDetails {
  .nav-link {
    padding-left: 16px !important;
  }
}

.number-number-2 {
  padding-top: 1px;
}
