.table-detail {
 
  .rt-tbody .rt-tr-group:hover {
    background-color: #fff !important;
    cursor: default !important;
  }
}

.stock-detail{
  .ReactTable .rt-table{
    border-radius: 0px 4px 4px 4px !important;
  }
}

.display-paging {
  display: none !important;
}

.stockDetails {
  .nav-link {
    padding-left: 16px !important;
  }
}

.newIcon-stock_balance{
  font-size: 2rem;
  padding-right: 10px;
}
.newIcon-stock_details{
  font-size: 2rem;
  padding-right: 10px;
}