/* Global */

.tabisactive {
    background-color: white;
    color: #3366FF !important;
}


/* 768p Resolution */
@media(max-width: 1800px){
    .POCreate > .modal-content {
        position: absolute;
        width: 240% !important;
        margin-left: -69%;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    
    
    .btnLabel{
        margin-right: 1em;
    }
    
    .font {
        font-family: "Helvetica Neue Medium" !important;
        font-size: 134%;    
        cursor: pointer;
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .crt {
        padding-top: 0px;
        height: 3em;
        vertical-align: middle;
        font-size: small;
    }
    
    .tab-review{
        min-width: 30%;
    }
    
    .iconU-edit {
        margin-right: 5%;
        margin-top: 3% !important;
        vertical-align: middle !important;
        cursor: pointer;
    }
}
@media(max-width: 1500px){
    .POCreate > .modal-content {
        position: absolute;
        width: 220% !important;
        margin-left: -58%;
        margin-top: 10%;
        margin-bottom: 10%;
    }
}
@media(max-width: 1400px){
    .POCreate > .modal-content {
        position: absolute;
        width: 195% !important;
        margin-left: -46%;
        margin-top: 10%;
        margin-bottom: 10%;
    }
} 

.po-required{
    /* margin-top: 9% !important; */
    font-size: 13px;
}

.so-add-line{
    margin-top: 1%;
  }
  
.isDatepickerShow{
    padding-top: 360px;
    margin-top: -360px;
}