.modal-content-paging .modal-body {
  border: 0px !important;
  font-size: 18px;
  padding-right: 20px;
}

.box-er-pagination {
  border-top: 2px #a2a3a7 solid !important;
  border-left: 2px #a2a3a7 solid !important;
  border-right: 2px #a2a3a7 solid !important;
  border-bottom: 2px #a2a3a7 solid !important;
}

//DarkMode
.customDarkModes{
  background-color: #3e3846 ;
  .fontDes{
    color: #fff
  }
}