/* Disable SCroll */
html, body {margin: 0; height: 100%; overflow: hidden}

.dot {
	height: 4px;
	width: 4px;
	background-color: #BBB;
	border-radius: 50%;
	display: inline-block;
	margin-left: 2px;
}

.form-control:focus {
	box-shadow: none;
}

.select, .expand-style, .select-items, .select-options, .select-option {
	position: relative;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border-color: inherit;
	z-index: 2;
}

.select-close, .select-expand, .select-input {
	color: inherit;
	font: inherit;
	margin: 0;
	background: transparent;
	outline: none;
	border: none;
	border-radius: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.select {
	width: 150px;
	height: 40px;
	cursor: pointer;
	list-style: none;
	background-color: #EAF3FA;
	box-shadow: 0 2px 0 #EAF3FA;
	border-radius: 32px;
	transition: ease-in;
	z-index: 1;
}

.expand {
	border-top-left-radius: 22px;
	border-top-right-radius: 22px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	transition: ease-in;
	border-bottom: solid #388DCD 2px;
	transition: border-top-left-radius .5s ease, border-top-right-radius .5s ease, border-bottom .5s ease;
	z-index: 2;
}

.select-expand {
	width: 0;
	height: 40px;
	position: absolute;
	top: 0;
	right: 10px;
}

.select-expand::after {
	content: '\003E';
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translate(-50%, -50%) rotate(90deg) scaleY(1.75);
	transform: translate(-50%, -50%) rotate(90deg) scaleY(1.75);
	color: #388DCD;
	font-size: 16px;
	pointer-events: none;
	transition: all 250ms cubic-bezier(.4,.25,.3,1);
	opacity: .6;
}

.select-expand:hover::after {
	opacity: 1;
}

.select-expandLabel {
	display: block;
	width: 100%;
	height: 50px;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
    margin-bottom: 0 !important;
}

.select-close {
	display: none;
}

.select-closeLabel {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	margin-bottom: 0 !important;
}

.select-items {
	list-style: none;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 2px;
	padding-top: 40px;
}

.select-input {
	display: none;
}

.select-options{
	list-style: none;
}

.select-label {
	transition: all 250ms cubic-bezier(.4,.25,.3,1);
	display: block;
	height: 0;
	font-family: 'Nunito';
	font-size: 16px;
	line-height: 40px;
	overflow: hidden;
	color: #388DCD;
	background-color: #EAF3FA;
	cursor: pointer;
	padding-left: 20px;
    margin-bottom: 0 !important;
}

.select-label-placeholder {
	height: 40px;
	vertical-align: middle;
	position: absolute;
	top: 0;
	left: 0;
	/* opacity: .6; */
	background-color: transparent;
	font-weight: bold;
}

.select-expand:checked + .select-closeLabel {
	display: block;
}

.select-expand:checked + .select-closeLabel + .select-options .select-label {
	height: 40px;
}

.select-expand:checked + .select-closeLabel + .select-options .select-label:hover {
	background-color: #f7f7f7
}

.select-expand:checked + .select-closeLabel + .select-options + .select-expandLabel {
	display: none;
}

.select-input:checked + .select-label {
	height: 40px;
	margin-top: -40px;
	border-radius: 32px;
}

.select-expand:checked + .select {
	display: block;
}

.select-expand:checked + .expand-style {
	width: 225px;
	height: 50px;
	cursor: pointer;
	background-color: #EAF3FA;
	box-shadow: 0 2px 0 #EAF3FA;
	border-top-left-radius: 32px;
	border-top-right-radius: 32px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.option-radius {
	border-bottom-left-radius: 22px;
	border-bottom-right-radius: 22px;
}

.filter-label {
	padding-top: 9px;
	margin-right: 2rem !important;
}

.filter-show{
	background-color: #F7F8FC;
    padding: 22px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 152px;
	height: 40px;
	border-radius: 33px;
}

.filter-label-show{
	text-align: left;
	font-family: 'Nunito';
	font-size: 16px;
	color: #388DCD;
}

.filter-show-btn {
	background-color: #FFFFFF;
	padding: 0rem 0.4rem;
	border-radius: 100%;
	border: none;
	float: right;
}

.filter-close-icon {
	color: #388DCD;
	font-size: 8px;
}


/* Checkbox Style */
.cbx-filter {
	margin: auto;
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
}

.cbx-filter span {
	display: inline-block;
	vertical-align: middle;
}

.cbx-filter span:first-child {
	position: relative;
	width: 18px;
	height: 18px;
	transform: scale(1);
	vertical-align: middle;
	border: 1px solid #9098A9;
	background-color: #FFFFFF;
	transition: all 0.2s ease;
}

.cbx-filter span:first-child svg {
	position: absolute;
	top: 3px;
	left: 2px;
	fill: none;
	stroke: #FFFFFF;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-dasharray: 16px;
	stroke-dashoffset: 16px;
	transition: all 0.3s ease;
	transition-delay: 0.1s;
}

.cbx-filter span:last-child {
	padding-left: 8px;
}

.cbx-filter:hover span:first-child {
	border-color: #388DCD;
}

.inp-cbx-filter:checked + .cbx-filter span:first-child {
	background: #388DCD;
	border-color: #388DCD;
}

.inp-cbx-filter:checked + .cbx-filter span:first-child svg {
	stroke-dashoffset: 0;
}

.inp-cbx-filter:checked + .cbx-filter span:first-child:before {
	opacity: 0;
	transition: all 0.6s ease;
}

.button-dropdown-display-block{
    display: block !important;
}

button.btnWhite.btn.btn-outline-dark.btn-block:hover a {
	background-color: #fde80f;
}

button.btnWhite.btn.btn-outline-dark:hover a {
    background-color: #fde80f;
}

.float-right {
    float: right !important;
}

.form-check {
    position: relative;
    display: block;
    padding-left: 1.25rem; }

.form-check-input {
    position: absolute;
    margin-top: 0.3rem;
    margin-left: -1.25rem;
}

.form-check-input:disabled ~ .form-check-label {
    color: #73818f;
}

.form-check-label {
    margin-bottom: 0;
}

.form-check-inline {
    display: inline-flex;
    align-items: center;
    padding-left: 0;
    margin-right: 0.75rem;
}

.form-check-inline .form-check-input {
    position: static;
    margin-top: 0;
    margin-right: 0.3125rem;
    margin-left: 0;
}

.breadcrumb-active-title{
    color: #3366FF;
}

.tablePage1 {
	max-height: 650px !important;
	min-height: 450px !important;
	/* overflow-y: scroll; */
	font-size: 1.1em;
	padding-right: 1px;
	padding-left: 1px;
}


.arrow {
	margin-left: 7px !important;
	width: 0.7em;
}

.shtable {
	width: 100%;
}

.shtable th {
	border-bottom: 1px solid #D5D8DA !important;
	height: 45px !important;
	cursor: pointer;
	font-size: 15px;
}

th {
	font-family: "Helvetica Neue Bold";
	color: #B4B9BB;
	padding-left: 16px;
}

td {
	font-family: "Helvetica Neue Regular";
	color: #637175;
	padding-left: 10px;
}

.shtable tr {
	border-bottom: 1.5px solid #f0f0f0 !important;
	height: 45px !important;
	font-size: 1rem;
}
.tr1 {
	border-bottom: 1.5px solid #E2E2E2 !important;
}

tbody>.tr1:hover {
	background-color: #f0f0f0 !important;
	cursor: pointer;
}

@media(max-width: 1500px){
	.arrow{
		margin-left: 5px !important;
		width: 0.5em;
	}
	
	.shtable{
		width: 100%;
	}
	
	.shtable th {
		border-bottom: 2px solid #E2E2E2 !important;
		height: 45px !important;
		cursor: pointer;
		font-size: 1em;
		padding: 0.5rem 0.5rem 0.5rem 1rem
	}
	
	.shtable tr {
		border-bottom: 1.5px solid #f0f0f0  ;
		height: 45px !important;
		font-size: 12px;
	}
	.tr{
		border-bottom: 1.5px solid #E2E2E2 !important;
		width: 100%;
	}
	
	.tr:hover{
		background: #f0f0f0 !important;
		cursor: pointer;
	}
	
	th{
		font-family: "Helvetica Neue Bold";
		color: #B4B9BB;
		padding-left: 10px;
	}
	td{
		font-family: "Helvetica Neue Regular";
		color: #637175;
	}
}
@media(min-width: 1500px){
	.arrow{
		margin-left: 7px !important;
		width: 9px;
		font-weight: bold;
	}
	
	.shtable{
		width: 100%;
	}
	
	.shtable th {
		border-bottom: 1px solid #D5D8DA;
		height: 45px !important;
		cursor: pointer;
		font-size: 1rem;
		padding: 0.5rem 1rem 0.5rem 1rem
	}
	
	.shtable tr {
		border-bottom: 2px solid #f0f0f0  !important;
		height: 45px !important;
		font-size: 1rem;
	}
	.tr:hover{
		background: #f0f0f0 !important;
		cursor: pointer;
	}
	
	th{
		font-family: "Helvetica Neue Bold";
		color: #B4B9BB;
	}
	td{
		font-family: "Helvetica Neue Regular";
		color: #637175;
	}

	/* .btnsearch{
		flex: 0 0 16.66667%;
		max-width: 16.66667%;
		margin: 0;
	} */
}
 

.xlsHeaderAlign {
	text-align: left !important;
}

.cardSH{
	width: 100% !important;
}

.cardbodySH{
	padding: 0px !important;
}

@media(max-width: 2750px) { /* //zoom 50% */
	.tablePageSh{
		max-height: 800px !important; 
		min-height: 800px !important; 
	}
}
@media(max-width: 2100px) { /* //zoom 67% */
	.tablePageSh{
		max-height: 490px !important;
		min-height: 490px !important;
	}
}
@media(max-width: 1830px) {  /* //zoom 75% */
	.tablePageSh{
		max-height: 390px !important;
		min-height: 390px !important;
	}
}
@media(max-width: 1710px) {  /* //zoom 80% */
	.tablePageSh{
		max-height: 342px !important;
		min-height: 342px !important;
	}
}
@media(max-width: 1520px) {  /* //zoom 90% */
	.tablePageSh{
		max-height: 250px !important;
		min-height: 250px !important;
	}
}
@media(max-width: 1366px) {  /* //zoom 100% */
	.tablePageSh{
		max-height: 185px !important;
		min-height: 185px !important;
	}
}
@media(max-width: 1242px) {  /* //zoom 110% */
	.tablePageSh{
		min-height: 90px !important;
		max-height: 90px !important;
	} 
}  