/* ∞∞ global ∞∞ */
.select_dropdown, .expand-style, .select_dropdown_items, .select_dropdown_options, .select_dropdown_option {
	position: relative;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border-color: inherit;
}

/* ∞∞ Input elements ∞∞ */
.select_dropdown_close, .select_dropdown_expand, .select_dropdown_input {
  	color: inherit;
  	font: inherit;
  	margin: 0;
  	background: transparent;
		outline: none;
		border: none;
		border-radius: 0;
		-webkit-appearance: none;
		   -moz-appearance: none;
		        appearance: none;
}

.select_dropdown {
	width: 150px;
	height: 50px;
	margin-right: 1em;
	cursor: pointer;
	list-style: none;
	background-color: #FFFFFF;
	border-radius: 5px;
	border: 1px solid #D5D8DA;
    z-index: 2;
}

.select_dropdown:hover, .select_dropdown:focus-within{
	transition: 0.2s ease-in;
	border: 1px solid #D5D8DA !important;
}

.select_dropdown_expand {
	width: 0;
	height: 50px;
	position: absolute;
	top: 0;
	right: 10px;
}

.select_dropdown_expand::after {
	content: '\003E';
    position: absolute;
    top: 50%;
    right: 8px;
    -webkit-transform: translate(-50%, -50%) rotate(90deg) scaleY(1.75);
    transform: translate(-50%, -50%) rotate(90deg) scaleY(1.75);
    font-weight: 500;
    font-size: 10px;
    pointer-events: none;
    z-index: 2;
    -webkit-transition: all 250ms cubic-bezier(.4,.25,.3,1);
    transition: all 250ms cubic-bezier(.4,.25,.3,1);
}

.select_dropdown_expand:hover::after {opacity: 1}

.select_dropdown_expand:checked::after {
	-webkit-transform: translate(-50%, -50%) rotate(90deg) scaleX(-1) scaleY(1.75);
	transform: translate(-50%, -50%) rotate(90deg) scaleX(-1) scaleY(1.75);
}
		
.select_dropdown_expandLabel {
	display: block;
	width: 100%;
	height: 50px;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}

.select_dropdown_close {display: none}

.select_dropdown_closeLabel {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
}

.select_dropdown_items { 
	list-style: none;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 2px;
	padding-top: 50px;
}

.select_dropdown_input {display: none}
		
.select_dropdown_options{list-style: none; }

.select_dropdown_label {
	/* font-family: "Rubik Medium"; */
	margin-bottom: 0 !important;
	transition: all 250ms cubic-bezier(.4,.25,.3,1);
	display: block;
	height: 0;
	background-color: #FFFFFF;
	font-size: 1rem;
	line-height: 50px;
	overflow: hidden;
	cursor: pointer;
	padding-left: 20px;
	user-select: none;
}
.select_dropdown_label-placeholder {
	height: 50px;
	vertical-align: middle;
	position: absolute;
	top: 0;
	left: 0;
	color: #7C878C !important;
	background-color: transparent;
	display: block;
}


.select_dropdown_expand:checked + .select_dropdown_closeLabel {
	display: block;
}

.select_dropdown_expand:checked + .select_dropdown_closeLabel + .select_dropdown_options{
	border: 1px solid #D5D8DA;
	border-radius: 5px;
	margin-top: 10px;
}

.select_dropdown_close:checked + span + .select_dropdown_items > .select_dropdown_options{
	border-radius: 5px;
	margin-top: 10px;
}

.select_dropdown_expand:checked + .select_dropdown_closeLabel + .select_dropdown_options .select_dropdown_label {
	height: 40px;
}

.select_dropdown_expand:checked + .select_dropdown_closeLabel + .select_dropdown_options .select_dropdown_label:hover {
	/* font-family: "Rubik Medium"; */
	background-color: #F6F7F9;
}

.select_dropdown_expand:checked + .select_dropdown_closeLabel + .select_dropdown_options + .select_dropdown_expandLabel {display: none}

.select_dropdown_input:checked + .select_dropdown_label {
	height: 35px;
	margin-top: -50px;
	border-radius: 5px;
	/* border-bottom: 1px solid #969EA1; */
}
.select_dropdown_expand:checked + .select_dropdown {
	display: block;
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}
.select_dropdown_expand:checked + .expand-style {
	width: 225px;
	height: 50px;
	cursor: pointer;
	background-color: #FFFFFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

/* Dropdown for Datepicker */
.select_datepicker_label{
    font-size: 0.8rem !important;
    line-height: 30px !important;
	padding-left: 14px !important;
}
.select_dropdown_expand:checked + .select_dropdown_closeLabel + .select_dropdown_options .select_datepicker_label {
	height: 25px !important;
}

.select_datepicker_label-placeholder{
    height: 25px !important;
}
.select_dropdown_input:checked + .select_datepicker_label {
	height: 25px !important;
}
.select_dropdown_expand:checked + .select_dropdown_closeLabel + .select_datepicker_options{
	margin-top: -5px !important;
}

.select_dropdown_close:checked + span + .select_dropdown_items > .select_datepicker_options{
	margin-top: -5px !important;
}
.select_datepicker_expand::after {
    top: 30% !important;
    right: 1px !important;
}