.modal-content > .createModals{
	position: absolute ;
	width: 270%;
	margin-left: -85%;
	margin-top: 20%;
}

.modal-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.iconU-close{
	vertical-align: middle !important;
}

.iconU-createModal {
	font-size: 130% !important;
    margin-right: 13px;
}
.numberimg{
    width: 20px;
    margin-right: 5px;
    margin-bottom: 4px;
}

.clickTabs{
	margin-top: -3%;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	display: flex !important;
	flex-direction: column !important;
}

.tabs{
	display: flex;
	margin-top: 5%;
	min-width: 100%;
}

.tab1{
	margin-right: 2%;
	background-color: #F7F7F7;
	padding:3%;
	padding-right: 10%;
	padding-bottom:2%;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	min-width: 71%;
	font-family: Helvetica  Neue Light;
}

.tab2{
	margin-right: 2%;
	background-color: #F7F7F7;
	padding:3%;
	padding-right: 5%;
	padding-bottom:2%;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	min-width: 30%;
	font-family: Helvetica  Neue Light;
}

.fonts{
	font-family: Helvetica  Neue Light;
}

.tab:hover{
	cursor: pointer;
}


.createdecs{
	margin-left: 11.3%;
    margin-top: -1%;
	width: 580px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 100;
}


/* tab */

.tabcontents{
	padding:2%;
	background-color: #ffff;
    width: 101.6%;
    margin-left: -13.5px;
	margin-top: -26px;
	margin-bottom: -10px;
	border-bottom-right-radius: 10px !important;
	border-bottom-left-radius: 10px !important;
}

.inputDates{
	border: 2px solid #D5D8DA;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 38px;
	border-color: rgb(225, 228, 230);
}

.inputDates:hover{
	border-color: #D5D8DA !important;
}
.dateform {
    display: block;
    width: 94%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #5c6873;
    background-color: #fff;
	background-clip: padding-box;
	border-color: #D5D8DA;
	border: 1px solid #D5D8DA;
	border-color: transparent;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* button */
.addline:hover{
	color: white;
}

.addline{
	color: #919191;
	font-size: larger;
	margin-top: 10px;
}
.btnleft{
	margin-left: 87%;
    margin-bottom: 1%;
  }
  .btnsearch{
	width: 12%;
	border-radius: 5px !important;
	font-size: 90%;
}
.dlv{
	resize: none;
}
.scroll{
	overflow-y:scroll;
}
.tablerow{
	width: 83%;
	max-height: 100px;
}

.iconU-delete{
	border:2px solid #e6e6e6;
	border-radius: 5px;
	font-size: 1.25em;
	padding:10%;
	text-align: center;
	background-color: #E8E8E8;
	color: #919191;
	transition: ease-in;
}

.iconU-delete:hover{
	cursor: pointer;
	transition: ease-in;
	color: white;
}
h3{
	color: #3366FF;
}
.lineTableDtl{
	width: 97%;
}
.isactivefont {
    background-color: white;
    color: #3366FF !important;
}
.createpotables{
	width: 100%;
	margin-top: 1%;
}

.createpotables > tr> td{
	padding-right: 2% !important;
}
.back {
    background-color: #D5D8DA;
    border: 0px;
}




/* 768p Resolution */
@media(max-width: 1800px){
    .SOCreate > .modal-content {
        position: absolute;
        width: 240% !important;
        margin-left: -69%;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    
    
    .btnLabel{
        margin-right: 1em;
    }
    
    .font {
        font-family: "Helvetica Neue Medium" !important;
        font-size: 134%;    
        cursor: pointer;
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .crt {
        padding-top: 0px;
        height: 3em;
        vertical-align: middle;
        font-size: small;
    }
    
    
    .tab-review{
        min-width: 30%;
    }
    
    .iconU-edit {
        margin-right: 5%;
        margin-top: 3% !important;
        vertical-align: middle !important;
        cursor: pointer;
    }
}
@media(max-width: 1500px){
    .SOCreate > .modal-content {
        position: absolute;
        width: 220% !important;
        margin-left: -58%;
        margin-top: 10%;
        margin-bottom: 10%;
    }
}
@media(max-width: 1400px){
    .SOCreate > .modal-content {
        position: absolute;
        width: 71% !important;
        margin-left: 15%;
        margin-top: -4%;
        margin-bottom: 10%;
    }
    .btnLabel{
        margin-right: 1em;
    }
    
    .font {
        font-family: "Helvetica Neue Medium" !important;
        font-size: 108%;    
        cursor: pointer;
        margin-top: 1%;
        margin-bottom: 1%;
    }
    .fonts{
        font-family: Helvetica  Neue Light;
        font-size: 133%;
    }

    .crt {
        padding-top: 0px;
        height: 3em;
        vertical-align: middle;
        font-size: small;
    }
    
    
    .tab-review{
        min-width: 10%;
    }
    
    .iconU-edit {
        margin-right: 5%;
        margin-top: 3% !important;
        vertical-align: middle !important;
        cursor: pointer;
    }
    
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#rowNumber{
    text-align: center;
}