@media (min-width: 992px) {
  .c-wrapper {
    margin-left: 100px !important;
  }
  .c-sidebar-item {
    padding: 5px 0;
  }
}
@media (max-height: 768px) {
  .logo-text {
    writing-mode: horizontal-tb !important;
    text-orientation: mixed !important;
  }
  .c-sidebar-item {
    margin-top: 2px !important;
    margin-bottom: 2px !important;
  }
}
.logo-text {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  font-size: 120% !important;
  margin: 0 auto;
}
.c-sidebar-nav-icon {
  font-size: 200% !important;
}
.c-sidebar,
.c-sidebar-unfoldable:not(:hover).c-sidebar-lg-show {
  width: 100px;
  background-color: #2d1b46;
  font-size: 14px;
}
.c-sidebar li {
  list-style-type: none;
}
.c-sidebar li a {
  text-decoration: none;
}
.c-sidebar-item {
  text-align: center;
  cursor: pointer;
  font-size: 11px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.c-sidebar-item.links {
  word-spacing: 100px;
}
.sidebar-nav-header {
  padding: 0 !important;
  margin: 0 !important;
}
.sidebar-nav-bottom {
  display: flex;
  justify-content: center;
  font-size: 12px;
  cursor: pointer;
}
