.primary-text {
	color: #4E4E4E;
}

.secondary-text {
	color: #919191;
}

.nav-tabs {
	border-bottom: none;
}

.nav-tabs .nav-link.nav-link-cust, .nav-tabs .nav-link.nav-link-cust:hover {
	border: none;
	height: 60px;
	color: #388DCD;
	background-color: #FFFFFF;
}

.nav-tabs .nav-link.tab-custom {
	color: #FFFFFF !important;
	background-color: #388DCD !important;
	padding-left: 16px;
	padding-bottom: 8px;
	padding-right: 16px;
	padding-top: 8px;
	height: 60px;
	border-radius: 0rem;
}

.tabTitleText {
	font-size: 1.25em;
	font-weight: bold;
	align-items: center;
}
  
.rowTabCustom {
	height: 100%;
	width: 420px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}
  
.columnTabCustom {
	padding-left: 0px;
	width: 50px;
	padding-right: 0px;
	border-top-width: 1px;
}
