.border-user-info{
    border: 2px solid #fff;
    border-radius: 5px 5px 0px 0px !important;
}

.user-login-info-header{
    color: #959DA0;
}
.user-login-info-value{
    color: #637176;
}
.um-suspended {
    color: #f94548;
}
.um-active {
   color: #05e0bd;
}