.border-user-info {
  border: 2px solid #fff;
  border-radius: 5px 5px 0px 0px !important;
}

.user-login-info-header {
  color: #959da0;
}
.user-login-info-value {
  color: #637176;
}
.um-suspended {
  color: #f94548;
}
.um-active {
  color: #05e0bd;
}

// Site, Client, Module Access
.client-areas {
  height: 428px;
  overflow-y: auto;
  overflow-x: hidden;
}
.line-border {
  border-bottom: 1px solid #e8e8e8;
}
.client-enableall-padding {
  padding-right: 25px;
}
input.form-control {
  padding: 0.375rem 0.75rem !important;
}
.p-33 {
  padding-bottom: 3.3rem !important;
}
.fa-user {
  color: #376bfb !important;
}
.breadcrumb-item a {
  color: #637176 !important;
  font-weight: 500 !important;
}
.btn-outline-active {
  width: 115px !important;
  height: 40px !important;
  border: 1.5px solid #3366ff;
  border-radius: 5px;
  color: #3366ff;
  width: 80px;
}
.btn-outline-notActive {
  width: 115px !important;
  height: 40px !important;
  color: #d5d8da;
  border: 1.5px solid #d5d8da;
  border-radius: 5px;
  width: 80px;
}
.text-title-detail {
  color: #637176;
}
.btn-outline-All-notActive {
  width: 115px !important;
  height: 40px !important;
  background-color: #d5d8da;
  color: #ffffff;
  border: 1.5px solid #d5d8da;
  border-radius: 5px;
  width: 80px;
}
.btn-outline-All-active {
  width: 115px !important;
  height: 40px !important;
  border: 1.5px solid #3366ff;
  border-radius: 5px;
  background-color: #3366ff;
  color: #ffffff;
  width: 80px;
}
.btn-outline-All-notActive:hover {
  color: #ffffff !important;
}
.btn-outline-All-active:hover {
  color: #ffffff !important;
}
.btn-outline-active:hover {
  color: #3366ff !important;
}
.btn-outline-notActive:hover {
  color: #d5d8da !important;
}
