.user-login-info-header{
    color: #959DA0;    
}
.user-login-info-value{
    color: #637176;    
}
.bg-white{
    background-color: #FFFFFF;
}

.border-white{
    border: 2px solid !important;
    border-color: #FFFFFF !important;
}

.webgroup {
    background-color: #e4e7ea;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
  }
  
  .webgroup input {
    display: none;
  }
  
  .webgroup-active {
    background-color: #ffffff;
    /* font-family: 'Rubik Regular'; */
    font-size: 20px !important;
    color: #376bfb !important;
    margin: 4px;
    padding: 6px;
    border-radius: 5px;
    align-items: stretch;
  }

  .webgroup-notactive {
    background-color: transparent;
    /* font-family: 'Rubik Regular'; */
    font-size: 20px !important;
    color: #bbbcbd !important;
    margin: 4px;
    padding: 6px;
    border-radius: 5px;
  }

  .btn-outline-active {
    /* font-family: 'Rubik Regular'; */
    font-size: 1rem !important;
    width: 117px !important;
    height: 40px !important;
    border: 1.5px solid #3366ff;
    border-radius: 7px;
    color: #3366ff;
    width: 80px;
  }
  
  .btn-outline-notActive {
    /* font-family: 'Rubik Regular'; */
    font-size: 1rem !important;
    width: 117px !important;
    height: 40px !important;
    color: #d5d8da;
    border: 1.5px solid #d5d8da;
    border-radius: 7px;
    width: 80px;
  }
  
  .btn-outline-All-active {
    /* font-family: 'Rubik Regular'; */
    font-size: 1rem !important;
    width: 117px !important;
    height: 40px !important;
    border: 1.5px solid #3366ff;
    border-radius: 7px;
    background-color: #3366ff;
    color: #ffffff;
    width: 80px;
  }
  
  .btn-outline-All-notActive {
    /* font-family: 'Rubik Regular'; */
    font-size: 1rem !important;
    width: 117px !important;
    height: 40px !important;
    background-color: #d5d8da;
    color: #ffffff;
    border: 1.5px solid #d5d8da;
    border-radius: 7px;
    width: 80px;
  }
  
  

/** Modal create **/
.nav-tabs {
    margin-left: 26px;
    border: none;
  }
  .tab-content {
    padding: 0;
    margin: 0;
    background-color: #fff;
    color: #000;
  }
  .modal .nav-link {
    background-color: #eee;
    color: #959da0;
    border: none;
    font-size: 20px;
    padding-left: 20px;
  }
  .modal .nav-link.active {
    background-color: #fff;
    color: #376bfb;
  }


/** End modal create **/