/* pagination */
.pagination{
  border-radius: 0.25rem 0rem 0rem 0.25rem;
  border-right: 0.1px solid #e9eced;
} 
.number-pag{
  border: 1px solid #e9eced;
  height: 33px;
  width: 38px;
  font-family: 'Rubik', Arial, Verdana, Tahoma, sans-serif !important;
}
.number-pag:focus{
  border: solid 1px #376bfb ;
}
.click-tab{
  cursor: pointer;
}
.click-tab:hover{
  background-color: #b4b9bb !important;
}
.outLineNone:focus{
outline: none;
}

.number-pag:focus{
  outline: none;
}

input[type=number] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.margin-mr {
  margin-right: -3rem !important;
}

ul.pagination {
  margin-bottom: 0;
  justify-content: center !important;
  background-color:#d5d8da;
  border-right-color: #d5d8da !important;
}

.page-item {
  text-align: center;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding-left: 16px;
  padding-right: 16px;
  width: fit-content !important;
}
.icon-size-paging-double{
  font-size: 20px;
}
.icon-size-paging{
  font-size: 16px;
}
.page-link {
  border: none !important;
  border-radius: 4px !important;
  background-color: none;
}

.page-2 {
  background-color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-top: 10px;
  width: max-content;
}

.page-2 input {
  width: 78px;
}

.page-2 input::-webkit-outer-spin-button,
.page-2 input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.page-2 input[type="number"] {
  -moz-appearance: textfield;
}

.btn-export {
  height: 50px;
}

nav .pagination .disabled {
  color: #d5d8da !important;
}

nav .pagination .page-item .page-link>a>svg {
  color: #637163 !important;
}

nav .pagination li:first-child {
  margin-left: 10px !important;
  text-align: left !important;
}

nav .pagination li:first-child .page-link {
  padding-left: 7px !important;
  padding-right: 5px !important;
}

nav .pagination li .page-link:focus {
  box-shadow: none !important;
}

nav .pagination li:first-child .page-link:hover {
  background-color: #d5d8da !important;
  border: none !important;
  outline: 0 !important;
}

nav .pagination li:nth-child(2) {
  margin-left: 0px !important;
  text-align: left !important;
}

nav .pagination li:nth-child(2) .page-link {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

nav .pagination li:nth-child(2) .page-link:hover {
  background-color: #d5d8da !important;
  border: none !important;
  outline: 0 !important;
}

nav .pagination li:nth-last-child(2) {
  margin-right: 0px !important;
  text-align: right !important;
}

nav .pagination li:nth-last-child(2) .page-link:hover {
  background-color: #d5d8da !important;
  border: none !important;
  outline: 0 !important;
}

nav .pagination li:nth-last-child(2) .page-link {
  padding-right: 5px !important;
  padding-left:5px !important;
}

nav .pagination li:last-child {
  margin-right: 10px !important;
  text-align: right !important;
}

nav .pagination li:last-child .page-link {
  padding-right: 7px !important;
  padding-left:5px !important
}

nav .pagination li:last-child .page-link:hover {
  background-color: #d5d8da !important;
  border: none !important;
  outline: 0 !important;
}

.pagination-custom {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.box-er-pagination {
  border-top: 2px #376bfb solid !important;
  border-left: 2px #376bfb solid !important;
  border-right: 2px #376bfb solid !important;
  border-bottom: 2px #376bfb solid !important;
}

.container-fluid div div .pagination-custom div .card-group .card nav {
  padding-top: 2px !important;
}

.card-group .card:last-child div input {
  height: 30px !important;
}

.text-muted-s {
  color: #b4b9bb;
}

.text-muted-dark {
  color: #637175;
}


.modal-content-paging .modal-body {
  border: 0px !important;
  font-size: 18px;
  padding-right: 20px;
}

.showing-page{
  flex: 0 0 30%;
  max-width: 30%;
  margin-left: -3.2rem;
}
.form-control-sm{
  padding-left: 4.7% !important;
}

.border-left-none{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.border-right-none{
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.bg-paging-search{
  background-color: #fff;
  margin-left: -4px;
}
.paging-previous{
  margin-left: -4px;
  border-radius: 0px;
}
.margin-none-left{
 margin-left: 0px !important;
}
.input-paging{
    text-align: center;
    // border: solid 2px #b4b9bb  ;
    background-color: #f6f7f9;
}