/* pagination */
/* .entries-paging{
  margin-right: 5rem !important;
  margin-left:  5rem !important;
} */
.tes-haha:focus{
outline: none;
}
.margin-mr {
  margin-right: -3rem !important;
}

ul.pagination {
  margin-bottom: 0;
  justify-content: center !important;
  background-color: #fff;
}

.page-item {
  text-align: center;
  padding: 7px 0;
  margin: 0 3.5px;
  /* width: 56px !important; */
  width: fit-content !important;
}

.page-link {
  border: none !important;
  border-radius: 10px !important;
  background-color: none;
}

.page-2 {
  background-color: #fff;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-top: 10px;
  width: max-content;
}

.page-2 input {
  width: 78px;
}

.page-2 input::-webkit-outer-spin-button,
.page-2 input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.page-2 input[type="number"] {
  -moz-appearance: textfield;
}

.btn-export {
  height: 50px;
}

nav .pagination .disabled {
  color: #d5d8da !important;
}

nav .pagination .page-item .page-link>a>svg {
  color: #637163 !important;
}

nav .pagination li:first-child {
  margin-left: 10px !important;
  text-align: left !important;
}

nav .pagination li:first-child .page-link {
  padding-left: 0px !important;
}

nav .pagination li .page-link:focus {
  box-shadow: none !important;
}

nav .pagination li:first-child .page-link:hover {
  background-color: transparent !important;
  border: none !important;
  outline: 0 !important;
}

nav .pagination li:nth-child(2) {
  margin-left: 0px !important;
  text-align: left !important;
}

nav .pagination li:nth-child(2) .page-link {
  padding-left: 0px !important;
}

nav .pagination li:nth-child(2) .page-link:hover {
  background-color: transparent !important;
  border: none !important;
  outline: 0 !important;
}

nav .pagination li:nth-last-child(2) {
  margin-right: 0px !important;
  text-align: right !important;
}

nav .pagination li:nth-last-child(2) .page-link:hover {
  background-color: transparent !important;
  border: none !important;
  outline: 0 !important;
}

nav .pagination li:nth-last-child(2) .page-link {
  padding-right: 0px !important;
}

nav .pagination li:last-child {
  margin-right: 10px !important;
  text-align: right !important;
}

nav .pagination li:last-child .page-link {
  padding-right: 0px !important;
}

nav .pagination li:last-child .page-link:hover {
  background-color: transparent !important;
  border: none !important;
  outline: 0 !important;
}

.pagination-custom {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.box-er-pagination {
  border-top: 2px #376bfb solid !important;
  border-left: 2px #376bfb solid !important;
  border-right: 2px #376bfb solid !important;
  border-bottom: 2px #376bfb solid !important;
}

.container-fluid div div .pagination-custom div .card-group .card nav {
  padding-top: 2px !important;
}

.card-group .card:last-child div input {
  height: 30px !important;
}

.text-muted-s {
  color: #b4b9bb;
}

.text-muted-dark {
  color: #637175;
}

@media (min-width:1740px) and (max-width: 1790px) {
  .container-fluid div div .pagination-custom .col-lg-7 {
    flex: 0 0 60.66667% !important;
    max-width: 60.66667% !important;
  }

  .container-fluid div div .pagination-custom .col-lg-5 {
    flex: 0 0 38.66667% !important;
    max-width: 38.66667% !important;
  }
}

@media (min-width:1718px) and (max-width: 1739px) {
  .container-fluid div div .pagination-custom .col-lg-7 {
    flex: 0 0 68.33333% !important;
    max-width: 68.33333% !important;
  }

  .container-fluid div div .pagination-custom .col-lg-5 {
    flex: 0 0 31.66667% !important;
    max-width: 31.66667% !important;
  }
}

@media (min-width:1481px) and (max-width: 1717px) {
  .container-fluid div div .pagination-custom .col-lg-7 {
    flex: 0 0 69.33333% !important;
    max-width: 69.33333% !important;
  }

  .container-fluid div div .pagination-custom .col-lg-7 .card-group .col-lg-5 {
    flex: 0 0 35.66667% !important;
    max-width: 35.66667% !important;
  }
}

@media (min-width:1225px) and (max-width: 1480px) {
  .container-fluid div div .pagination-custom .col-lg-7 {
    flex: 0 0 69.33333% !important;
    max-width: 69.33333% !important;
  }

  .container-fluid div div .pagination-custom .col-lg-7 .card-group .col-lg-5 {
    flex: 0 0 42.66667% !important;
    max-width: 42.66667% !important;
  }

  .container-fluid div div .pagination-custom .col-lg-7 .pagination-custom .mt-3 {
    flex: 0 0 35.33333% !important;
    max-width: 35.33333% !important;
  }

  .container-fluid div div .pagination-custom .export-ml {
    flex: 0 0 30.33333% !important;
    max-width: 30.33333% !important;
  }
}

@media (max-width: 1224px) {
  .container-fluid div div .mt-3 .margin-mr {
    flex: 0 0 90.33333% !important;
    max-width: 90.33333% !important;
  }

  .container-fluid div div .pagination-custom .margin-mr .pagination-custom .col-lg-7 {
    flex: 0 0 69.33333% !important;
    max-width: 69.33333% !important;
  }

  .container-fluid div div .pagination-custom .col-lg-7 .card-group .col-lg-6 {
    flex: 0 0 55% !important;
    max-width: 55% !important;
  }

  .container-fluid div div .pagination-custom .col-lg-7 .card-group .col-lg-5 {
    flex: 0 0 38.66667% !important;
    max-width: 38.66667% !important;
  }

  .container-fluid div div .pagination-custom .col-lg-7 .pagination-custom .mt-3 {
    flex: 0 0 35.33333% !important;
    max-width: 35.33333% !important;
  }

  .container-fluid div div .pagination-custom .export-ml {
    flex: 0 0 9.33333% !important;
    max-width: 9.33333% !important;
  }
}

@media (min-width: 1459px) and (max-width: 1787px) {
  .container-fluid div div .pagination-custom .col-lg-4:first-child {
    flex: 0 0 41.66667% !important;
    max-width: 41.66667% !important;
  }

  .container-fluid div div .pagination-custom .col-lg-4:nth-child(2) {
    flex: 0 0 25% !important;
    max-width: 25% !important;
  }
}

@media (min-width: 1481px) and (max-width: 1717px) {
  .container-fluid div div .pagination-custom .showing {
    flex: 0 0 30.66667% !important;
    max-width: 41.66667% !important;
  }
}

@media (min-width: 1234px) and (max-width: 1459px) {
  .container-fluid div div .pagination-custom .col-lg-4:first-child {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }

  .container-fluid div div .pagination-custom .col-lg-4:nth-child(2) {
    flex: 0 0 25% !important;
    max-width: 25% !important;
  }

  .container-fluid div div .pagination-custom .col-lg-4:last-child {
    flex: 0 0 25% !important;
    max-width: 25% !important;
  }
}

@media (min-width: 1046px) and (max-width: 1233px) {
  .container-fluid div div .pagination-custom .col-lg-4:first-child {
    flex: 0 0 58.33333% !important;
    max-width: 58.33333% !important;
  }

  .container-fluid div div .pagination-custom .col-lg-4:nth-child(2) {
    flex: 0 0 25% !important;
    max-width: 25% !important;
  }

  .container-fluid div div .pagination-custom .col-lg-4:last-child {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
}

@media (min-width: 990px) and (max-width: 1045px) {
  .container-fluid div div .pagination-custom .col-lg-4:first-child {
    flex: 0 0 66.66667% !important;
    max-width: 66.66667% !important;
  }

  .container-fluid div div .pagination-custom .col-lg-4:nth-child(2) {
    flex: 0 0 25% !important;
    max-width: 25% !important;
  }

  .container-fluid div div .pagination-custom .col-lg-4:last-child {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
}

@media (max-width: 989px) {
  .container-fluid div div .pagination-custom .col-lg-4:first-child {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    width: 100% !important;
  }

  .container-fluid div div .pagination-custom .col-lg-4:nth-child(2) {
    padding: 1rem 0rem !important;
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }

  .container-fluid div div .pagination-custom .col-lg-4:last-child {
    flex: 0 0 50% !important;
    max-width: 50% !important;
    padding: 1rem 0rem !important;
  }
}

.modal-content-paging .modal-body {
  border: 0px !important;
  font-size: 18px;
  padding-right: 20px;
}

.showing-page{
  flex: 0 0 30%;
  max-width: 30%;
  margin-left: -3.2rem;
}