.stockHolding {
  .row {
    margin-right: 0px !important;
    margin-left: 0px !important;
    div {
      .card-group {
        .card:last-child {
          div {
            input {
              height: 30px !important;
            }
          }
        }
      }
    }
    div:nth-last-child(1) {
      .btn {
        letter-spacing: 1px !important;
      }
    }
  }

  .css-2b097c-container {
    border: none !important;
  }
  .css-1wa3eu0-placeholder {
    color: #b4b9bb !important;
  }
  /* SEACRH */
  .card {
    .card-body {
      .row {
        div {
          .input-group {
            .form-control {
              max-height: 50px !important;
              height: 50px !important;
            }
            max-height: 50px !important;
            height: 50px !important;
            .input-group-prepend {
              .input-group-text {
                .iconU-search {
                  color: #b4b9bb !important;
                }
              }
            }
          }
          .l-r-0 {
            .px-0 {
              .css-2b097c-container {
                border: none !important;
                .css-yk16xz-control {
                  max-height: 50px !important;
                  height: 50px !important;
                  .css-g1d714-ValueContainer {
                    padding-left: 0.8rem !important;
                  }

                  :focus {
                    padding-left: 1rem !important;
                    height: 5.2vh !important;
                  }
                }
              }
            }
            .pl-3 {
              .css-2b097c-container {
                border: none !important;
                .css-yk16xz-control {
                  max-height: 50px !important;
                  height: 50px !important;
                  .css-g1d714-ValueContainer {
                    padding-left: 0.8rem !important;
                  }
                  :focus {
                    height: 5.2vh !important;
                  }
                }
              }
            }
          }
        }
        .col-lg-9 {
          .row {
            .col-lg-2:last-child {
              .btn {
                width: 105px;
                height: 50px;
                letter-spacing: 1px !important;
              }
            }
            @media (min-width: 571px) and (max-width: 1000px) {
              padding-top: 1rem !important;
              .col-lg-2:nth-child(6) {
                padding-top: 1rem !important;
              }
            }
            @media (max-width: 570px) {
              padding-top: 1rem !important;
              .col-lg-2:nth-child(2) {
                padding: 1rem 0rem !important;
              }
              .col-lg-2:nth-child(6) {
                padding-top: 1rem !important;
                .btn {
                  width: 100%;
                }
              }
            }
          }
          @media (min-width: 571px) and (max-width: 1000px) {
            padding-left: 0px !important;
          }

          @media (max-width: 570px) {
            padding-left: 0px !important;
          }
        }
      }
    }
  }

  .ReactTable {
    .rt-table {
      .rt-thead {
        .rt-tr {
          height: 50px !important;
          text-align: left !important;
          .rt-th {
            height: 50px !important;
            padding: 1rem 0.5rem !important;
          }
          .rt-th:first-child {
            padding-left: 1.8rem !important;
            text-align: left !important;
            // width: 270px !important;
            max-width: 300px !important;
          }
          .rt-th:nth-child(6){
            // width: 220px !important;
            max-width: 300px !important;
          }
          .rt-th:nth-child(7){
            // width: 150px !important;
            max-width: 300px !important;
          }
          .rt-th:nth-child(10){
            // width: 140px !important;
            max-width: 300px !important;
          }
          .rt-th:nth-child(11){
            // width: 160px !important;
            max-width: 300px !important;
          }
          .rt-th:nth-child(12){
            // width: 150px !important;
            max-width: 300px !important;
          }
          .rt-th:focus {
            outline: none !important;
          }
          .rt-th:last-child {
            .rt-resizable-header-content {
              .edit-column {
                padding-top: 5px;
                -moz-padding-top:0px;
                display: flex;
                justify-content: center;
                align-items: center;
              }
              @-moz-document url-prefix() {
                .edit-column {padding-top:0px;}
            }
            }
            outline: none !important;
          }
        }
        .rt-tr:last-child {
          text-align: center !important;
        }
      }
      .rt-tbody {
        overflow-x: hidden !important;
        .rt-tr-group {
          .rt-tr {
            .rt-td:first-child {
              padding-left: 1.8rem !important;
              max-width: 300px !important;
              // width: 270px !important;
            }
            .rt-td:nth-child(6) {
              max-width: 300px !important;
              // width: 270px !important;
            }
            .rt-td:nth-child(7) {
              max-width: 300px !important;
              // width: 270px !important;
            }
            .rt-td:nth-child(10) {
              max-width: 300px !important;
              // width: 270px !important;
            }
            .rt-td:nth-child(11){
              max-width: 300px !important;
              // width: 270px !important;
            }
            .rt-td:nth-child(12) {
              max-width: 300px !important;
              // width: 270px !important;
            }
          }
        }
      }
     
    }
   
  }

}

.stockDetails .ReactTable .rt-table .rt-tbody .rt-tr-group .rt-td{
  overflow: visible !important  ;
}

.stock-holding-detail {
  .ReactTable{
    width: auto !important;
    .rt-thead .rt-th {
        text-align: left !important;
    }
    .rt-table {
      .rt-thead {
        .rt-tr {
          .rt-th:first-child {
            // flex: 0.35 0 !important;
          }
          .rt-th:nth-child(2) {
            text-align: left !important;
          }
          .rt-th:nth-child(3) {
            text-align: left !important;
          }
        }
      }
      .rt-tbody {
        .rt-tr-group {
          .rt-tr {
            .rt-td:first-child {
              // flex: 0.35 0 !important;
            }
            .rt-td:nth-child(2) {
              text-align: left !important;
            }
            .rt-td:nth-child(3) {
              text-align: left !important;
            }
          }
        }
      }
    }
  }
}
.ReactTable .rt-table .rt-tbody .rt-tr-group .rt-tr .rt-td {
  align-items: center !important;
  color: rgb(89, 81, 81) !important;
}