.table-detail{
      .rt-tbody .rt-tr-group:hover{
        background-color: #fff !important;
        cursor: default !important;
      }
}
 .display-paging{
     display: none !important;
 }
.so-detail{
  .ReactTable{
    .rt-table {
      .rt-tbody {
        .rt-tr-group {
          .rt-tr {
            .rt-td:first-child {
              padding-right: 1.8rem !important;
              // justify-content:center ;
            }
          }
        }
      }
    }
  }
}