.movementBtnSearch{
	height: 50px;
	width: 100%;
	font-size:1.2rem;
}

.cont{
	background-color: white;
	border-radius: 5px;
	margin-top: 1%;
	margin-bottom: 1%;
	font-size: 0.9rem;
	max-height: 650px;
}

.conts{
	margin-top: 1%;
	margin-bottom: 1%;
	padding:0.5% !important;
}

.scrolly{
	overflow-y:scroll;
}

.scrolly::-webkit-scrollbar {
	width: 8px !important;
  }

.scrolly::-webkit-scrollbar-thumb {
	background-color: #B4B9BB;
	border-radius: 5px;
  }
  
.scrollx{
	overflow:scroll;
}

.scrollx::-webkit-scrollbar {
	width: 8px !important;
	height: 8px;
  }

.scrollx::-webkit-scrollbar-thumb {
	background-color: #B4B9BB;
	border-radius: 5px;
  }

  .sss{
	  width: 10rem !important;
  }

  .tablez{
	  height: 2.5rem;
	  border-bottom: 1px solid grey;
	  align-items: center;
	  justify-content: center;
  }

  .tet{
	width: 5rem !important;
	text-align: center;
  }

  .productList{
	min-width: 8rem;
	text-align: left !important;
	height: 35px;
	margin-top: 7px;
  }

  #site{
	  min-width: 3.5rem;
	  margin-right: 1rem;
  }

  #product{
	  min-width: 5rem;
	  margin-right: 1rem;
  }

  #productName{
	  min-width: 9rem;
	  margin-right: 1rem;
  }

  #uom{
	  min-width: 4rem;
	  margin-right: 1rem;
  }

  .productListBody > .productList{
	text-align: left !important;
  }

  .movementHeader{
	  width: 100%;
	  margin-top: 1%;
  }

  .movementSearch{
	width: 100%;	
	background-color: white;
	border-radius: 5px;
	margin-top: 1%;
	padding: 1%;

  }

  .movementBody{
	width: 100%;	
	background-color: white;
	border-radius: 5px;
	margin-top: 1.5%;
	padding-bottom: -1% !important;
  }

  .dropdown-item:hover{
	background-color: #20a8d8;
	cursor: pointer;
}

.ddlMovement{
	width: 70%;
}

.ddlMovementDate{
	width: 60%;
}

.datePicker{
	position: absolute;
	background-color: white;
	z-index: 1;
}


.bord{
	border-right: 1px solid #E2E2E2!important;
}

@-webkit-keyframes fade {
	from {opacity: 0}
	to {opacity: 1}}
  @keyframes fade {
	from {opacity: 0}
	to {opacity: 1}}

.fades{
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1s;
	animation-name: fade;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}

.hidden{
	display: none !important;
}

.arrow{
	width: 0.7em;
}

.productHeader > div:hover{
	cursor: pointer;
}