.flex {
  display: flex !important;
}
.movementBtnSearch {
  height: 40px;
  width: 170px;
  font-size: 1.1rem;
  font-family: 'Helvetica Neue Medium';
  /* margin-left: 30%; */
  float: right;
}
.conts {
  background-color: white;
  margin-top: 1%;
  margin-right: -2;
  border-radius: 5px;
  padding-right: 0px !important;
  padding-left: 0px !important;
  display: flex;
}
.product-data {
  width: 50%;
  height: 100%;
}
.movement-data {
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}
.product-data table,
.movement-data table {
  width: 100%;
  table-layout: fixed;
}
.product-data th,
.movement-data th {
  border-radius: 10px;
  padding: 0 10px !important;
}
.product-data td {
  padding: 0 10px;
  overflow: hidden;
  /* white-space: nowrap; */
  word-wrap: break-word !important;
}
.movement-data td {
	padding: 0 15px;
	text-align:  center;
}
.movement-header {
	width: 20rem !important;
}

.product-data td:first-child {
  padding-left: 20px !important;
}
.movement-data td:last-child {
  padding-right: 20px !important;
}

#site.put  {
  width: 14%;
  padding-left: 20px !important;
}
#client.put  {
  width: 15%;
}
#product.put  {
  width: 22%;
}
#productName.put  {
  width: 30%;
  word-wrap: break-word;
}
#uom.put  {
  width: 15%;
}

.border-right {
  border-right: 1px solid #d5d8da !important;
}
.border-left {
  border-left: 1px solid #d5d8da !important;
}
.border-top {
  border-top: 1px solid #d5d8da !important;
}
.border-bottom {
  border-bottom: 1px solid #d5d8da !important;
}
.border-full {
  border: 1px solid #d5d8da !important;
}

/* .sss {
  width: 10rem !important;
} */

/* .tablez {
  height: 2.5rem;
  border-bottom: 1px solid #d5d8da !important;
  align-items: center;
  justify-content: center;
} */

/* .tet {
  width: 5rem !important;
  text-align: center;
  padding-bottom: 3px !important;
} */

/* .productList {
  min-width: 8rem;
  text-align: left !important;
  font-family: 'Helvetica Neue Regular';
  color: #637175;
  font-size: 1rem;
} */

/* .productListBody > .productList {
  text-align: left !important;
} */

/* .movementHeader {
  width: 100%;
  margin-top: 1.5%;
} */

.movementSearch {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  margin-top: 1.4%;
  padding: 4px;
  height: 92px;
}

.bar {
  padding: 15px;
  min-width: 100%;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.dropdown-item:hover {
  background-color: #20a8d8;
  cursor: pointer;
}

.ddlMovement {
  width: 231px;
  height: 40px;
  border: 1px solid #d5d8da !important;
  text-align: left;
}

.ddlMovementDate {
  width: 170px;
  height: 40px;
  border: 1px solid #d5d8da !important;
  text-align: left;
  margin-left: 5%;
}

/* .bord {
  border-right: 1px solid #e2e2e2 !important;
} */

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* .arrowss {
  margin-left: 0.3em;
  width: 0.6em;
} */

/* .hover:hover {
  background: #f0f0f0 !important;
} */

/* .hover-active {
  background: #f0f0f0 !important;
} */

/* .productHeader {
  margin-bottom: 10px;
  display: flex;
  border-bottom: 1px solid #d5d8da;
  margin-top: 12px;
  padding-bottom: 45px;
  height: 34px;
  margin-left: -2%;
} */

/* .borderBottom {
  border-bottom: 1px solid #d5d8da !important;
  padding-bottom: 2px;
} */

/* .movementTable {
  overflow: scroll !important;
} */

/* .stockMovementParent {
  margin-left: -0.6%;
  margin-right: -1.4%;
  padding-right: 10px;
} */

.displayParent {
  display: flex;
  vertical-align: middle;
  align-items: center;
  width: 100%;
}

.ddlSearchParam {
  width: 15%;
}

.searchParameterTitle {
  font-family: 'Helvetica Neue Medium';
  color: #b4b9bb;
  width: 160px;
}

.searchParameterTitleDate {
  margin-right: 10px;
  font-family: 'Helvetica Neue Medium';
  color: #b4b9bb;
  width: 94px;
}
.searchParameterTo {
  margin-right: 10px;
  font-family: 'Helvetica Neue Medium';
  color: #b4b9bb;
  width: 20px;
}
.filterDropdowns {
  max-width: 300px;
  margin-right: 1em !important;
  width: 202px !important;
}

.displayButtons {
  width: 30%;
}

.dateFrom {
  margin-left: 20px;
}

.displayButtonToggle {
  display: flex;
}

.displayButtonToggle > .dropdown-toggle {
  margin-left: -30px !important;
  padding-top: 14px;
}

.middles {
  margin-left: -7px;
}

.divFilter {
  display: inline-block;
}

.stock-main-err{
  display: flex;
}

#period{
  margin-left: 0.8em;
}

#date-from{
  margin-left: 1.5em;
  white-space: nowrap;
}

#date-to{
  margin-left: 1.5em;
  white-space: nowrap;
}

.stock-err{
  color: red;
  font-size: small;
  margin-bottom: -20px;
  opacity: 1;
  transition: opacity 1s;
}

.stock-err-hidden{
  color: red;
  font-size: small;
  opacity: 0;
  transition: opacity 0.3s;
  margin-bottom: -20px;
}