.movementBtnSearch{
	height: 40px;
	width: 100%;
	font-size:1.1rem;
	font-family: "Helvetica Neue medium";
}

.movementData{
	background-color: white;
	border-radius: 5px;
	margin-bottom: 1%;
	font-size: 0.9rem;
	max-height: 600px !important;
	width: 100%;
}

.productData{
	background-color: white;
	border-radius: 5px;
	margin-bottom: 1%;
	font-size: 0.9rem;
	max-height: 600px !important;
	margin-right: -1%;
	min-width:31em !important;
}

.conts{
	background-color: white;
	margin-top: 1%;
	margin-right: -2;
	border-radius: 5px;
	padding-right:2% !important;
	padding-left:2% !important;
	padding-top:0.5% !important;
	display: flex;
}

/* movement scroll */
  
.scrollx{
	overflow-x: scroll !important;
	overflow-y: hidden !important;
}

.scrollx::-webkit-scrollbar {
	width: 8px !important;
	height: 8px;
	margin-bottom: 0px !important;
  }

.scrollx::-webkit-scrollbar-thumb {
	background-color: #B4B9BB;
	border-radius: 5px;
  }

  .scrolly{
	overflow-y:scroll;
	overflow-x: hidden;
	min-width: 30em;
	padding-right: -1% !important;
}

.scrolly::-webkit-scrollbar {
	width: 8px !important;
	height: 8px;
  }

.scrolly::-webkit-scrollbar-thumb {
	background-color: #B4B9BB;
	border-radius: 5px;
  }
  

  .sss{
	  width: 10rem !important;
  }

  .tablez{
	  height: 2.5rem;
	  border-bottom: 1px solid #d5d8da !important;
	  align-items: center;
	  justify-content: center;
  }

  .productHeader{
	  margin-bottom: -0.5px !important;
  }
  .tet{
	width: 5rem !important;
	text-align: center;
  }

  .productList{
	min-width: 8rem;
	text-align: left !important;
  } 

  #site{
	  min-width: 3rem;
	  margin-right: 1rem;
  }

  #client{
	min-width: 3.5rem;
	margin-right: 1rem;
  }

  #product{
	  min-width: 4.5rem;
	  margin-right: 1rem;
  }

  #productName{
	  min-width: 9rem;
	  margin-right: rem;
  }

  #uom{
	  min-width: 3.5rem;
	  margin-right: 1rem;
  }

  .productListBody > .productList{
	text-align: left !important;
  }

  .movementHeader{
	  width: 100%;
	  margin-top: 1.5%;
  }

  .movementSearch{
	width: 100%;	
	background-color: white;
	border-radius: 5px;
	margin-top: 1.4%;
	padding: 20px;

  }

  .movementBody{
	width: 100%;	
	min-height: 37vw;
  }

  .dropdown-item:hover{
	background-color: #20a8d8;
	cursor: pointer;
}

.ddlMovement{
	width: 200px;
	height: 40px !important;
	border: 1px solid #d5d8da !important; 
	text-align: left;
}

.ddlMovementDate{
	width: 200px;
	height: 40px !important;
	border: 1px solid #d5d8da !important; 
	text-align: left;
}

.datePicker{
	position: absolute;
	background-color: white;
	z-index: 1;
}


.bord{
	border-right: 1px solid #E2E2E2!important;
}

@-webkit-keyframes fade {
	from {opacity: 0}
	to {opacity: 1}}
  @keyframes fade {
	from {opacity: 0}
	to {opacity: 1}}

.fades{
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1s;
	animation-name: fade;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}

.hidden{
	display: none !important;
}

.arrowss{
	margin-left: 0.3em;
	width: 0.6em;
}

.productHeader > div:hover{
	cursor: pointer;
}

.productHeader{
	margin-bottom: 1px;
	display:flex;
	border-bottom:1px solid #d5d8da;
	margin-top: 9px;
	height: 34px;
}

.movementTable{
	overflow: scroll !important;
}

.stockMovementParent{
	margin-left: -1%;
	margin-right: -1.4%;
}

.displayParent{
	display: flex;
	vertical-align: middle;
	align-items: center;
	width: 100%;
}

.ddlSearchParam{
	width: 65%;
}

.searchParameterTitle{
	font-family: "Helvetica Neue Medium";
	color: #b4b9bb;
	width: 110px;
}

.searchParameterTitleDate{
	margin-right: 10px;
	font-family: "Helvetica Neue Medium";
	color: #b4b9bb;
}

.displayButtons{
	width: 30%;	
}

.dateFrom{
	margin-left: 20px;
}

.displayButtonToggle{
	display: flex;
	
}

.displayButtonToggle > .dropdown-toggle{
	margin-left: -30px !important;
	padding-top: 8px;
}

.middles{
	margin-left:30px;
}
