.content-modal-upgrade {
  display: flex;
  align-items: center;
  color: #627075;

  .ri-user-settings-fill {
    font-size: 80px;
    margin-right: 20px;
  }
  h4 {
    font-weight: 600;
  }
  span {
    font-size: 19px;
  }
}
