span.next:before {
	font-family: "FontAwesome";
   	content: "\f105";
    display: inline-block;
    padding-right: 1rem;
    padding-left: 1rem;
    font-weight: 900;
}

span.downArrow:before {
	font-family: "FontAwesome";
   	content: "\f107";
    display: inline-block;
    font-weight: 900;

}
span.upArrow:before {
	font-family: "FontAwesome";
   	content: "\f106";
    display: inline-block;
    font-weight: 900;

}

.headers{
    font-weight: 500;
    color: #B4B9BB !important;
    font-size: 15px;
}

.users{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 780;
    font-size: 20px;
}

.border-account-info{
    border: 3px solid #ffffff;
    border-radius: 5px;
}

.account-info{
    background-color: #E9ECED;
}

.btn-outline-active{
	border: 2px solid #22ABE3;
	border-radius: 7px;
	color: #22ABE3;
	width: 80px;
}

.btn-outline-notActive{
	color: #D5D8DA;
	border: 2px solid #D5D8DA;
	border-radius: 7px;
	width: 80px;
}


span.client-active{
    border: 2px solid #22ABE3;
    border-radius: 7px;
    color: #22ABE3;
}

span.client-notActive{
    border: 2px solid #D5D8DA;
    border-radius: 7px;
    color: #D5D8DA ;
}

table{
    font-family: Arial, Helvetica, sans-serif;

}

tr th.headers{
    font-weight: 500;
    color: #B4B9BB !important;
    font-size: 18px;
}

tr td.users{
    font-weight: 780;
    font-size: 20px;
}

tr td.norm{
    font-weight: 500;
    color: #969EA1;
    font-size: 20px;
}

.active{
    font-weight: 500;
    color: #7FC242;
    /* font-size: 20px; */
}

.suspended{
    font-weight: 500;
    color: #FF4141;
    font-size: 20px;
}

.text-bolder{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 790;
}

.name-account{
	color: #22ABE3;
}

/* .titleText{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.userText{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
} */
