span.downArrow:before {
	font-family: "FontAwesome";
   	content: "\f107";
    display: inline-block;
    font-weight: 900;

}
span.upArrow:before {
	font-family: "FontAwesome";
   	content: "\f106";
    display: inline-block;
    font-weight: 900;

}

.headers{
    font-weight: 500;
    color: #B4B9BB !important;
    font-size: 15px;
}

table{
  font-family: Arial, Helvetica, sans-serif;
}


/* create seles */

.createpo {
    float: right !important;
    display: flex;
    justify-content: space-between;
    margin-bottom: -1%;
}

.createpo > .font {
    font-size: large;
    margin-left: -5px;
    padding-right: 15px;
}

.header{
	display: flex;
	margin-top: 1.5%;
	width: 100% !important;
	justify-content: space-between;
}

.header2{
	margin-top: -10px !important;
}
/* create seles and*/

/* search */
.font{
	font-family: "Helvetica Neue Medium" !important;
	font-size: 1.5em;
	cursor: pointer;
	margin-top: 1%;
	margin-bottom: 1%;
}
.buttonsearch{
	width: 75%;
	border-radius: 5px !important;
	font-size: 90%;
}

.rows {
    display: -webkit-box;
    flex-wrap: wrap;
	margin-right: -15px;
}

.tablecontents {
	margin-top: 10px;
	padding:0%;
	padding-top: 0%;
	padding-bottom: 0%;
	min-width: 100%;
	background-color: white;
	border-radius: 5px;
}

.xl {
	flex: 0 0 18%;
    max-width: 18%;
}

.xl-search {
    flex: 0 0 82%;
    max-width: 82%;
}

.inputgroups{
	border: 2px solid #D5D8DA;
	border-radius: 5px;
	width: 80%;
	vertical-align: middle !important;
	padding-top:0.1%;
	padding-left: 1%;
	min-width: 20% !important;
	align-items: center !important;
	display: flex;
  height:50px;
}

.searchinput{
	margin-left: 1.5% !important;
	background-color: transparent;
    width: 95%;
    color: grey;
    box-sizing: border-box;
    border: none;
    transition:background-color 0.5s ease;
	outline-color: transparent;
	font-size: 1.2em;
}

.dropdowns{
	padding:15px;
	min-width: 100%;
	background-color: white;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	display: flex;
	justify-content: space-between;
	margin-top: -18px;
}

.iconU-filters{
	height: auto;
	font-size: 1em;
	min-width: 3% !important;
	border: none;
	border-radius: 5px !important;
}

.iconU-filters:before{

	font-size: 1.5em !important;
}

/* search and */
/* table */
.tablecontent {
	margin-top: 1%;
	padding:0%;
	padding-top: 0%;
	padding-bottom: 0%;
	min-width: 100%;
	background-color: white;
	border-radius: 5px;
}
.tablePages{
	max-height: 650px !important;
	overflow-y:scroll;
	font-size: 1.1em;
}
.tablePages::-webkit-scrollbar {
	width: 8px !important;
  }

.tablePages::-webkit-scrollbar-thumb {
	background-color: #B4B9BB;
	border-radius: 5px;
  }
.potable{
	width: 100%;
}

.potable th {
	border-bottom: 2px solid #E2E2E2 !important;
	height: 45px !important;
	cursor: pointer;
	font-size: 1em;
}

.potable tr {
	border-bottom: 2px solid #f0f0f0  !important;
	height: 45px !important;
}

.createpotable{
	width: 100%;
	margin-top: 1%;
}

.tr:hover{
	background: #f0f0f0 !important;
	cursor: pointer;
}

.tr td{
    height: 45px;
    border-bottom: 1px solid #D5D8DA !important;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.createpotable > tr> td{
	padding-right: 2% !important;
}

.hidden{
	display: none;
}

.hidden{
	display: none !important;
}

.fades{
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1s;
	animation-name: fade;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}

.value-text{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 750;
}
.iconU-option{
	font-size: 0.4em !important;
	color: #B4B9BB !important;
	text-align: center;
	vertical-align: middle;
}

th.iconU-edit{
	color: #22ABE3;
	text-align: center;
}
.create > .iconU-edit{
	margin-top: 2.5%;
}

.iconU-close{
	margin-left: 5%;
	vertical-align: middle !important;

}
.modal-title > .create >.iconU-edit:hover{
	cursor: default;
}

.iconU-delete{
	border:2px solid #e6e6e6;
	border-radius: 5px;
	font-size: 1.25em;
	padding:10%;
	text-align: center;
	background-color: #E8E8E8;
	color: #919191;
	transition: ease-in;
}

.iconU-delete:hover{
	cursor: pointer;
	transition: ease-in;
	color: white;
}
.iconU-edit {
	font-size:1em !important;	
}
.iconU-edit{
	margin-right: 5px;
	margin-top: -8%;
	vertical-align: middle !important;
	cursor: pointer;
}

.iconU-search{
	vertical-align: middle;
	color: #D5D8DA !important;
}

.paginations > .page{
	vertical-align: middle;
	align-items: center;
}

@media(max-width: 1500px){
	.arrow{
		margin-left: 7px !important;
		width: 0.7em;
	}
	
	.potable{
		width: 100%;
	}
	
	.potable th {
		border-bottom: 2px solid #E2E2E2 !important;
		height: 45px !important;
		cursor: pointer;
		font-size: 1em;
		padding: 0.5rem 0.5rem 0.5rem 1rem
	}
	
	.potable tr {
		border-bottom: 1.5px solid #f0f0f0  ;
		height: 45px !important;
		font-size: 12px;
	}
	.tr{
		border-bottom: 1.5px solid #E2E2E2 !important;
		width: 100%;
	}
	
	.tr:hover{
		background: #f0f0f0 !important;
		cursor: pointer;
	}
	
	th{
		font-family: "Helvetica Neue Bold";
		color: #B4B9BB;
	}
	td{
		font-family: "Helvetica Neue Regular";
		color: #637175;
	}
}
@media(min-width: 1500px){
	.arrow{
		margin-left: 7px !important;
		width: 9px;
		font-weight: bold;
	}
	
	.potable{
		width: 100%;
	}
	
	.potable th {
		border-bottom: 1px solid #D5D8DA;
		height: 45px !important;
		cursor: pointer;
		font-size: 1rem;
		padding: 0.5rem 1rem 0.5rem 1rem
	}
	
	.potable tr {
		border-bottom: 2px solid #f0f0f0  !important;
		height: 45px !important;
		font-size: 1rem;
	}
	.tr:hover{
		background: #f0f0f0 !important;
		cursor: pointer;
	}
	
	th{
		font-family: "Helvetica Neue Bold";
		color: #B4B9BB;
	}
	td{
		font-family: "Helvetica Neue Regular";
		color: #637175;
	}
}


.createmodal{
	position: absolute;
	width: 342%;
	background-color: #22ABE3;
	margin-left: -118%;
    margin-top: 17%;
	border-bottom-right-radius: 10px !important;
	border-bottom-left-radius: 10px !important;
}

.modal-header{
	background-color: #22ABE3;
	width: 100% !important;
	color: #FFFF;
	display: flex !important;
}
