
table{
  font-family: Arial, Helvetica, sans-serif;
}


.rows {
    display: -webkit-box;
    flex-wrap: wrap;
	margin-right: -15px;
}


.xl {
	flex: 0 0 18%;
    max-width: 18%;
}

.xl-search {
    flex: 0 0 82%;
    max-width: 82%;
}

.inputgroups{
	border: 2px solid #D5D8DA;
	border-radius: 5px;
	width: 80%;
	vertical-align: middle !important;
	padding-top:0.1%;
	padding-left: 1%;
	min-width: 20% !important;
	align-items: center !important;
	display: flex;
  height:50px;
}



/* table */

.Sotable{
	width: 100%;
}

.Sotable th {
	border-bottom: 2px solid #E2E2E2 !important;
	height: 45px !important;
	cursor: pointer;
	font-size: 1em;
}

.Sotable tr {
	border-bottom: 2px solid #f0f0f0  !important;
	height: 45px !important;
}

.createpotable{
	width: 100%;
	margin-top: 1%;
}

.tr:hover{
	background: #f0f0f0 !important;
	cursor: pointer;
}

.tr td{
    height: 45px;
    border-bottom: 1px solid #D5D8DA !important;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.createpotable > tr> td{
	padding-right: 2% !important;
}

.value-text{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 750;
}



.iconU-close{
	margin-left: 5%;
	/* vertical-align: middle !important; */

}


@media(max-width: 1500px){
	.arrow{
		margin-left: 7px !important;
		width: 0.7em;
	}
	
	.Sotable{
		width: 100%;
	}
	
	.Sotable th {
		border-bottom: 2px solid #E2E2E2 !important;
		height: 45px !important;
		cursor: pointer;
		font-size: 1em;
		padding: 0.5rem 0.5rem 0.5rem 1rem
	}
	
	.Sotable tr {
		border-bottom: 1.5px solid #f0f0f0  ;
		height: 45px !important;
		font-size: 12px;
	}
	.tr{
		border-bottom: 1.5px solid #E2E2E2 !important;
	}
	
	.tr:hover{
		background: #f0f0f0 !important;
		cursor: pointer;
	}
	
	th{
		font-family: "Helvetica Neue Bold";
		color: #B4B9BB;
	}
	td{
		font-family: "Helvetica Neue Regular";
		color: #637175;
	}
}
@media(min-width: 1500px){
	.arrow{
		margin-left: 7px !important;
		width: 9px;
		font-weight: bold;
	}
	
	.Sotable{
		width: 100%;
	}
	
	.Sotable th {
		border-bottom: 1px solid #D5D8DA;
		height: 45px !important;
		cursor: pointer;
		font-size: 1rem;
		padding: 0.5rem 1rem 0.5rem 1rem
	}
	
	.Sotable tr {
		border-bottom: 2px solid #f0f0f0  !important;
		height: 45px !important;
		font-size: 1rem;
	}
	.tr:hover{
		background: #f0f0f0 !important;
		cursor: pointer;
	}
	
	th{
		font-family: "Helvetica Neue Bold";
		color: #B4B9BB;
	}
	td{
		font-family: "Helvetica Neue Regular";
		color: #637175;
	}
}


.createmodal{
	position: absolute;
	width: 342%;
	background-color: #22ABE3;
	margin-left: -118%;
    margin-top: 17%;
	border-bottom-right-radius: 10px !important;
	border-bottom-left-radius: 10px !important;
}

.modal-header{
	background-color: #22ABE3;
	width: 100% !important;
	color: #FFFF;
	display: flex !important;
}

.addlineSo{
	margin-top: -4px;
	height: 35px;
	width: 140px;
	font-size: larger !important;
	display: inline-block;
    font-weight: 400;
    color: #919191;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #e4e7ea;
    border: 1px solid transparent;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.verticalAlignTop{
	vertical-align: top;
}

#orderline-header-number-id{
	margin-right:10px;
	width: 65px;
	text-align: center;
}

#orderline-header-product-id{
	margin-right:10px;
	width: 200px;
}

#orderline-header-description-id{
	margin-right:10px;
	width: 340px;
}

#orderline-header-qty-id{
	margin-right:10px;
	width: 210px;
}

#orderline-header-weight-id{
	margin-right:10px;
	width: 210px;
}

#orderline-header-uom-id{
	margin-right:10px;
	width: 250px;
}

#orderline-header-rotadate-id{
	margin-right:10px;

}

#orderline-header-batch-id{
	margin-right:10px;
	width: 240px;
}

#orderline-header-ref3-id{
	margin-right:10px;
	width: 240px;
}

#orderline-header-ref4-id{
	margin-right:10px;
	width: 240px;
}

#orderline-header-disposition-id{
	margin-right:10px;
	width: 260px;
}

#orderline-header-packid-id{
	margin-right:10px;
	width: 240px;
}

/*value id */
#orderline-header-number-val-id{
	margin-right:10px;
	width: 65px;
	text-align: center;
}

#orderline-header-product-val-id{
	margin-right:10px;
	width: 200px;
}

#orderline-header-description-val-id{
	margin-right:10px;
	width: 340px;
}

#orderline-header-qty-val-id{
	margin-right:10px;
	width: 210px;
}

#orderline-header-weight-val-id{
	margin-right:10px;
	width: 210px;
}

#orderline-header-uom-val-id{
	margin-right:10px;
	width: 250px;
}

#orderline-header-rotadate-val-id{
	margin-right:10px;

}

#orderline-header-batch-val-id{
	margin-right:10px;
	width: 240px;
}

#orderline-header-ref3-val-id{
	margin-right:10px;
	width: 240px;
}

#orderline-header-ref4-val-id{
	margin-right:10px;
	width: 240px;
}

#orderline-header-disposition-val-id{
	margin-right:10px;
	width: 260px;
}

#orderline-header-packid-val-id{
	margin-right:10px;
	width: 240px;
}

