/* .podbreadcrumb{
    display:flex; 
    width:30%; 
    align-items:center;
    margin-bottom: 1%;
    width: 100%;
}
.podtitle{
    color: #637176;
    margin-right: 3%;
}

.podtitle:hover{
    cursor: pointer;
}

.podetails{
    color: #22ABE3;
}
.podheader{
    display: flex !important;
    background-color: white;
    padding: 1%;
    border-radius: 5px;
    font-size: 1.25em;
}



.sub{
    width: 50%;
}

.sub > table > tr > th {
    height: 43px;
    color: #B4B9BB;
}
.sub > table > tr > td {
    height: 40px;
} */

.hori{
    border-left: 2px solid #D5D8DA;
    height: 34px;
}
 