span.downArrow:before {
  font-family: "FontAwesome";
  content: "\f107";
  display: inline-block;
  font-weight: 900;
}
span.upArrow:before {
  font-family: "FontAwesome";
  content: "\f106";
  display: inline-block;
  font-weight: 900;
}

.headers {
  font-weight: 500;
  color: #b4b9bb !important;
  font-size: 15px;
}

table {
  font-family: Arial, Helvetica, sans-serif;
}

/* create seles */

.createpo {
  float: right !important;
  display: flex;
  justify-content: space-between;
  margin-bottom: -1%;
}

.createpo > .font {
  font-size: large;
  margin-left: -5px;
  padding-right: 15px;
}

.header {
  display: flex;
  margin-top: 1.5%;
  width: 100% !important;
  justify-content: space-between;
}

.header2 {
  margin-top: -10px !important;
}
*/
/* create seles end*/

table{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 750;
}

/* search */
.font {
  font-family: "Helvetica Neue Medium" !important;
  font-size: 1.5em;
  cursor: pointer;
  margin-top: 1%;
  margin-bottom: 1%;
}
.buttonsearch {
  width: 75%;
  border-radius: 5px !important;
  font-size: 90%;
}

.rows {
  display: -webkit-box;
  flex-wrap: wrap;
  margin-right: -15px;
}

.tablecontents {
  margin-top: 10px;
  padding: 0%;
  padding-top: 0%;
  padding-bottom: 0%;
  min-width: 100%;
  background-color: white;
  border-radius: 5px;
}

.xl {
  flex: 0 0 18%;
  max-width: 18%;
}

.xl-search {
  flex: 0 0 82%;
  max-width: 82%;
}

.inputgroups {
  border: 2px solid #d5d8da;
  border-radius: 5px;
  width: 80%;
  vertical-align: middle !important;
  padding-top: 0.1%;
  padding-left: 1%;
  min-width: 20% !important;
  align-items: center !important;
  display: flex;
  height: 50px;
}

.searchinput {
  margin-left: 1.5% !important;
  background-color: transparent;
  width: 95%;
  color: grey;
  box-sizing: border-box;
  border: none;
  transition: background-color 0.5s ease;
  outline-color: transparent;
  font-size: 1.2em;
}

.dropdowns {
  padding: 15px;
  min-width: 100%;
  background-color: white;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin-top: -18px;
}

.iconU-filters {
  height: auto;
  font-size: 1em;
  min-width: 3% !important;
  border: none;
  border-radius: 5px !important;
}

.iconU-filters:before {
  font-size: 1.5em !important;
}

/* search and */
/* table */
/* .tablecontent {
  margin-top: 1%;
  padding: 0%;
  padding-top: 0%;
  padding-bottom: 0%;
  min-width: 100%;
  background-color: white;
  border-radius: 5px;
} */
.tablePages {
  /* max-height: 650px !important; */
  overflow-y: scroll;
  font-size: 1.1em;
}
.tablePages::-webkit-scrollbar {
  width: 8px !important;
}

.tablePages::-webkit-scrollbar-thumb {
  background-color: #b4b9bb;
  border-radius: 5px;
}
.Sotable {
  width: 100%;
}

.Sotable th {
  border-bottom: 2px solid #e2e2e2 !important;
  height: 45px !important;
  cursor: pointer;
  font-size: 1em;
}

.Sotable tr {
  border-bottom: 2px solid #f0f0f0 !important;
  height: 45px !important;
}

.createpotable {
  width: 100%;
  margin-top: 1%;
}

.tr:hover {
  background: #f0f0f0 !important;
  cursor: pointer;
}

.tr td {
  height: 45px;
  border-bottom: 1px solid #d5d8da !important;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.createpotable > tr > td {
  padding-right: 2% !important;
}

.hidden {
  display: none;
}

.hidden {
  display: none !important;
}

.fades {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.value-text {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 750;
}
.iconU-option {
  font-size: 0.4em !important;
  color: #b4b9bb !important;
  text-align: center;
  vertical-align: middle;
}

th.iconU-edit {
  color: #3366FF !important;
  text-align: center;
}
.create > .iconU-edit {
  margin-top: 2.5%;
}

.iconU-close {
  margin-left: 5%;
  vertical-align: middle !important;
}
.modal-title > .create > .iconU-edit:hover {
  cursor: default;
}

.iconU-delete {
  border: 2px solid #e6e6e6;
  border-radius: 5px;
  font-size: 1.25em;
  padding: 10%;
  text-align: center;
  height: 35px;
  background-color: #e8e8e8;
  color: #919191;
  transition: ease-in;
  margin: 0px !important;
  padding-top: 3px !important;
}

.iconU-delete:hover {
  cursor: pointer;
  transition: ease-in;
  color: white;
}
.iconU-edit {
  font-size: 1em !important;
}
.iconU-edit {
  margin-right: 5px;
  margin-top: -8%;
  vertical-align: middle !important;
  cursor: pointer;
}

.iconU-search {
  vertical-align: middle;
  color: #d5d8da !important;
}

.paginations > .page {
  vertical-align: middle;
  align-items: center;
}

@media (max-width: 1500px) {
  .arrow {
    margin-left: 7px !important;
    width: 0.7em;
  }

  .Sotable {
    width: 100%;
  }

  .Sotable th {
    border-bottom: 2px solid #e2e2e2 !important;
    height: 45px !important;
    cursor: pointer;
    font-size: 1em;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
  }

  .Sotable tr {
    border-bottom: 1.5px solid #f0f0f0;
    height: 45px !important;
    font-size: 12px;
  }
  .tr {
    border-bottom: 1.5px solid #e2e2e2 !important;
  }

  .tr:hover {
    background: #f0f0f0 !important;
    cursor: pointer;
  }
/* table */

  th {
    font-family: "Helvetica Neue Bold";
    color: #b4b9bb;
  }
  td {
    font-family: "Helvetica Neue Regular";
    color: #637175;
  }
}
@media (min-width: 1500px) {
  .arrow {
    margin-left: 7px !important;
    width: 9px;
    font-weight: bold;
  }

  .Sotable {
    width: 100%;
  }

  .Sotable th {
    border-bottom: 1px solid #d5d8da;
    height: 45px !important;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
  }

  .Sotable tr {
    border-bottom: 2px solid #f0f0f0 !important;
    height: 45px !important;
    font-size: 1rem;
  }
  .tr:hover {
    background: #f0f0f0 !important;
    cursor: pointer;
  }

  th {
    font-family: "Helvetica Neue Bold";
    color: #b4b9bb;
  }
  td {
    font-family: "Helvetica Neue Regular";
    color: #637175;
  }
}

.createmodal {
  position: absolute;
  width: 342%;
  background-color: #3366FF !important;
  margin-left: -118%;
  margin-top: 17%;
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

.modal-header {
  background-color: #3366FF !important;
  width: 100% !important;
  color: #ffff;
  display: flex !important;
}

.addlineSO:hover{
	color: white;
}

.addlineSO{
	color: #919191;
	font-size: larger; 
  margin-left: 95px;
  margin-top: 0px !important;
  margin-bottom: 10px !important;
}

.addlineSo {
  margin-top: -4px;
  height: 35px;
  width: 65px;
  font-size: larger !important;
  display: inline-block;
  font-weight: 400;
  color: #23282c;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #e4e7ea;
  border: 1px solid transparent;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-left: 10px;
    height: 50px;
}

.icon-u-edit-blue {
  color: rgb(28, 148, 191);
  font-size: 1.3em !important;
}

.verticalAlignTop {
  vertical-align: top;
}

#orderline-header-number-id {
  margin-right: 10px;
  width: 65px;
  text-align: center;
}

#orderline-header-product-id {
  margin-right: 10px;
  width: 150px;
}

#orderline-header-description-id {
  margin-right: 10px;
  width: 250px;
}

#orderline-header-qty-id {
  margin-right: 10px;
  width: 80px;
}

#orderline-header-weight-id {
  margin-right: 10px;
  width: 80px;
}

#orderline-header-uom-id {
  margin-right: 10px;
  width: 150px;
}

#orderline-header-rotadate-id {
  margin-right: 10px;
  width: 150px;
}

#orderline-header-batch-id {
  margin-right: 10px;
  width: 160px;
}

#orderline-header-ref3-id {
  margin-right: 10px;
  width: 160px;
}

#orderline-header-ref4-id {
  margin-right: 10px;
  width: 160px;
}

#orderline-header-disposition-id {
  margin-right: 10px;
  width: 150px;
}

#orderline-header-packid-id {
  margin-right: 10px;
  width: 160px;
}

/*value id */
#orderline-header-number-val-id {
  margin-right: 10px;
  width: 65px;
  text-align: center;
}

#orderline-header-product-val-id {
  margin-right: 10px;
  width: 150px;
}

#orderline-header-description-val-id {
  margin-right: 10px;
  width: 250px;
}

#orderline-header-qty-val-id {
  margin-right: 10px;
  width: 80px;
}

#orderline-header-weight-val-id {
  margin-right: 10px;
  width: 80px;
}

#orderline-header-uom-val-id {
  margin-right: 10px;
  width: 150px;
}

#orderline-header-rotadate-val-id {
  margin-right: 10px;
  width: 150px;
}

#orderline-header-batch-val-id {
  margin-right: 10px;
  width: 160px;
}

#orderline-header-ref3-val-id {
  margin-right: 10px;
  width: 160px;
}

#orderline-header-ref4-val-id {
  margin-right: 10px;
  width: 160px;
}

#orderline-header-disposition-val-id {
  margin-right: 10px;
  width: 150px;
}

#orderline-header-packid-val-id {
  margin-right: 10px;
  width: 160px;
}

.scrollx{
	overflow-x: scroll !important;
	overflow-y: hidden !important;
}

.scroll-x-y-visible{
  overflow-x: scroll !important;
  overflow-y: visible !important;
  z-index: -10;
}

.scroll-x-y-visible::-webkit-scrollbar {
	width: 8px !important;
	height: 8px;
	margin-bottom: 0px !important;
	background-color: #E9ECED;
	border-radius: 5px;
  }

.scroll-x-y-visible::-webkit-scrollbar-thumb {
	background-color: #B4B9BB;
	border-radius: 5px;
  }

  .scrolly{
	overflow-y:scroll;
	overflow-x: hidden;
	min-width: 30em;
	padding-right: -1% !important;
}

.scrolly::-webkit-scrollbar {
	width: 8px !important;
	height: 8px;
  }

.scrolly::-webkit-scrollbar-thumb {
	background-color: #B4B9BB;
	border-radius: 5px;
  }
  
.btn-next{
  margin-top: 1.5%;
}

.so-supp{
  margin-bottom: 5%;  
}

.so-dropdown-wrapper{
  display: flex;
}

/* .so-dropdown-wrapper > div{
  margin-right: 3%;
} */

.main-modal{
  padding:1em;
  
}

.edit-column-so-font{
  font-size: x-large;
  font-weight: 100 !important;
  color: #3366FF;
}

.edit-column-so-title{
  font-size: x-large;
  line-height: 1em;
  white-space: nowrap;
}

.edit-column-so{
  width: 100% !important;
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}

.edit-column-so-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-column-so-header > span{
  margin-left: 63em;
}

.edit-column-so > img{
  margin-right: 0.8em;
  width: 20% !important;
}

.grid-container {
  display: grid;
  grid-gap: 1.6em 1.6em;
  grid-template-columns: auto auto auto auto auto;
  padding: 1em;
}

.btnclose-modal-so{
  cursor: pointer;
}

.grid-item {
  border: 2px solid #3366FF !important;
  border-radius: 5px;
  padding: 0.5em 1em;
  font-size: 1.2em;
  display: flex;
  cursor: pointer;
}

.edit-column-so-active{
  color: #3366FF !important;
  background-color: white;
}

.edit-column-so-inactive{
  color: #9AA2A5;
  background-color: #E9ECED;
  border: none !important;
}

.grid-container >div{
  display: flex;
  align-items: center;
}
.grid-container >div >img{
  margin-right: 0.6em;
  height: 1em;
  width: 1.3em;
}


.so-table-header{
  display: flex;
  width: fit-content;
  margin-right: 1.2em;
}

.so-table-header > span{
  white-space: nowrap;
}

.so-table-row{
  white-space: nowrap;
  padding-left: 0.5em !important;
  height: 3em !important;
}

.hidden{
  display: none !important;
}

.check-text .eye {
	display: none;
}

.check-text .eye ~ span {
	/* color: #93D1FF; */
	color:#212F61;
	cursor: pointer;
	padding: 6px;
	border-radius: 2px;
	font-weight: 200;
}

.check-text .eye ~ .checked {
	display: none;
}

.check-text .eye:checked ~ .checked {
	/* color: #388DCD; */
	color: #212F61;
	display: inline-block;
}

.check-text .eye:checked ~ .unchecked {
	display: none;
	color: #93D1FF;
}

.editcol-modal {
	max-width: 1000px !important;
	width: 1000px;
}

.editcol-header {
	font-family: "Helvetica Neue Medium";
	padding: 27px 48px;
	display: inline;
	border-bottom: 1px solid #F4F4F4 !important;
}

/* .modal-header {
	border-bottom: 1px solid #F4F4F4 !important;
} */

.modal-body{
	/* background-color: #F4F4F4 !important; */
}

.modal-content {
	position: absolute;
	width: 290%;
	margin-left: -95%;
	margin-top: 20%;
	border-radius: 0.3rem;
	background-color: #F4F4F4 !important;
}

.btn-editcol {  
	padding: 0.5em 1em;
	font-size: 1.2em; 
	cursor: pointer;
	float: right;
	width: 170px;
	height: 50px;
	text-align: center; 
}

.btn-editcol:hover {
	background-color: #367FB5 !important;
	border-color: #367FB5 !important;
}

.btnclose-modal {
	background-color: #EAF3FA;
	color: #388DCD;
	font-size: 24px;
    /* padding: 0.1rem 0.4rem; */
	width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    font-weight: normal;
}

.footer-button {
	padding-right: 1rem !important;
	margin-bottom: 80px;
}
