:root {
  --widhtTable: {
    .Table .rt-thead .rt-tr .rt-th{
      min-width: min-content;
    };
  }
}

.Table {
  .rt-table {
    border: none;
    background-color: white;
    border-radius: 0.25rem;
    .rt-thead {
      padding: 0 !important;
      margin: 0 !important;
      box-shadow: none !important;
      .rt-tr {
        .rt-th{
          min-width: min-content;
          box-shadow: none !important;
          height: 40px;
          border-right: none !important;
          color: #b4b9bb;
          font-weight: inherit;
        }
      }
      .rt-tr:last-child{
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
      }
    }
  }

  .rt-thead .rt-tr .rt-th{
    min-width: min-content;
  }
  
  .rt-body .rt-tr-group .rt-tr .rt-td{
    width: var(--widhtTable);
  }

  .-header .rt-tr {
    border-bottom: 2px solid #e0e2e4 !important;
  }

  //clickable column header
  .rt-th.-cursor-pointer .rt-resizable-header-content .draggable-header:after {
    content: url('/field-idle.png');
    padding-left: 10px;
    width: 42px;
    height: 42px;
  }

  .rt-th.-cursor-pointer.-sort-asc .rt-resizable-header-content .draggable-header:after {
    content: url('/field-top.png');
    padding-left: 10px;
    // content: "  ▲";
  }

  .rt-th.-cursor-pointer.-sort-desc .rt-resizable-header-content .draggable-header:after {
    content: url('/field-bot.png');
    padding-left: 10px;
    // content: "  ▼";
  }
  .rt-tr {
    border-bottom: 0px !important;
  }
  .rt-tbody {
    display: flow-root;
    overflow-x: hidden;
  }
  .rt-tbody .rt-tr-group:hover {
    background-color: #eee;
    cursor: pointer !important;
  }
  .rt-td {
    border-right: none !important;
  }
  .borderRight {
    border-right: 1px solid #d5d8da !important;
  }

  //draggable column
  .enable-drag:hover {
    cursor: pointer;
  }
}
.TableDownHover {
  .rt-table {
    border: none;
    background-color: white;
    border-radius: 4px;
  }

  .rt-thead {
    padding: 0 !important;
    margin: 0 !important;
    box-shadow: none !important;
  }

  .rt-th {
    box-shadow: none !important;
    height: 40px;
    // padding: 5px 5px !important;
    border-right: none !important;
    color: #b4b9bb;
    font-weight: inherit;
  }

  .-header .rt-tr {
    border-bottom: 2px solid #e0e2e4 !important;
  }

  //clickable column header
  .rt-th.-cursor-pointer .rt-resizable-header-content .draggable-header:after {
    content: url('/field-idle.png');
    padding-left: 10px;
    width: 42px;
    height: 42px;
  }

  .rt-th.-cursor-pointer.-sort-asc .rt-resizable-header-content .draggable-header:after {
    content: url('/field-top.png');
    padding-left: 10px;
    // content: "  ▲";
  }

  .rt-th.-cursor-pointer.-sort-desc .rt-resizable-header-content .draggable-header:after {
    content: url('/field-bot.png');
    padding-left: 10px;
    // content: "  ▼";
  }
  .rt-tr {
    border-bottom: 0px !important;
  }
  .rt-td {
    border-right: none !important;
  }
  .borderRight {
    border-right: 1px solid #d5d8da !important;
  }

  //draggable column
  .enable-drag:hover {
    cursor: pointer !important;
  }
}

.table-detail {
  .rt-draggable-container div.draggable-header.enable-drag {
    padding: 0px !important;
  }
}

.userManagement {
  .rt-draggable-container div.draggable-header.enable-drag {
    padding: 0px !important;
  }
}
.show-edit-icon {
  .rt-th:last-child {
    position: absolute;
    background: #F6F7F9;
    right: 0;
    justify-content: center;
  }
  .edit-column img:last-child {
    display: none;
    cursor: pointer;  
  }
  .edit-column:hover img:last-child {
    display: inline;
    cursor: pointer;  
  }
  .edit-column:hover img:first-child {
    display: none; 
    cursor: pointer;   
  }
}
