.Table {
  .rt-table {
    border: none;
    background-color: white;
    border-radius: 4px;
  }

  .rt-thead {
    padding: 0 !important;
    margin: 0 !important;
    box-shadow: none !important;
  }

  .rt-th {
    box-shadow: none !important;
    height: 40px;
    border-right: none !important;
    color: #b4b9bb;
    font-weight: inherit;
  }

  .rt-th:last-child{
    position: absolute;
    background: whitesmoke;
    right: 0;
    justify-content: center;
  }
  
  .-header .rt-tr {
    border-bottom: 2px solid #e0e2e4 !important;
  }

  //clickable column header
  .rt-th.-cursor-pointer .rt-resizable-header-content .draggable-header:after {
    content: url('/field-idle.png');
    padding-left: 10px;
    width: 42px;
    height: 42px;
  }

  .rt-th.-cursor-pointer.-sort-asc .rt-resizable-header-content .draggable-header:after {
    content: url('/field-top.png');
    padding-left: 10px;
    // content: "  ▲";
  }

  .rt-th.-cursor-pointer.-sort-desc .rt-resizable-header-content .draggable-header:after {
    content: url('/field-bot.png');
    padding-left: 10px;
    // content: "  ▼";
  }
  .rt-tr {
    border-bottom: 0px !important;
  }
  .rt-tbody {
    display: flow-root;
  }
  .rt-tbody .rt-tr-group:hover {
    background-color: #eee;
    cursor: pointer !important;
  }
  .rt-td {
    border-right: none !important;
  }
  .borderRight {
    border-right: 1px solid #d5d8da !important;
  }

  //draggable column
  .enable-drag:hover {
    cursor: pointer;
  }
}
.TableDownHover {
  .rt-table {
    border: none;
    background-color: white;
    border-radius: 4px;
  }

  .rt-thead {
    padding: 0 !important;
    margin: 0 !important;
    box-shadow: none !important;
  }

  .rt-th {
    box-shadow: none !important;
    height: 40px;
    padding: 5px 5px !important;
    border-right: none !important;
    color: #b4b9bb;
    font-weight: inherit;
  }

  .-header .rt-tr {
    border-bottom: 2px solid #e0e2e4 !important;
  }

  //clickable column header
  .rt-th.-cursor-pointer .rt-resizable-header-content .draggable-header:after {
    content: url('/field-idle.png');
    padding-left: 10px;
    width: 42px;
    height: 42px;
  }

  .rt-th.-cursor-pointer.-sort-asc .rt-resizable-header-content .draggable-header:after {
    content: url('/field-top.png');
    padding-left: 10px;
    // content: "  ▲";
  }

  .rt-th.-cursor-pointer.-sort-desc .rt-resizable-header-content .draggable-header:after {
    content: url('/field-bot.png');
    padding-left: 10px;
    // content: "  ▼";
  }
  .rt-tr {
    border-bottom: 0px !important;
  }
  .rt-td {
    border-right: none !important;
  }
  .borderRight {
    border-right: 1px solid #d5d8da !important;
  }

  //draggable column
  .enable-drag:hover {
    cursor: pointer !important;
  }
}

.table-detail {
  .rt-draggable-container div.draggable-header.enable-drag {
    padding: 0px !important;
  }
}
