.Table{
    .rt-table {
        border: none;
        background-color: white;
        border-radius: 4px;
      }

      .rt-thead {
        padding: 0 !important;
        margin: 0 !important;
        box-shadow: none !important;   
      }
      
      .rt-th{
        box-shadow: none !important;
        height: 40px;
        padding: 10px 10px !important;   
        border-right: none !important;
        color: #b4b9bb;
        font-weight: bold;
      }

      .-header .rt-tr {
        border-bottom: 2px solid #E0E2E4 !important;
      }

      //clickable column header
      .rt-th.-cursor-pointer .rt-resizable-header-content .draggable-header:after{
        content: "\00a0\00a0"url('/field-idle.png'); 
        width: 42px; height:42px;
      } 

      .rt-th.-cursor-pointer.-sort-asc .rt-resizable-header-content .draggable-header:after{
        content: "\00a0\00a0" url('/field-top.png'); 
        // content: "  ▲"; 
      } 

      .rt-th.-cursor-pointer.-sort-desc .rt-resizable-header-content .draggable-header:after{
        content:"\00a0\00a0" url('/field-bot.png'); 
        // content: "  ▼"; 
      } 
      .rt-tr {
        border-bottom: 0px !important;
      }
      .rt-td{ 
        border-right: none !important;
      }
      .borderRight {
        border-right: 1px solid #d5d8da !important;
      } 

      //draggable column
      .enable-drag:hover{
        cursor: pointer !important;
      }
}
 