// rename
.newIcon-edit_column {
  cursor: pointer;
}
.newIcon-edit_column {
  color: #b4b9bb;
  font-size: 1.5rem;
}
.newIcon-edit_column:hover {
  color: #376bfb;
}

.form-rename:hover {
  border-color: #4a78f8;
}
.form-rename:focus {
  outline: none !important;
}
.rename-columns {
  height: 40px !important;
  width: -moz-max-content;
  color: rgb(88, 87, 87);
  width: max-content;
  margin-left: 74%;
  border: solid 0px;
  background-color: #e8e8e8;
  border-radius: 0.3rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.rename-columns:hover {
  cursor: pointer;
}
.tab-rename {
  color: #376bfb !important;
  padding-left: 24px;
  padding-right: 27px;
  padding-bottom: 5px;
  border-radius: 7px;
}
.tab-color {
  color: rgb(88, 87, 87);
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 5px;
  border-radius: 0.3rem;
  transition: width 2s;
}
.font-18 {
  font-size: 14px !important;
  font-weight: 500;
}
.rename-columns .input-group,
.rename-columns .input-group .nav-item,
.rename-columns .input-group .nav-item .tab-rename,
.rename-columns .input-group .nav-item .tab-color {
  height: 30px !important;
}
.rename-columns .input-group {
  height: 30px !important;
}
.btn-outline-primary {
  color: #376bfb !important;
}
.no-hover:hover {
  background-color: #376bfb !important;
  border-color: #376bfb !important;
  outline: solid #376bfb !important;
}
.btn-outline-primary:hover {
  color: #ffffff !important;
}

.nav-link {
  margin: 0px !important;
}

.form-rename {
  display: block;
  width: 100%;
  height: 48px !important;
  padding: 0.375rem 0.75rem;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid;
  color: #383a3b;
  background-color: #fff;
  border-color: #376bfb;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-rename::placeholder {
  color: #376bfb !important;
}

.bgn-header{
  background-color: #376BFB;
}
.text-color{
  color: #376BFB;
}

//DarkMode
.customDarkMode{
  .bgn-header{
    background-color: #1c1c1c !important;
  }
  .no-hover{
    background-color: #1c1c1c !important;
    border: solid 1px #1c1c1c !important;
    outline: solid 9px #1c1c1c !important;
    border-radius: 0px !important;
  }
  .no-hover:hover{
    background-color: #1c1c1c !important;
    outline: solid 9px #1c1c1c !important;
    border-radius: 0px !important;
  }
  .half-padding{
    background-color: #3e3846 !important;
  }
  .tab-content{
    background-color: #3e3846 !important;
  }
  .text-color{
    color: #f1f1f2 !important;
  }
  .btn-light-gray{
    background-color: #635f78 !important;
    border: solid 1px #635f78 !important;
  }
  .nav-link.active {
    background-color: #3e3846 !important;
  }
  .rename-columns {
    background-color: #635f78 !important;
    color: #376BFB !important;
  }
  .nav-link{
    background-color: #635f78  !important;
    color: #fff !important;
  }
  .form-rename{
    background-color: #3e3846 !important;
  }
}

@media (min-width: 376px) and (max-width: 575px) {
  .grid-col {
    display: grid !important;
    grid-template-columns: 50% 50% !important;
  }
}
@media (min-width: 581px) and (max-width: 991px) {
  .grid-col {
    display: grid !important;
    grid-template-columns: 50% 50% !important;
  }
}
@media (max-width: 375px) {
  .grid-col {
    display: grid !important;
    grid-template-columns: 100% !important;
  }
  .font-18 {
    font-size: 9px !important;
  }
  .font-20 {
    font-size: 17px;
  }
}
.ver-center-item {
  display: flex;
  align-items: center;
}
