/* ∞∞ global ∞∞ */
.select_date, .expand-style, .select_date_items, .select_date_options, .select_date_option {
	position: relative;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border-color: inherit;
}

/* ∞∞ Input elements ∞∞ */
.select_date_close, .select_date_expand, .select_date_input {
  	color: inherit;
  	font: inherit;
  	margin: 0;
  	background: transparent;
		outline: none;
		border: none;
		border-radius: 0;
		-webkit-appearance: none;
		   -moz-appearance: none;
		        appearance: none;
}

.select_date {
	width: 150px;
	height: 40px;
	cursor: pointer;
	list-style: none;
	background-color: #FFFFFF;
	border-radius: 5px;
	border: 1px solid #D5D8DA;
	z-index: 1;
}

.select_date:hover, .select_date:focus-within{
	transition: 0.2s ease-in;
	border: 1px solid #22ABE3 !important;
}

.select_date_expand {
	width: 0;
	height: 40px;
	position: absolute;
	top: 0;
	right: 10px;
}

.select_date_expand::after {
	content: '\003E';
    position: absolute;
    top: 50%;
    right: 8px;
    -webkit-transform: translate(-50%, -50%) rotate(90deg) scaleY(1.75);
    transform: translate(-50%, -50%) rotate(90deg) scaleY(1.75);
    font-weight: 500;
    font-size: 10px;
    pointer-events: none;
    z-index: 2;
    -webkit-transition: all 250ms cubic-bezier(.4,.25,.3,1);
    transition: all 250ms cubic-bezier(.4,.25,.3,1);
}

.select_date_expand:hover::after {opacity: 1}

.select_date_expand:checked::after {
	-webkit-transform: translate(-50%, -50%) rotate(90deg) scaleX(-1) scaleY(1.75);
	transform: translate(-50%, -50%) rotate(90deg) scaleX(-1) scaleY(1.75);
}
		
.select_date_expandLabel {
	display: block;
	width: 100%;
	height: 40px;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}

.select_date_close {display: none}

.select_date_closeLabel {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
}

.select_date_items { 
	list-style: none;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 2px;
	padding-top: 40px;
}

.select_date_input {display: none}
		
.select_date_options{list-style: none; }

.select_date_label {
	font-family: "Helvetica Neue Regular";
	margin-bottom: 0 !important;
	transition: all 250ms cubic-bezier(.4,.25,.3,1);
	display: block;
	height: 0;
	background-color: #FFFFFF;
	font-size: 1rem;
	line-height: 40px;
	overflow: hidden;
	cursor: pointer;
	padding-left: 20px;
	user-select: none;
}
.select_date_label-placeholder {
	height: 40px;
	vertical-align: middle;
	position: absolute;
	top: 0;
	left: 0;
	color: #637176;
	background-color: transparent;
	display: block;
}


.select_date_expand:checked + .select_date_closeLabel {
	display: block;
}

.select_date_expand:checked + .select_date_closeLabel + .select_date_options{
	border: 1px solid #22ABE3;
	border-radius: 5px;
	margin-top: 10px;
}

.select_date_close:checked + span + .select_date_items > .select_date_options{
	border-radius: 5px;
	margin-top: 10px;
}

.select_date_expand:checked + .select_date_closeLabel + .select_date_options .select_date_label {
	height: 40px;
}

.select_date_expand:checked + .select_date_closeLabel + .select_date_options .select_date_label:hover {
	font-family: "Helvetica Neue Medium";
	background-color: #F6F7F9;
}

.select_date_expand:checked + .select_date_closeLabel + .select_date_options + .select_date_expandLabel {display: none}

.select_date_input:checked + .select_date_label {
	height: 30px;
	margin-top: -40px;
	border-radius: 5px;
	/* border-bottom: 1px solid #969EA1; */
}
.select_date_expand:checked + .select_date {
	display: block;
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}
.select_date_expand:checked + .expand-style {
	width: 225px;
	height: 40px;
	cursor: pointer;
	background-color: #FFFFFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}