.purchase-order {
  .text-left-po{
    text-align: left !important;
  }
  .search-padding {
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    padding-right: 1.4rem;
    padding-left: 1.4rem;
  }
  .dropdown-item{
    text-align: left !important;
  }
  /* Sales Order Create */
  .required::after {
    content: " *";
    color: #e55353;
  }
  .tab-content {
    padding: 0;
    margin: 0;
    background-color: #fff;
    color: #000;
    /* overflow: hidden; */
  }
  .nav-link {
    background-color: #eee;
    color: #959da0 !important;
    border: none !important;
    font-size: 20px;
    padding-left: 20px;
    margin-left: 5px !important;
    cursor: pointer;
  }
  .nav-link.active {
    background-color: #fff !important;
    color: #376bfb !important;
  }
  .nav-tabs {
    margin-left: 26px;
    border: none;
  }
  // Reacteble
  .ReactTable {
    .modal-content .modal-body {
      border-radius: 0rem 0rem 0.3rem 0.3rem !important;
    }
    .rt-table {
      .rt-thead {
        min-width: 1698px !important;
        .rt-tr {
          // .rt-th:first-child {
          //   padding-left: 1.8rem !important;
          //   text-align: left !important;
          //   max-width: 300px !important;
          // }
          // .rt-th:nth-child(5) {
          //   max-width: 300px !important;
          // }
        }
      }
      .rt-tbody {
        overflow-x: hidden !important;
        min-width: 1698px !important;
        .rt-tr-group{
          .rt-tr {
            // .rt-td:first-child {
            //     max-width: 300px !important;
            // }
            // .rt-td:nth-child(5) {
            //   max-width: 300px !important;
            // }
          }
        }
      }
    }
  }
  .height-nav{
    height: 3.25rem;
  }
  
  @-moz-document url-prefix() {
    .height-nav {height:3.3rem ;}
  }
@media (min-width:576px) and (max-width:991px){
  .card{
    .card-body{
      .row{
        .col-lg-3{
          padding-right: 0rem !important;
          padding-bottom: 1rem !important;
        }
        .col-lg-9{
          .row{
            .col-lg-2:nth-child(4){
              padding-left: 0rem !important;
              padding-top: 1rem !important;
            }
            .col-lg-2:nth-child(5){
              padding-top: 1rem !important;
            }
            .col-lg-2:last-child{
              padding-top: 1rem !important;
            }
          }
        }
      }
    }
  }
}

@media (max-width:576px){
  .card{
    .card-body{
      .row{
        .col-lg-3{
          padding-right: 0rem !important;
          padding-bottom: 1rem !important;
        }
        .col-lg-9{
          .row{
            .col-lg-2:nth-child(2){
              padding: 1rem 0rem !important;
            }
            .col-lg-2:nth-child(4){
              padding: 1rem 0rem 0rem 0rem !important;
            }
            .col-lg-2:nth-child(5){
              padding-top: 1rem !important;
            }
            .col-lg-2:last-child{
              padding-top: 1rem !important;
              .btn{
                width: 100% !important;
              }
            }
          }
        }
      }
    }
  }
}


}
.purchase-order-create {
  textarea {
    min-height: 35px !important;
  }
  .modal-desc {
    padding-left: 36px;
  }
  .purchase-order ::placeholder,
  ::placeholder,
  .css-1wa3eu0-placeholder {
    color: #b4b9bb !important;
  }
  .text-error {
    padding-left: 10px;
  }
  .orderline-row td {
    vertical-align: top;
  }
  .orderline .absolute {
    position: absolute !important;
    z-index: 99;
  }
  .orderline .right {
    right: 22% !important;
  }

  .po-lh-1 {
    line-height: 1rem;
  }

  .pod .card {
    box-shadow: transparent;
  }

  .pod .card .card-body .row {
    padding-bottom: 0.5rem !important;
  }
  .pod .card .card-body .row:last-child {
    padding-bottom: 0px !important;
  }
  
}

.purchase-order-detail{
  .row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}
}


