//Fonts
	/* Nunito Semibold */
		/* vietnamese */
		@font-face {
			font-family: 'Nunito';
			font-style: normal;
			font-weight: 600;
			font-display: swap;
			src: local('Nunito SemiBold'), local('Nunito-SemiBold'), url(https://fonts.gstatic.com/s/nunito/v11/XRXW3I6Li01BKofA6sKUbuvISTs.woff2) format('woff2');
			unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
		}
		/* latin-ext */
		@font-face {
			font-family: 'Nunito';
			font-style: normal;
			font-weight: 600;
			font-display: swap;
			src: local('Nunito SemiBold'), local('Nunito-SemiBold'), url(https://fonts.gstatic.com/s/nunito/v11/XRXW3I6Li01BKofA6sKUb-vISTs.woff2) format('woff2');
			unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
		}
		/* latin */
		@font-face {
			font-family: 'Nunito';
			font-style: normal;
			font-weight: 600;
			font-display: swap;
			src: local('Nunito SemiBold'), local('Nunito-SemiBold'), url(https://fonts.gstatic.com/s/nunito/v11/XRXW3I6Li01BKofA6sKUYevI.woff2) format('woff2');
			unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
		}

	/* Nunito Bold */
		/* vietnamese */
		@font-face {
			font-family: 'Nunito Bold';
			font-style: normal;
			font-weight: 700;
			font-display: swap;
			src: local('Nunito Bold'), local('Nunito-Bold'), url(https://fonts.gstatic.com/s/nunito/v11/XRXW3I6Li01BKofAjsOUbuvISTs.woff2) format('woff2');
			unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
		}
		/* latin-ext */
		@font-face {
			font-family: 'Nunito Bold';
			font-style: normal;
			font-weight: 700;
			font-display: swap;
			src: local('Nunito Bold'), local('Nunito-Bold'), url(https://fonts.gstatic.com/s/nunito/v11/XRXW3I6Li01BKofAjsOUb-vISTs.woff2) format('woff2');
			unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
		}
		/* latin */
		@font-face {
			font-family: 'Nunito Bold';
			font-style: normal;
			font-weight: 700;
			font-display: swap;
			src: local('Nunito Bold'), local('Nunito-Bold'), url(https://fonts.gstatic.com/s/nunito/v11/XRXW3I6Li01BKofAjsOUYevI.woff2) format('woff2');
			unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
		}

.nunito {
	font-family: "Nunito";
}

body {
	background-color: #E9ECED;
	font-family: "Nunito";
	color: #637176;
	// font-size: 15px;
}


@font-face {
	font-family: 'icomoon';
	src: url('./logo/fonts/icomoon.eot?t60pg3');
	src: url('./logo/fonts/icomoon.eot?t60pg3#iefix') format('embedded-opentype'),
	url('./logo/fonts/icomoon.ttf?t60pg3') format('truetype'),
	url('./logo/fonts/icomoon.woff?t60pg3') format('woff'),
	url('./logo/fonts/icomoon.svg?t60pg3#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}


[class^="iconU-"], [class*=" iconU-"] {
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
	// line-height: 0.75;
	vertical-align: bottom;
    // font-size: 3.5rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iconU-user:before {
	content: "\e912";
}
.iconU-stock-movement:before {
	content: "\e91a";
}
.iconU-user:before {
	content: "\e91c";
	font-size: 14px;
}
.iconU-dashboard:before {
	content: "\e913"
}

.iconU-purchaseOrder:before {
	content: "\e914";
	font-size: 16px;
}

.iconU-report:before {
	content: "\e915";
}

.iconU-salesOrder:before {
	content: "\e916";
	font-size: 16px;
}

.iconU-stock:before {
	content: "\e91b";
	font-size: 16px;
}

.iconU-i:before {
	content: "\e918";
}

.iconU-report:before {
	content: "\e915";
}


.iconU-circledChecked:before {
	content: "\e900";
}

.iconU-checked:before {
	content: "\e90e";
}

.iconU-close:after {
	content: "\e901";
}

.iconU-delete:before {
	content: "\e902";
}

.iconU-edit:before {
	content: "\e903";
}

.iconU-filter:before {
	content: "\e904";
	font-size: 13px;
}

.iconU-information:before {
	content: "\e905";
}

.iconU-leftArrow:before {
	content: "\e906";
}

.iconU-rightArrow:before {
	content: "\e90a";
}

.iconU-upArrow:before {
	content: "\e910";
}

.iconU-upArrows:after {
	content: "\e910";
	font-size: 9px;
}

.iconU-downArrow:after {
	content: "\e90f";
	font-size: 9px;
}

.iconU-one:before {
	content: "\e907";
}

.iconU-two:before {
	content: "\e90c";
}

.iconU-three:before {
	content: "\e90b";
}

.iconU-option:before {
	content: "\e908";
}

.iconU-question:before {
	content: "\e909";
}

.iconU-rightArrow:before {
	content: "\e90a";
}

.iconU-calendar:before {
	content: "\e90d";
}

.iconU-search:before {
	content: "\e911";
	display: inline-block;
	font-size: 1.5rem !important;
}

.iconU-field-dropdown:before {
	content: "\e90f";
}


// Glyphicons Icons
@font-face{font-family:'Glyphicons Halflings';src:url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.eot');src:url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.woff') format('woff'),url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.ttf') format('truetype'),url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');}.glyphicon{position:relative;top:1px;display:inline-block;font-family:'Glyphicons Halflings';font-style:normal;font-weight:normal;line-height:1;-webkit-font-exportoothing:antialiased;}
.glyphicon-pencil:before{content:"\270f";}
.glyphicon-eye-open:before{content:"\e105";}
.glyphicon-eye-close:before{content:"\e106";}


@media (min-width: 992px) {
	.sidebar-lg-show.sidebar-fixed .main,
	.sidebar-lg-show.sidebar-fixed .app-footer,
	.sidebar-show.sidebar-fixed .main,
	.sidebar-show.sidebar-fixed .app-footer {
		margin-left: 300px !important;
	}
}


// Start - Sidebar

.sidebar {
	background: #FFFFFF 0% 0% no-repeat padding-box;
	width: 270px !important;
	font-family: Helvetica;
}

.sidebar .sidebar-header {
	background: #FFFFFF 0% 0% no-repeat padding-box;
	width: 270px;
}

.sidebar .sidebar-footer {
	background: #FFFFFF 0% 0% no-repeat padding-box;
	// color: #212F61;
}

.sidebar .nav {
	width: 270px;
	flex-direction: column;
	min-height: 100%;
}

.sidebar .sidebar-nav {
	position: relative;
	width: 270px;
}

.sidebar .nav-item {
	background: #ffffff !important;
	font-size: 15px;
	line-height: 30px;
}

.sidebar .nav-item .nav-link.active {
	border-left: 3px solid #22ABE3 !important;
}

.sidebar .nav-link,
		 .nav-link .nav-icon {
	// letter-spacing: 0;
	color: #637176 !important;
}

.sidebar .nav-item .nav-link:hover,
		 .nav-item .nav-link:hover .nav-icon {
	color: #B4B9BB  !important;
	background: #ffffff !important;
}

// .sidebar .nav-item .nav-link:hover {
// 	border-left: 3px solid #22ABE3 !important;
// }

.sidebar .nav-link {
	padding-left: 40px;
}

.sidebar .nav-link.active, .nav-link.active .nav-icon {
	color: #22ABE3 !important;
	background: #ffffff !important;
}

// .sidebar .nav-dropdown.open:hover {
// 	color: #388DCD !important;
// }

// .sidebar .nav-dropdown-items .nav-item .nav-link.active,
// .sidebar .nav-dropdown-items .nav-item .nav-link:hover {
// 	color: #388DCD !important;
// 	background: #FFFFFF !important;
// }

.sidebar-minimizer {
	background: #ffffff !important;
}

.sidebar-minimizer:hover {
	color: #919191 !important;
}

.rounded-05 {
	border-radius: 0.5rem !important;
}

.rounded-175 {
	border-radius: 5px !important;
}

.rounded-top-175 {
	border-top-left-radius: 1.75rem;
	border-top-right-radius: 1.75rem;
}

.rounded-bottom-175 {
	border-bottom-left-radius: 1.75rem;
	border-bottom-right-radius: 1.75rem;
}

.rounded-top-05 {
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
}

.rounded-bottom-05 {
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}

// End - Sidebar


// Start - User section

.userSection {
	background-color: #E9ECED;
	border-radius: 10px;
	width: 230px;
	height: 60px;
	align-self: center;
	margin-bottom: 15px;
	padding: 7px;
}

.profilePhoto {
	width: 47px;
	height: 47px;
}

.userName {
	font-weight: bold;
	font-size: 18px;
	text-align: left;
	letter-spacing: 0;
	color: #637176;
	align-self: center;
	padding-left: 10px;
	padding-top: 5px;
}

.profileID {
	vertical-align: top;
	color: #969EA1;
	font-size: 11px;
	font-weight: bold;
	align-self: center;
	padding-left: 10px;
	// opacity: 1;
}

.viewProfile {
	background-color: #E9ECED;
	border-radius: 0px 0px 10px 10px;
	width: 230px;
	align-self: center;
	margin-bottom: 15px;
	margin-top: -10px;
}

.about {
	color: #B4B9BB;
	font-size: 12px;
	width: 230px;
	height: 35px;
	font-family: Helvetica;
	vertical-align: middle;
	line-height: 35px;
}

.about :hover{
	color: #B4B9BB;
	text-decoration: none;
}

// End - User Section


// Start - Border

hr.border-header {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 80%;
}

// End - Border


// Start - Breadcrumb

.headerTitle {
	font-size: 25px;
	font-family: "Nunito Bold";
}

.breadcrumb-item {
    font-size: 25px;
    font-family: "Nunito Bold";
}

.breadcrumb-item.active {
    color: #637176;
}

.breadcrumb {
    position: relative;
    border-radius: 0;
	border: none;
	background:none;
}

a.breadcrumb {
	color: #388DCD !important;
	padding-top: 0;
	padding-right: 0;
	margin-bottom: 0;
}

a.breadcrumb:hover {
	text-decoration: none;
}

.breadcrumb-item + .breadcrumb-item::before {
	font-family: "FontAwesome";
   	content: "\f105";
    display: inline-block;
    padding-right: 1rem;
    padding-left: 1rem;
    color: #388DCD;
    font-weight: 900;
    // content: "&#xf105;";
}

// End - Breadcrumb


// Start - Section modal header custom

.modalheader-custom {
	display: inline !important;
}

// End - Section modal header custom


// Start - Searchbox

.fa-search {
    color: #D5D8DA;
}

.searchbox, .searchbox::placeholder {
    color: #D5D8DA !important;
    align-self: center;
}

// End - Searchbox


// Start - Button

.filter {
	width: 38px;
	height: 38px;
	// border-radius: 50%;
	background-color: #E9ECED;
	color: #637176;
	border: none !important;
	box-shadow: none !important;
}

.filter.active, .filter.active:focus {
	background-color: #22ABE3 !important;
	color: #FFFFFF !important;
}

.search, .search:hover, .search:focus {
	width: 140px;
	height: 38px;
	background-color: #22ABE3;
	color: #FFFFFF;
	border: none;
	box-shadow: none !important;
}

// End - Button


// Start - Table

.headerBlue {
	background-color: #388DCD !important;
	color: #FFFFFF;
}

.clickable-row {
	cursor: pointer;
}

// .table-striped>tbody>tr:nth-child(odd)>td{
// 	background-color: #E0E3F2;
// }

// .table-striped>tbody>tr:nth-child(even)>td{
// 	background-color: #F5F7FA;
// }

.table th {
	background-color: #FFFFFF;
    color: #637176;
	border-top: none;
	vertical-align: middle !important;
}

.table td, .table-striped>tbody>tr>td {
	background-color: #FFFFFF;
    color: #4E4E4E;
	vertical-align: middle !important;
}

// .clickable-row>tbody>tr:hover>td {
// 	background-color: #E0E3F2;
// }

.table.noneborder-bottom thead th{
	border-bottom: none !important;
}

.borderless-bottom{
	border-bottom: 0 !important;
}

// End - Table


// Start - Spinner

.spinner {
	width: 100px;
	height: 100px;
	margin: 200px auto;
	background-color: #388DCD;
	align-items: center;

	border-radius: 100%;
	-webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
	animation: sk-scaleout 1.0s infinite ease-in-out;
  }

  @-webkit-keyframes sk-scaleout {
	0% { -webkit-transform: scale(0) }
	100% {
	  -webkit-transform: scale(1.0);
	  opacity: 0;
	}
  }

  @keyframes sk-scaleout {
	0% {
	  -webkit-transform: scale(0);
	  transform: scale(0);
	} 100% {
	  -webkit-transform: scale(1.0);
	  transform: scale(1.0);
	  opacity: 0;
	}
  }

// End - Spinner
