// Here you can add other styles
body {
	background-color: #ffffff;	
}

//Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

// .app .navbar-brand {
// 	top: 27px;
// 	left: 48px;
// 	width: 128px;
// 	height: 57px;
// }


// Start - Sidebar
.sidebar {
	background: #FFFFFF 0% 0% no-repeat padding-box;
	opacity: 1;
	color: #919191 !important;
}

.sidebar .nav {
	// width: 82px;
	flex-direction: column;
	min-height: 100%;
	padding: 1;
}

.sidebar .nav-link {
	color: #919191 !important;
}

.sidebar .nav-link.active {
	color: #388DCD !important;
	background: #FFFFFF !important;
}

.sidebar .nav-link:hover {
	color: #FFFFFF !important;
	background: #388DCD !important;
}

.sidebar .nav-dropdown.open {
	background: #FFFFFF !important;
}

.sidebar-minimizer {
	background: #FFFFFF !important;
}

.sidebar-minimizer:hover {
	color: #919191 !important;
}

.rounded-left-125 {
	border-top-left-radius: 1.25rem !important;
	border-bottom-left-radius: 1.25rem !important;
}

.rounded-right-125 {
	border-top-right-radius: 1.25rem !important;
	border-bottom-right-radius: 1.25rem !important;
}
// End - Sidebar


// Start - Button
.circle {
	// content: '\25CF';
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background-color: #388DCD;
	color: #FFFFFF;
}

.search {
	width: 160px;
	height: 35px;
	background-color: #388DCD;
	color: #FFFFFF;
}
// End - Button


// Start - Table
.headerBlue {
	background-color: #388DCD;
	color: #FFFFFF;
}

.table-striped>tbody>tr:nth-child(odd)>td{
	background-color: #EAF3FA;
}

.table-striped>tbody>tr:nth-child(even)>td{
	background-color: #F5F7FA;
 }
// End - Table

// Start - Login Page

.logo-box{
	position: absolute;
	top:30%;
    left:60%;
	width: 300px;
	height: 300px;
    background: #acb5bc 0% 0% no-repeat padding-box;
    border-radius: 40px;
    opacity: 0.7;
}

// Input Style - Login Page
.input {
  font-family: "Nunito";
  background: none;
  font-size: 16px;
  padding: 24px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #388DCD;
}
.input:focus {
  outline: none;
}
.input:focus ~ .label, .input:valid ~ .label {
  color: #2196F3;
}
.input:focus ~ .bar:before {
  width: 100%;
}

.input[type="password"] {
  letter-spacing: 0.3em;
}

.label {
  font-family: "Nunito";
  top: -2px;
  font-size: 14px;
  color: #388DCD;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  transition: 300ms ease all;
}

.bar {
  position: relative;
  display: block;
  width: 100%;
}
.bar:before {
  content: '';
  height: 2px;
  width: 0;
  bottom: 0px;
  position: absolute;
  background: #2196F3;
  transition: 300ms ease all;
  left: 0%;
}

// Checkbox Style - Login Page
.cbx {
	margin: auto;
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
  }
  .cbx span {
	display: inline-block;
	vertical-align: middle;
	transform: translate3d(0, 0, 0);
  }
  .cbx span:first-child {
	position: relative;
	width: 18px;
	height: 18px;
	border-radius: 3px;
	transform: scale(1);
	vertical-align: middle;
	border: 1px solid #9098A9;
	transition: all 0.2s ease;
  }
  .cbx span:first-child svg {
	position: absolute;
	top: 3px;
	left: 2px;
	fill: none;
	stroke: #FFFFFF;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-dasharray: 16px;
	stroke-dashoffset: 16px;
	transition: all 0.3s ease;
	transition-delay: 0.1s;
	transform: translate3d(0, 0, 0);
  }
  .cbx span:first-child:before {
	content: "";
	width: 100%;
	height: 100%;
	background: #506EEC;
	display: block;
	transform: scale(0);
	opacity: 1;
	border-radius: 50%;
  }
  .cbx span:last-child {
	padding-left: 8px;
  }
  .cbx:hover span:first-child {
	border-color: #506EEC;
  }
  
  .inp-cbx:checked + .cbx span:first-child {
	background: #506EEC;
	border-color: #506EEC;
	animation: wave 0.4s ease;
  }
  .inp-cbx:checked + .cbx span:first-child svg {
	stroke-dashoffset: 0;
  }
  .inp-cbx:checked + .cbx span:first-child:before {
	transform: scale(3.5);
	opacity: 0;
	transition: all 0.6s ease;
  }
  
  @keyframes wave {
	50% {
	  transform: scale(0.9);
	}
  }

// End - Login Page