.header-title {
  background-color: #e9eced;
  z-index: 1;
  padding: 10px 15px 10px 125px;
}
.header-title .card {
  background-color: transparent;
  display: inline;
  border: none;
}
.header-title h2 {
  font-size: 30px;
}
.app-container {
  z-index: -1;
  // height: 100vh;
  margin-top: 70px;
}

//Fonts
@font-face {
  font-family: 'Helvetica Neue Regular';
  src: url('../assets/fonts/HelveticaNeue.ttf');
}

@font-face {
  font-family: 'Helvetica Neue Light';
  src: url('../assets/fonts/HelveticaNeue-Light.ttf');
}

@font-face {
  font-family: 'Helvetica Neue Medium';
  src: url('../assets/fonts/HelveticaNeue-Medium.ttf');
}

@font-face {
  font-family: 'Helvetica Neue Bold';
  src: url('../assets/fonts/HelveticaNeue-Bold.ttf');
}

@font-face {
  font-family: 'Rubik Medium';
  src: url('../assets/fonts/Rubik-Medium_new.ttf'); 
}

@font-face {
  font-family: 'icomoon';
  src: url('./logo/fonts/icomoon.eot?t60pg3');
  src: url('./logo/fonts/icomoon.eot?t60pg3#iefix') format('embedded-opentype'),
    url('./logo/fonts/icomoon.ttf?t60pg3') format('truetype'),
    url('./logo/fonts/icomoon.woff?t60pg3') format('woff'),
    url('./logo/fonts/icomoon.svg?t60pg3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='iconU-'],
[class*=' iconU-'] {
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #e9eced;
  font-family: 'Rubik Medium';
  color: #637176;
  font-size: 15px;
}

h2 {
  font-size: 1.4rem;
}

.iconU-stockMovement:before {
  content: '\e90e';
  font-size: 1.3rem;
}

.iconU-user:before {
  content: '\e910';
  font-size: 1.3rem;
}

.iconU-dashboard:before {
  content: '\e911';
}

.iconU-purchaseOrder:before {
  content: '\e915';
  font-size: 1.5rem;
}

.iconU-report:before {
  content: '\e912';
}

.iconU-salesOrder:before {
  content: '\e916';
  font-size: 1.5rem;
}

.iconU-stockHolding:before {
  content: '\e90f';
  font-size: 1.5rem;
}

.iconU-i:before {
  content: '\e90c';
}

.iconU-circledChecked:before {
  content: '\e920';
}

.iconU-checked:before {
  content: '\e91f';
}

.iconU-close:before {
  content: '\e929';
}

.iconU-filters {
  height: auto;
  font-size: 1em;
  min-width: 3% !important;
  border: none;
  border-radius: 5px !important;
}

.iconU-delete {
  border: 2px solid #e6e6e6;
  border-radius: 5px;
  font-size: 1.25em;
  padding: 10%;
  text-align: center;
  background-color: #e8e8e8;
  color: #919191;
  transition: ease-in;
}

.iconU-delete:hover {
  cursor: pointer;
  transition: ease-in;
  color: white;
}

.iconU-delete:before {
  content: '\e925';
}

.iconU-edit:before {
  content: '\e924';
}

.iconU-filter:before {
  content: '\e918';
  font-size: 1rem;
}

.iconU-information:before {
  content: '\e901';
}

.iconU-leftArrow:before {
  content: '\e907';
}

.iconU-rightArrow:before {
  content: '\e906';
}

.iconU-upArrow:before {
  content: '\e91c';
}

.iconU-upArrows:after {
  content: '\e91c';
  font-size: 0.5em;
}

.iconU-downArrow:after {
  content: '\e91b';
  font-size: 0.5em;
}

.iconU-one:before {
  content: '\e905';
}

.iconU-two:before {
  content: '\e904';
}

.iconU-three:before {
  content: '\e903';
}

.iconU-option:before {
  content: '\e91e';
}

.iconU-question:before {
  content: '\e927';
}

.iconU-calendar:before {
  content: '\e928';
}

.iconU-lastPage:before {
  content: '\e908';
}

.iconU-firstPage:before {
  content: '\e909';
}

.iconU-search:before {
  content: '\e913';
  display: inline-block;
  font-size: 1.3rem !important;
  vertical-align: middle;
  color: #d5d8da !important;
}

.iconU-field-dropdown:before {
  content: '\e91b';
}

.iconU-createModal:before {
  content: '\e90b';
}

.iconU-logout:before {
  content: '\e90a';
}

.iconU-search {
  vertical-align: middle;
  color: #d5d8da !important;
}

.tabcontent > .scroll::-webkit-scrollbar {
  width: 8px !important;
}

.scroll::-webkit-scrollbar {
  width: 8px !important;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #b4b9bb;
  border-radius: 5px;
}

.tabcontent > .scroll::-webkit-scrollbar-thumb {
  background-color: #b4b9bb;
  border-radius: 5px;
}

.hidden {
  display: none !important;
}

// Glyphicons Icons
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.eot');
  src: url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.eot?#iefix')
      format('embedded-opentype'),
    url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.woff')
      format('woff'),
    url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.ttf')
      format('truetype'),
    url('https://netdna.bootstrapcdn.com/bootstrap/3.0.0/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular')
      format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-exportoothing: antialiased;
}
.glyphicon-pencil:before {
  content: '\270f';
}
.glyphicon-eye-open:before {
  content: '\e105';
}
.glyphicon-eye-close:before {
  content: '\e106';
}

// @media (min-width: 992px) {
//   .sidebar-lg-show.sidebar-fixed .main,
//   .sidebar-lg-show.sidebar-fixed .app-footer,
//   .sidebar-show.sidebar-fixed .main,
//   .sidebar-show.sidebar-fixed .app-footer {
//     margin-left: 140px !important;
//   }
// }

.form-control:disabled {
  border: 2px solid #e8e8e8 !important;
}

.form-control:focus {
  box-shadow: none !important;
  border-color: #3366ff !important;
}

.dropdown-button {
  height: 50px !important;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #e8e8e8 !important;
  border-radius: 7px !important;
  opacity: 1 !important;
  font-size: 0.9375rem !important;
}

.dropdown-button:focus {
  box-shadow: none !important;
}

.btn.dropdown-button:focus {
  border: 2px solid $primaryColor !important !important;
}

.dropdown-menu {
  border: none !important;
  border-radius: 7px !important;
  opacity: 1 !important;
  font-size: 0.9375rem !important;
}

.dropdown-menu.show {
  border: 1px solid $secondaryColor !important;
}

.dropdown-toggle::after {
  font-family: 'FontAwesome' !important;
  content: '\f107' !important;
  display: inline-block;
  padding-right: 0;
  padding-left: 0;
  font-weight: 900;
  vertical-align: 0 !important;
  border-top: 0 !important;
}

// Start - Sidebar
@media (min-width: 992px) {

  .sidebar-lg-show.sidebar-fixed .main,
  .sidebar-lg-show.sidebar-fixed .app-footer,
  .sidebar-show.sidebar-fixed .main,
  .sidebar-show.sidebar-fixed .app-footer {
    margin-left: 140px !important;
  }

  .sidebar-fixed .sidebar {
    background: #2f275d 0% 0% no-repeat padding-box;
    font-family: 'Rubik Medium';
    width: 116px;
    //width: 95px;
  }
}
.sidebar {
  width: 95px;
  z-index: 2 !important;
}

// .sidebar:hover {
//   width: 270px;
// }

.sidebar .sidebar-header {
  background: transparent 0% 0% no-repeat padding-box;
  width: 116px;
}

.sidebar .sidebar-footer {
  background: #ffffff 0% 0% no-repeat padding-box;
}

.sidebar .nav {
  width: 270px;
  flex-direction: column;
  min-height: 75%;
}

.sidebar .sidebar-nav {
  position: relative;
  width: 95px;
}
.sidebar .sidebar-nav:hover {
  position: relative;
  width: 270px;
}

.sidebar .nav-item {
  background: #ffffff;
  font-size: 12px !important;
  line-height: 20px;
}


.sidebar .nav-item .nav-link.active {
  border-left: 4px solid $primaryColor !important !important;
}

.sidebar .nav-item .nav-link.active:after {
  //border-top: 8px solid transparent;
  //border-bottom: 9px solid transparent;
  //border-right: 11px solid #e9eced;
  content: '';
  position: absolute;
  bottom: 18px;
  width: 0px;
  left: 100%;
  margin-left: -10px;
  align-self: middle;
  color: #b4b9bb !important;
}

.sidebar .nav-link{
  padding: 0.5rem 1rem  !important;
}

.sidebar .nav-link,
.nav-link .nav-icon,
.nav-link .nav-item {
  transition: 0.3s;
  color: #637175 !important;
  background-color: #2f275d;
}

.sidebar .nav-item .nav-link:hover,
.nav-item .nav-link:hover .nav-icon {
  color: #3366FF !important;
  background: #2f275d !important;
}


.sidebar .nav-name {
  color: white ;
  //display: contents;
  opacity: 0 !important;
  transition: 0.3s;
}
.sidebar .nav-link.active,
.nav-link.active  .nav-name {
  color: white ;
  //display: contents;
  opacity: 1 !important;
  transition: 0.3s;
}

.nav-item:hover .nav-name{
  opacity: 1 !important;
  color: #3366FF;
}

// .sidebar .nav-link {
//   padding-left: 40px;
// }

.sidebar .nav-user {
  padding-left: 80px !important ;
  padding-right: 20px !important;
}

.sidebar .nav-link.active,
.nav-link.active .nav-icon {
  // color: $primaryColor !important !important;
  background: #2f275d !important;
  color: white !important;
}

//  .sidebar .nav-item:hover .nav-link.active .nav-icon,
//  .sidebar .nav-item:hover .nav-link.active .nav-name {
//   color: white !important;
// }

.sidebar-minimizer {
  background: #ffffff !important;
}

.sidebar-minimizer:hover {
  color: #919191 !important;
}

.sideLogo {
  width: 50%;
  margin-top: 10%;
  margin-bottom: 13%;
}

.sidebar .nav-item .nav-item2 {
  padding-left: 20px;
}
// End - Sidebar

// Start - User section

.userLogout {
  margin-bottom: 32px;
  margin-top: 10px;
  margin-left: -15px;
}

.profilePhoto {
  width: 50%;
}

.divProfilePhoto {
  text-align: center;
  bottom: 0px;
  position: absolute;
  padding-bottom: 20px;
}
.divLogout {
  padding-left: 45px !important;
  width: 110px;
}

.divProfileText{
  padding-top: 10px;
  opacity: 0 !important;
  transition: 0.3s;
}

.divProfilePhoto:hover .divProfileText{
  opacity: 1 !important;
}


.userName {
  // font-weight: bold;
  font-size: 16px;
  /* text-align: left; */
  /* letter-spacing: 0; */
  color: #fff;
  //margin-left: -250%;
}

.profileID {
  vertical-align: top;
  color: white;
  font-size: 12px;
  // font-weight: bold;
  //align-self: center;
  // margin-left: -241%;
}

.LogoutIcon {
  vertical-align: top;
  color: #fff;
  font-weight: bold;
  align-self: left;
  margin-left: -43%;
  width: 18%;
}

.LogoutDiv {
  vertical-align: 10px;
  // color: #FFF;
  // font-size: 14px;
  // font-weight: bold;
  padding-top: 100px;
}


.LogoutLink {
  color: white;
  text-decoration: none;
  font-size: 12px;
}

.LogoutLink:hover {
  color: white;
  text-decoration: none;
}


.viewProfile {
  background-color: #e9eced;
  border-radius: 0px 0px 10px 10px;
  width: 230px;
  align-self: center;
  margin-bottom: 15px;
  margin-top: -10px;
}

.expandProfile,
.expandProfile:hover {
  color: #b4b9bb !important;
  font-size: 12px;
  text-align: center;
  width: 230px;
  height: 35px;
  font-family: 'Rubik Medium';
  vertical-align: middle;
  line-height: 35px;
  text-decoration: none !important;
}

// End - User Section

// Start - Border

hr.border-header {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80%;
}
// End - Border

// Start - Breadcrumb
.breadcrumb-area{
  padding: 16px 16px 16px 125px;
}

.breadcrumb-item {
  font-size: 1.875rem;
  font-family: 'Rubik Medium';
}

.breadcrumb-item.active {
  color: $primaryColor;
}

.breadcrumb {
  position: relative;
  border-radius: 0;
  border: none;
  background: none;
  margin-bottom: 0px;
}

a.breadcrumb {
  color: #388dcd !important;
  padding-top: 0;
  padding-right: 0;
  margin-bottom: 0;
}

a.breadcrumb:hover {
  text-decoration: none;
}

.breadcrumb-item + .breadcrumb-item::before {
  font-family: 'FontAwesome';
  content: '\f105';
  display: inline-block;
  padding-right: 1rem;
  padding-left: 1rem;
  color: #637176;
  font-weight: 900;
}

// End - Breadcrumb

// Start - Header

.headerSection {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

// End - Header

// Start - ResponsiveSearchbox

.fa-search {
  color: #d5d8da;
}

.searchSection {
  width: 100%;
  display: flex;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  padding-bottom: 15px;
  border-radius: 5px;
}

.searchBox {
  max-width: 100%;
  border: 1px solid #d5d8da;
  height: 43px;
  border-radius: 5px;
}

.search-column {
  padding-left: 0px !important;
  //padding-right: 15px !important;
}

.search-column {
  width: 30% !important;
  margin-right: 0.5em;
}

.searchinput {
  margin-left: 1.5% !important;
  background-color: transparent;
  width: 50% !important;
  height: 43px;
  color: grey;
  box-sizing: border-box;
  border: none;
  transition: background-color 0.5s ease;
  outline-color: transparent;
  font-size: 18px;
  color: #637176;
}

.searchInput::placeholder {
  font-size: 18px !important;
  // font-size: 1.1em;
  color: #3e3e3e !important;
  align-self: center;
  border: none;
}



.notFoundMessage {
  padding: 200px;
  font-size: 3.5em;
  color: #d5d8da;
  vertical-align: middle;
}

// End - Responsive Searchbox

// Start - Filter Dropdown

.filterSection {
  width: 100%;
  display: flex;
  background-color: white;
  justify-content: flex-start;
  align-items: center;
  padding: 0 15px 15px;
  border-radius: 5px;
}

.filterDropdown {
  max-width: 300px;
  margin-right: 1em !important;
  width: 20% !important;
}

.selectDropdown {
  -webkit-appearance: none !important;
  cursor: pointer;
  border: 1px solid #d5d8da;
  height: 50px;
  font-size: 1.1em;
}

.sort-icon {
  margin-left: 5px;
  width: 7px;
}

.arrow-icon {
  position: relative;
  display: flex;
}

.arrow-icon::after {
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  content: '\e91b';
  color: #637176 !important;
  font-size: 5px;
  font-weight: bold;
  position: absolute;
  cursor: pointer;
  pointer-events: none;
  right: 2em;
  padding: 4.5em;

  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}

.optionDropdown {
  -webkit-appearance: none !important;
  font-size: 1.1em;
  color: #d5d8da;
}

.optionDropdown:hover {
  background-color: #d5d8da;
  cursor: pointer;
  color: #d5d8da;
}

// End - Filter Dropdown

// Start - Button

.filter {
  width: 54px;
  height: 43px;
  background-color: #e9eced;
  color: #637176;
  border: none !important;
  box-shadow: none !important;
}

.filter.active,
.filter.active:focus {
  background-color: $primaryColor !important !important;
  color: #ffffff !important;
}

.createLogo {
  width: 14px;
  height: 14px;
  margin-right: 10px;
}

.btnCreate,
.search,
.search:hover,
.search:focus {
  //width: 180px;
  max-width: 100%;
  height: 43px;
  background-color: $primaryColor !important;
  color: #ffffff;
  border: none;
  box-shadow: none !important;
  font-size: 1.25em;
  align-self: center;
}

.btnCreate {
  width: 180px;
}

.search,
.search:hover,
.search:focus {
  width: 18% !important;
}

//default box height
.default-box-height {
  height: 50px !important;
}

.form-control {
  height: 50px !important;
  overflow: hidden;
}

.form2 {
  height: 50px !important;
}

.select_date {
  height: 50px !important;
}

select_date_expandLabel {
  padding-top: 200px !important;
}

.inputs {
  height: 50px !important;
}
//end default box height

@media (max-width: 1400px) {
  //default box height
      .default-box-height {
        height: 40px !important;
        font-size: 17px;
      }

      .form-control {
        height: 40px !important;
        overflow: hidden;
      }

      .form2 {
        height: 40px !important;
      }

      .select_date {
        height: 40px !important;
      }

      .select_date_expandLabel {
        padding-top: 200px !important;
      }

      .inputs {
        height: 40px !important;
      }

      .searchinput{
          margin-top: 0.4rem;
      }

      .searchInput::placeholder {
        font-size: 15px !important;
        // font-size: 1.1em;
        color: #838383 !important;
        align-self: center;
        border: none;
      }
//end default box height
}

.editColumnBtn,
.editColumnBtn:focus {
  background-color: #ffffff;
  padding: 0.1rem 0.4rem;
  border-radius: 100%;
  border: none !important;
  outline: none !important;
}

.editColumnLogo {
  color: #388dcd;
  font-size: 1em;
  text-align: center;
}

// End - Button

// Start - Table

@media (max-width: 1500px) {
  .arrow {
    margin-left: 7px !important;
    width: 0.7em;
  }

  .defaultTable {
    width: 100%;
  }

  .defaultTable th {
    border-bottom: 1px solid #d5d8da !important;
    height: 45px !important;
    cursor: pointer;
    font-size: 9px;
  }

  .defaultTable tr {
    border-bottom: 1.5px solid #f0f0f0 !important;
    height: 45px !important;
    font-size: 10px;
  }
  .tr {
    border-bottom: 1.5px solid #e2e2e2 !important;
  }

  .tr:hover {
    background: #f0f0f0 !important;
    cursor: pointer;
  }

  th {
    font-family: 'Rubik Medium';
    color: #b4b9bb;
    padding-left: 10px;
  }
  td {
    font-family: 'Rubik Medium';
    color: #637175;
    padding-left: 10px;
  }
  .form-control {
    height: 40px !important;
    overflow: hidden;
  }
}
@media (min-width: 1500px) {
  .arrow {
    margin-left: 7px !important;
    width: 9px;
    font-weight: bold;
  }

  .defaultTable {
    width: 100%;
  }

  .defaultTable.stockholding-summary {
    width: 120%;
  }

  .defaultTable th {
    border-bottom: 1px solid #d5d8da !important;
    height: 45px !important;
    cursor: pointer;
    font-size: 1rem;
  }

  .defaultTable tr {
    border-bottom: 1px solid #f0f0f0 !important;
    height: 45px !important;
    font-size: 1rem;
  }
  .tr:hover {
    background: #f0f0f0 !important;
    cursor: pointer;
  }

  th {
    font-family: 'Rubik Medium';
    color: #b4b9bb;
    padding-left: 10px;
  }
  td {
    font-family: 'Rubik Medium';
    color: #637175;
    padding-left: 10px;
  }
}

.hover:hover {
  background: #f0f0f0 !important;
  cursor: pointer;
}

.headerBlue {
  background-color: #388dcd !important;
  color: #ffffff;
}

.borderLeft {
  border-left: 2px #d5d8df solid;
  padding-left: 20px;
}

.clickable-row {
  cursor: pointer;
}

.tablePage::-webkit-scrollbar {
  width: 1px !important;
  
}

.tablePage::-webkit-scrollbar-thumb {
  background-color: #cbcbcb;
  border-radius: 5px;
}

.tablecontent {
  margin-top: 1rem;
  padding: 1px;
  padding-top: 0%;
  padding-bottom: 0%;
  min-width: 100%;
  background-color: white;
  border-radius: 5px;
}

.table::-webkit-scrollbar-thumb {
  background-color: #cbcbcb;
  border-radius: 5px;
}

.table th {
  background-color: #ffffff;
  color: #b4b9bb;
  border-top: none;
  vertical-align: middle !important;
  font-family: 'Rubik Medium';
  height: 45px;
  border-bottom: 1px solid #d5d8da !important;
  font-size: 18px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 0px;
}

.table td {
  background-color: #ffffff;
  color: #637175;
  vertical-align: middle !important;
  font-family: 'Rubik Medium';
  height: 45px;
  border-bottom: 1px solid #e9eced !important;
  font-size: 18px;
}

@media (min-width: 1920px) {
  // .table th,
  // td {
  //   font-family: 'Helvetica Neue Regular';
  //   // font-size: 18px !important;
  // }
}

.table.noneborder-bottom thead th {
  border-bottom: none !important;
}

.borderless-bottom {
  border-bottom: 0 !important;
}

// End - Table

// Start - Spinner

.spinner {
  width: 100px;
  height: 100px;
  margin: 200px auto;
  background-color: #388dcd;
  align-items: center;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

// End - Spinner

// Start - Module Details

.primary-text {
  color: #b4b9bb;
  font-family: 'Rubik Medium';
  font-size: 1.25em;
}

.secondary-text {
  color: #1f3334;
  font-family: 'Rubik Medium';
  font-size: 1.25em;
}

.tabTitleText {
  font-size: 1.5em;
  align-items: center;
}

.rowTabCustom {
  height: 100%;
  width: fit-content;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

.columnTabCustom {
  padding-left: 0px;
  width: 50px;
  padding-right: 0px;
  border-top-width: 1px;
}

.nav-tabs {
  border-bottom: none;
  font-family: 'Rubik Medium';
}

.nav-tabs .nav-link.nav-link-cust {
  border: none;
  height: 75px;
  color: #919191 !important;
  background-color: #dee3e5;
  padding-right: 30px;
}

.nav-tabs .nav-link.tab-custom {
  color: $primaryColor !important !important;
  background-color: #ffffff !important;
  padding-left: 16px;
  padding-bottom: 8px;
  padding-top: 8px;
  border-radius: 0rem;
  border-radius: 5px;
}

.required-field::after {
  content: '*';
  color: red;
  margin-left: 5px;
}

// End - Module Details

// freeze head of table
th {
  position: sticky;
  top: 0px; /* 0px if you don't have a navbar, but something is required */
  background: white;
}
//end freeze

//general css

span.next:before {
  font-family: 'FontAwesome';
  content: '\f105';
  display: inline-block;
  padding-right: 1rem;
  padding-left: 1rem;
  font-weight: 900;
}

span.downArrow:before {
  font-family: 'FontAwesome';
  content: '\f107';
  display: inline-block;
  font-weight: 900;
}
span.upArrow:before {
  font-family: 'FontAwesome';
  content: '\f106';
  display: inline-block;
  font-weight: 900;
}

/* table style*/
.tablePage {
  //min-height: 200px;
  //max-height: 100vh !important;
  overflow-y: auto;
  overflow-x: auto;
  font-size: 1.1em;
  clear: both;
  position: relative;
}

.paginations {
  background-color: #e9eced;
  display: flex;
  flex-wrap: wrap;
  padding: 15px 30px 15px 143px;
  z-index: 1;
  width: 100%;
}
.paginations .search_1{
  border: none;
  width: 40px !important;
  border-radius: 5px !important;
}

@media(max-width: 2750px) {
   /* //zoom 50% */
	.tablePage{
		max-height: 990px ;
		min-height: 990px ;
	}
}

@media (max-width: 2100px) {
  //zoom 67%
  .tablePage {
		//max-height: 100vh;
    max-height: 680px;
		min-height: 680px;
  }
}
@media (max-width: 1830px) {
  //zoom 75%
  .tablePage{
		//max-height: 100vh;
		max-height: 580px;
		min-height: 580px;
  }



}
@media (max-width: 1710px) {
  //zoom 80%
  .tablePage {
		//max-height: 100vh;
		max-height: 525px;
		min-height: 525px;
  }
}
@media (max-width: 1520px) {
  //zoom 90%
  .tablePage {
		//max-height: 100vh;
		max-height: 440px;
		min-height: 440px;
  }
}
@media (max-width: 1366px) {
  //zoom 100%
  .tablePage {
		//max-height: 100vh;
		max-height: 370px;
		min-height: 370px;
  }
}
@media (max-width: 1242px) {
  //zoom 110%
  .tablePage {
    //max-height: 100vh;
    max-height: 310px;
		min-height: 310px;
  }
}
@media (max-width: 1000px) {
  .tablePage {
    max-height: 300px;
    //max-height: 100vh;
  }

  .paginations {
    position: relative;
    padding-left: 0px !important;
  }
}

.tablePage::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}

.tablePage::-webkit-scrollbar-thumb {
  background-color: #b4b9bb;
  border-radius: 5px;
}

.iconU-option {
  font-size: 0.4em !important;
  color: #b4b9bb !important;
  text-align: center;
  vertical-align: middle;
}

th.iconU-edit {
  color: $primaryColor !important;
  text-align: center;
}

@media (max-width: 1500px) {
  .arrow {
    margin-left: 7px !important;
    width: 9px;
    font-weight: bold;
  }

  .default-table {
    width: 100%;
  }

  .default-table th {
    border-bottom: 1px solid #d5d8da !important;
    height: 45px !important;
    cursor: pointer;
    font-size: 1rem;
  }

  .default-table tr {
    border-bottom: 1px solid #f0f0f0 !important;
    height: 45px !important;
    font-size: 1rem;
  }
  .tr:hover {
    background: #f0f0f0 !important;
    cursor: pointer;
  }

  th {
    font-family: 'Rubik Medium';
    color: #b4b9bb;
    padding-left: 10px;
  }
  td {
    font-family: 'Rubik Medium';
    color: #637175;
    padding-left: 10px;
  }
}

.fades {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

.text-button {
  font-family: 'Rubik Medium';
  font-size: 1.25em;
}

.font-modal-title {
  font-family: 'Rubik Medium' !important;
  font-size: 1.5em;
  cursor: pointer;
  margin-top: 1%;
  margin-bottom: 1%;
}

.create {
  display: flex;
  width: 30%;
}

.iconU-edit {
  font-size: 1.2em !important;
  margin-right: 5%;
  vertical-align: middle !important;
  cursor: pointer;
}

.create > .iconU-edit {
  margin-top: 4%;
}

.iconU-close {
  vertical-align: middle !important;
}

.btnsearch {
  width: 12%;
  border-radius: 5px !important;
  font-size: 90%;
}

.font {
  font-family: 'Rubik Medium' !important;
  font-size: 1.5em;
  cursor: pointer;
  margin-top: 1%;
  margin-bottom: 1%;
}

.scrollx {
  overflow-x: scroll !important;
}
.scrolly {
  overflow-y: scroll !important;
}
.scrolly::-webkit-scrollbar,
.scrollx::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}
.scrollx::-webkit-scrollbar-thumb,
.scrolly::-webkit-scrollbar-thumb {
  background-color: #b4b9bb;
  border-radius: 5px;
}

.datePicker {
  position: absolute;
  background-color: white;
  z-index: 1;
}

//podbread
.podbreadcrumb {
  display: flex;
  width: 30%;
  align-items: center;
  margin-bottom: 1%;
  width: 100%;
}
.podtitle {
  color: #637176;
  margin-right: 3%;
}

.podtitle:hover {
  cursor: pointer;
}

.podetails {
  color: $primaryColor !important;
}
.podheader {
  display: flex !important;
  background-color: white;
  padding: 1%;
  border-radius: 5px;
  font-size: 1.25em;
}
//end podbread

.sub {
  width: 50%;
}

.sub > table > tr > th {
  height: 43px;
  color: #b4b9bb;
}
.sub > table > tr > td {
  height: 40px;
}

.tableborderss {
  border-left: 2px solid #d5d8da;
}

.tableborderss > tr > th {
  padding-left: 25px !important;
}

.createbtn {
  float: right !important;
  display: flex;
  justify-content: space-between;
  margin-bottom: -1%;
}

.createbtn > .font {
  font-size: large;
  margin-left: -5px;
  padding-right: 15px;
}

.headers {
  font-weight: 500;
  color: #b4b9bb !important;
  font-size: 15px;
}

.header {
  display: flex;
  margin-top: 20px;
  width: 100% !important;
  justify-content: space-between;
}

.header2 {
  margin-top: -10px !important;
}

//filter div
.filterclicked {
  background-color: #e9eced !important;
  color: #20a8d8;
}

.filterbar {
  padding: 15px;
  min-width: 100%;
  background-color: white;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  justify-content: space-between;
  margin-top: -18px;
}

.itemList {
  position: absolute;
  z-index: 1;
  background-color: white;
  border: 1.5px solid $primaryColor !important;
  border-radius: 5px;
  margin-top: 10px;
  padding: 0.1%;
  padding-bottom: 0px;
}
//end filter div

.paginations > .page {
  vertical-align: middle;
  align-items: center;
}

//Start Modal
.createmodal {
  position: absolute;
  width: 342%;
  background-color: $primaryColor !important;
  margin-left: -118%;
  margin-top: 17%;
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

.modal-header {
  background-color: $primaryColor !important;
  width: 100% !important;
  color: #ffff;
  display: flex !important;
}

.createModals {
  background-color: $primaryColor !important;
  position: absolute;
  width: 120%;
  background-color: #3366FF;
  margin-left: -5.9%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding-left: 1.2rem;
  padding-top: 1rem;
  padding-bottom: 1%;
  padding-right: 1.3%;
  margin-left: 2px;
}

.modal-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.modal-title > .create > .iconU-edit:hover {
  cursor: default;
}

.modal-content > .createModal {
  position: absolute;
  width: 124%;
  background-color: $primaryColor !important;
  margin-left: -13%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}

.modal-header {
  border: 0px !important;
}

.btn-primary {
  background-color: $primaryColor !important;
  border-color: $primaryColor !important;
}

//End Modal

.norm {
  //font default
  font-family: 'Rubik Medium';
  color: #969ea1 !important;
  font-size: 12px;
}

//end general css
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(180, 185, 187);
  opacity: 0.6 !important; /* Firefox */
  font-size: 15px !important;
}

.mtrFieldSelect:before {
  height: 20px;
  color: red;
  margin-bottom: 5px;
  margin-top: 3px;
  -webkit-animation: fadein 0.2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.2s; /* Firefox < 16 */
  -ms-animation: fadein 0.2s; /* Internet Explorer */
  -o-animation: fadein 0.2s; /* Opera < 12.1 */
  animation: fadein 0.2s;
}

.mtrFieldSelect {
  height: 20px;
  color: red;
  margin-bottom: 5px;
  margin-top: 3px;
  -webkit-animation: fadein 0.2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.2s; /* Firefox < 16 */
  -ms-animation: fadein 0.2s; /* Internet Explorer */
  -o-animation: fadein 0.2s; /* Opera < 12.1 */
  animation: fadein 0.2s;
}

.mtrField:after {
  height: 20px;
  color: red;
  margin-bottom: 5px;
  margin-top: 3px;
  -webkit-animation: fadein 0.2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.2s; /* Firefox < 16 */
  -ms-animation: fadein 0.2s; /* Internet Explorer */
  -o-animation: fadein 0.2s; /* Opera < 12.1 */
  animation: fadein 0.2s;
}

.mtrField {
  height: 20px;
  color: red;
  margin-bottom: 5px;
  margin-top: 3px;
  -webkit-animation: fadein 0.2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.2s; /* Firefox < 16 */
  -ms-animation: fadein 0.2s; /* Internet Explorer */
  -o-animation: fadein 0.2s; /* Opera < 12.1 */
  animation: fadein 0.2s;
}

.nmtrField {
  height: 20px;
  margin-bottom: 5px;
  margin-top: 3px;
  visibility: hidden;
}

/* ∞∞ global Dropdown ∞∞ */
.select_dropdown,
.expand-style,
.select_dropdown_items,
.select_dropdown_options,
.select_dropdown_option {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-color: inherit;
}

/* ∞∞ Input elements ∞∞ */
.select_dropdown_close,
.select_dropdown_expand,
.select_dropdown_input {
  color: inherit;
  font: inherit;
  margin: 0;
  background: transparent;
  outline: none;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select_dropdown {
  width: 150px;
  height: 50px;
  margin-right: 1em;
  cursor: pointer;
  list-style: none;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #d5d8da;
  z-index: 2;
}

.dropdown_closed {
  overflow: hidden;
}

.select_dropdown:hover,
.select_dropdown:focus-within {
  transition: 0.2s ease-in;
  border: 1px solid $primaryColor !important !important;
}

.select_dropdown_expand {
  width: 0;
  height: 50px;
  position: absolute;
  top: 0;
  right: 10px;
}

.select_dropdown_expand::after {
  content: '\003E';
  position: absolute;
  top: 50%;
  right: 8px;
  -webkit-transform: translate(-50%, -50%) rotate(90deg) scaleY(1.75);
  transform: translate(-50%, -50%) rotate(90deg) scaleY(1.75);
  font-weight: 500;
  font-size: 10px;
  pointer-events: none;
  z-index: 1;
  -webkit-transition: all 250ms cubic-bezier(0.4, 0.25, 0.3, 1);
  transition: all 250ms cubic-bezier(0.4, 0.25, 0.3, 1);
}

.select_dropdown_expand:hover::after {
  opacity: 1;
}

.select_dropdown_expand:checked::after {
  -webkit-transform: translate(-50%, -50%) rotate(90deg) scaleX(-1) scaleY(1.75);
  transform: translate(-50%, -50%) rotate(90deg) scaleX(-1) scaleY(1.75);
}

.select_dropdown_expandLabel {
  display: block;
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.select_dropdown_close {
  display: none;
}

.select_dropdown_closeLabel {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

.select_dropdown_items {
  list-style: none;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2px;
  padding-top: 50px;
  color: #637176;
}

.select_dropdown_input {
  display: none;
}

.select_dropdown_options {
  list-style: none;
  max-height: 270px;
}

.select_dropdown_label {
  font-family: 'Rubik Medium';
  margin-bottom: 0 !important;
  transition: all 250ms cubic-bezier(0.4, 0.25, 0.3, 1);
  display: block;
  height: 0;
  background-color: #ffffff;
  font-size: 1rem;
  line-height: 50px;
  overflow: hidden;
  cursor: pointer;
  padding-left: 20px;
  user-select: none;
}

.select_dropdown_label-placeholder {
  height: 50px;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  color: #6c6d74 !important;
  background-color: transparent;
  display: block;
}

.select_dropdown_expand:checked + .select_dropdown_closeLabel {
  display: block;
}

.select_dropdown_expand:checked
  + .select_dropdown_closeLabel
  + .select_dropdown_options {
  border: 1px solid $secondaryColor !important;
  border-radius: 5px;
    margin-top: 10px;
    overflow: auto;
}

.select_dropdown_close:checked
  + span
  + .select_dropdown_items
  > .select_dropdown_options {
  border-radius: 5px;
  margin-top: 10px;
}

.select_dropdown_expand:checked + .select_dropdown_closeLabel + .select_dropdown_options .select_dropdown_label {
    line-height: 25px !important;
    height: fit-content !important;
    padding-top: 8px;
    padding-bottom: 8px;
}

.select_dropdown_expand:checked
  + .select_dropdown_closeLabel
  + .select_dropdown_options
  .select_dropdown_label:hover {
  font-family: 'Rubik Medium';
  background-color: #f6f7f9;
}

.select_dropdown_expand:checked
  + .select_dropdown_closeLabel
  + .select_dropdown_options
  + .select_dropdown_expandLabel {
  display: none;
}

.select_dropdown_input:checked + .select_dropdown_label {
  height: fit-content !important;
  margin-top: -50px;
  border-radius: 5px;
  /* border-bottom: 1px solid #969EA1; */
}
.select_dropdown_expand:checked + .select_dropdown {
  display: block;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.select_dropdown_expand:checked + .expand-style {
  width: 225px;
  height: 50px;
  cursor: pointer;
  background-color: #ffffff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

/* Dropdown for Datepicker */
.select_datepicker_label {
  font-size: 0.8rem !important;
  line-height: 31px !important;
  padding-left: 14px !important;
}
.select_dropdown_expand:checked
  + .select_dropdown_closeLabel
  + .select_dropdown_options
  .select_datepicker_label {
  height: 28px !important;
  padding-top: 2px !important;
}

.select_datepicker_label-placeholder {
  height: 28px !important;
}
.select_dropdown_input:checked + .select_datepicker_label {
  height: 28px !important;
}
.select_dropdown_expand:checked
  + .select_dropdown_closeLabel
  + .select_datepicker_options {
  margin-top: -5px !important;
}

.select_dropdown_close:checked
  + span
  + .select_dropdown_items
  > .select_datepicker_options {
  margin-top: -5px !important;
}
.select_datepicker_expand::after {
  top: 32% !important;
  right: 1px !important;
}
.dropDownForOrderLine {
  position: absolute;
  margin-top: -25px;
}

//th cursor pointer
th {
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.search-column-right {
  width: 69%;
  display: flex;
  justify-content: space-between;
}
//end th cursor pointer

/* ∞∞ End global Dropdown ∞∞ */

/* start export**/
.select-export {
  width: 200px;
  height: 50px;
  float: right;
  text-align: left;
  cursor: pointer;
  list-style: none;
  transform: scaleY(-1);
  background-color: $primaryColor;
  box-shadow: 0 2px 0 $primaryColor;
  border-radius: 6px;
  transition: 0.2s ease-out;
  margin-top: -47px;
}
/* End export**/

/* input[type=button]{  */
.btnLogin {
  height: 50px;
  width: 10%;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  margin: 10px auto;
  transition: background-color 0.5s ease;
  background-color: $primaryColor !important;
  color: white;
  font-size: 18px;
}

/* input[type=button]:active{ */
.btnLogin:active {
  background-color: white !important;
  color: grey !important;
  transition: background-color 0.5s ease;
  font-size: 18px;
}

/* start general paging**/
.btn-paging:focus,
.btn-paging-active,
.btn-paging-active:hover {
  padding-top: 6px;
  margin-top: 5px;
  background-color: $primaryColor;
  color: #ffffff;
  /* width: 40px; */
  /* height: 50px; */
  align-items: center !important;
}

.btn-paging:hover {
  color: $primaryColor;
}

.btn-pagingNav:hover {
  color: $primaryColor;
  outline: solid #fff;
}

.search_1 {
  position: relative;
  width: 42px;
  height: 29px;
  margin-top: -3px;
  padding-left: 9px;
  margin-left: 13px;
  border-radius: 10px;
  border: none;
  color: #0f0d0d;
  font-weight: 500;
  background-color: #e2eff7;
  border: 1px solid $primaryColor;
  border-radius: 5px;
  opacity: 1;
}
/* end general paging**/

// modal edit column
.btnclose-modal-edit {
  cursor: pointer;
  font-size: 25px;
}

.edit-column-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-column-modal-header > span {
  margin-left: 47em;
}
.edit-column-modal {
  width: 100% !important;
  display: flex;
  align-items: center;
  margin-bottom: 0.5em;
}
.edit-column-modal > img {
  margin-right: 0.8em;
  //@extend: 20% !important;
}

.edit-column-modal-active {
  color: $primaryColor !important;
  background-color: white;
}

.edit-column-modal-inactive {
  color: #9aa2a5;
  background-color: #e9eced;
  border: none;
}

.edit-column-modal-title {
  font-size: x-large;
  line-height: 1em;
  white-space: nowrap;
}

.main-modal {
  padding: 1em;
}

.edit-column-modal-inactive {
  color: #9aa2a5;
  background-color: #e9eced;
  border: none;
}

.grid-item-edit-column-modal {
  border: 2px solid $primaryColor !important;
  border-radius: 5px;
  padding: 0.5em 1em;
  font-size: 1.2em;
  display: flex;
  cursor: pointer;
  user-select: none;
}

.edit-column-modal-inactive {
  color: #9aa2a5;
  background-color: #e9eced;
  border: none;
}

.edit-column-modal-font {
  font-size: x-large;
  font-weight: 100 !important;
  color: $primaryColor;
  padding-left: 0.5em;
}

.grid-container-edit-column-modal {
  display: grid;
  grid-gap: 1.6em 1.6em;
  grid-template-columns: auto auto auto auto auto;
  padding: 0.8em;
}

.grid-container-edit-column-modal > div {
  display: flex;
  align-items: center;
}
.grid-container-edit-column-modal > div > img {
  margin-right: 0.6em;
}

//end modal edit column
/* start um **/
.webgroup {
  background-color: #e4e7ea;
  display: inline-block;
  border-radius: 5px;
  text-align: center;
}

.webgroup input {
  display: none;
}

.webgroup-active {
  background-color: #ffffff;
  font-family: 'Rubik Medium';
  font-size: 20px !important;
  color: $primaryColor !important;
  margin: 4px;
  padding: 6px;
  border-radius: 5px;
  align-items: stretch;
}

.webgroup-review-active {
  background-color: #ffffff;
  font-family: 'Rubik Medium';
  font-size: 20px !important;
  color: #bbbcbd !important;
  margin: 4px;
  padding: 6px;
  border-radius: 5px;
  align-items: stretch;
}

.webgroup-notactive {
  background-color: transparent;
  font-family: 'Rubik Medium';
  font-size: 20px !important;
  color: #bbbcbd !important;
  margin: 4px;
  padding: 6px;
  border-radius: 5px;
}

.webgroup-review-notactive {
  background-color: transparent;
  font-family: 'Rubik Medium';
  font-size: 20px !important;
  color: #bbbcbd !important;
  margin: 4px;
  padding: 6px;
  border-radius: 5px;
}

.user-admin-empty-space {
  margin-top: 6.25rem;
}

.um-searchBox {
  max-width: 100%;
  border: none;
  height: 43px;
}

.name-account {
  color: $primaryColor;
}

.btn-refresh-password {
  height: 50px !important;
  width: 50px !important;
  border: 2px solid $primaryColor;
  color: $primaryColor;
}
/* end um **/

// title
.header h2 {
  font-size: 30px !important;
  padding-left: 15px;
}

.so-header-title {
  padding-left: 0.4em;
}
// Start Font Size
.fontSize-1 {
  font-size: 12px;
}

.fontSize-2 {
  font-size: 14px;
}

.fontSize-3 {
  font-size: 18px;
}

.fontSize-4 {
  font-size: 24px;
}

.fontSize-5 {
  font-size: 28px;
}
//End Font Size

.btn-create{
  padding: 6px 20px 6px 20px;
}

.invalid-error-padding{
  padding-left: 12px;;
}

.stock-holding-table.defaultTable{
  padding: 0.5rem;
}

.stock-holding-table.defaultTable .sort-icon{
  margin-left: 2px;
}

@media(min-width:500px) and (max-width:1023px){
  .defaultTable.stockholding-summary{
    width:150%;
  }
}

@media(min-width:1024px) and (max-width:1499px){
  .defaultTable.stockholding-summary{
    width:120%;
  }
}
@media(min-width:1500px) and (max-width:1799px){
  .defaultTable.stockholding-summary{
    width:130%;
  }
}

@media(min-width:1800px){
  .defaultTable.stockholding-summary{
    width:100%;
  }

}

.align-right{
  text-align: right !important;
  padding-right:1rem;
}

.logo-vertical{
  width: 7rem;
  transform: rotate(90deg);
}

.vertical-logo{
  margin-top: 4rem;
  margin-bottom: 3.5rem;
}
