.line-border {
  border-bottom: 1px solid #e8e8e8;
}

.client-enableall-padding {
  padding-right: 25px;
}

input.form-control {
  padding: 0.375rem 0.75rem !important;
}

.p-33 {
  padding-bottom: 3.3rem !important;
}

.newIcon-profile {
  color: #376bfb !important;
  font-size: 2rem;
}

.breadcrumb-item a {
  color: #637176 !important;
  font-weight: 500 !important;
}

.text-title-detail {
  color: #637176;
}

.default-box-height {
  box-shadow: none !important;
}
