 
.stock-err{
  color: red;
  font-size: small;
  margin-bottom: -10px;
  margin-top: 5px;
  opacity: 1;
  transition: opacity 1s;
}

.stock-err-hidden{
  color: red;
  font-size: small;
  opacity: 0;
  transition: opacity 0.3s;
  margin-bottom: -100px;
}
  

.stockMovement.searchButtn{
  height: 50px;
}


@media(max-width:1300px){
  
  .dateFromLabel-col{  
    padding-top: 0px !important;
  }

} 
  
.stockMovement > div[class*="css-"][class*="-control"] {
  height: 40px !important;
  cursor: pointer;
}


div.SM-col.col{
  flex: 0 0 53% !important;
}

.sm-second-col{
  flex: 0 0 47%;
  max-width: 47%;
}
.dateToLabel-col {
  flex: 0 0 0.7%;
  display:table-cell;
  vertical-align: middle;
  text-align: right; 
  padding-top: 12px;
}
.dateFromLabel-col {
  flex: 0 0 15%;
  max-width: 88px;
  text-align: right;
  /* line-height: 50px; */
  padding-top: 12px;
}
.displayPeriod-col{
  flex: 0 0 30%;
  max-width: 30%;
}
@media(max-width:1100px){
  .displayPeriod-col{
    flex: 0 0 25%;
    max-width: 25%;
  }
}

@media(max-width:992px){
  div.SM-col.col{
    flex: 0 0 100% !important; 
    margin-top: 10px;
  }

  .dateFromLabel-col {
    flex: 0 0 15%;
    max-width: 15% !important;
    text-align: center;
    line-height: 40px;
    margin-top: 10px;
    padding-top: 0px;
  }

  .dateFrom-col {
    flex: 0 0 85%;
    max-width: 0 0 85%;
    margin-top: 10px;
  }
  
  .dateToLabel-col {
    flex: 0 0 15%;
    max-width: 0 0 20%;
    text-align: center; 
    padding-top: 0px;
    line-height: 40px;
    margin-top: 10px;
  }

  .dateTo-col {
    flex: 0 0 85%;
    max-width: 0 0 80%;
    margin-top: 10px;
  }
  
  .site-col{
    flex: 0 0 33% !important; 
    max-width: 33%;
  }
  .client-col{
    flex: 0 0 33% !important; 
    max-width: 33%;
  }
  .product-col{
    flex: 0 0 34% !important; 
    max-width: 34%;
  }
  .searchButton-col{
    flex: 0 0 100% !important; 
    max-width: 100% !important; 
    margin-top: 10px;
  }
  .sm-second-col{
    margin-top: 10px;
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  
  .displayPeriod-col{
    flex: 0 0 100%;
    max-width: 100%;
  }
  .stock-err-hidden{ 
    margin-bottom: -20px;
  } 
  .stock-err{ 
    margin-bottom: -5px; 
  }
}

.stockMovement .select_date input{
  height: 40px !important;
}
 
.card-body.stockMovement{
  padding-bottom: 0.2rem !important;
  padding-top: 0.7rem !important;
}

/* 
.stockMovement .breadcrumb-item{
  
} */

@media(max-width:992px){
  .card-body.stockMovement{
    padding-bottom: 1rem !important;
    padding-bottom: 1rem !important;
  }
}