.stockMovement {
  .row {
    margin-right: 0px !important;
    margin-left: 0px !important;
    div {
      .card-group {
        .card:last-child {
          div {
            input {
              height: 30px !important;
            }
          }
        }
      }
    }
  }
  .css-1wa3eu0-placeholder {
    color: #b4b9bb !important;
  }
  /* SEACRH */
  .card {
    .card-body {
      .row {
        .SM-col {
          .row {
            .displayPeriod-col {
              div {
                .css-2b097c-container {
                  border: none !important;
                }
              }
              @media (min-width: 576px) and (max-width: 991px) {
                padding-right: 0px !important;
              }
              @media (max-width: 575px) {
                padding-right: 0px !important;
              }
            }
            @media (min-width: 576px) and (max-width: 991px) {
              .dateFromLabel-col,
              .dateToLabel-col {
                flex: 0 0 100% !important;
                max-width: 100% !important;
                padding: 0.8rem 0rem !important;
              }
            }
            @media (max-width: 575px) {
              .dateFromLabel-col,
              .dateToLabel-col {
                flex: 0 0 100% !important;
                max-width: 100% !important;
                padding: 0.8rem 0rem !important;
              }
            }
          }
        }
        .sm-second-col {
          .row {
            .site-col {
              .css-2b097c-container {
                border: none !important;
              }
              @media (min-width: 992px) and (max-width: 1787px) {
                padding-left: 0px !important;
              }
              @media (min-width: 576px) and (max-width: 991px) {
                padding-left: 0px !important;
              }
              @media (max-width: 575px) {
                padding: 0px !important;
              }
            }
            .client-col {
              .css-2b097c-container {
                border: none !important;
              }
              @media (max-width: 575px) {
                padding: 1rem 0rem !important;
              }
            }
            .product-col {
              .css-2b097c-container {
                border: none !important;
              }
              @media (min-width: 576px) and (max-width: 991px) {
                flex: 0 0 33% !important;
                padding-right: 0px !important;
              }

              @media (max-width: 575px) {
                flex: 0 0 100% !important;
                padding-right: 0px !important;
              }
            }
            .searchButton-col {
              .btn {
                width: 105px;
                height: 50px;
                letter-spacing: 1px !important;

                @media (max-width: 575px) {
                  width: 100% !important;
                }
              }
              @media (min-width: 576px) and (max-width: 991px) {
                padding-left: 0px !important;
                padding-top: 1rem !important;
                flex: 0 0 100% !important;
                max-width: 100% !important;
              }
              @media (max-width: 575px) {
                padding-left: 0px !important;
                padding-top: 1rem !important;
                flex: 0 0 100% !important;
                max-width: 100% !important;
              }
            }
          }
          @media (max-width: 1400px) {
            padding-top: 1rem !important;
          }
          @media (min-width: 992px) and (max-width: 1787px) {
            flex: 0 0 100% !important;
            max-width: 100% !important;
            padding-top: 1rem !important;
          }
          @media (min-width: 576px) and (max-width: 991px) {
            flex: 0 0 100% !important;
            max-width: 100% !important;
            padding-top: 1rem !important;
          }
          @media (max-width: 575px) {
            flex: 0 0 100% !important;
            max-width: 100% !important;
            padding-top: 1rem !important;
          }
        }
        div {
          .input-group {
            .form-control {
              max-height: 50px !important;
              height: 50px !important;
            }
            max-height: 50px !important;
            height: 50px !important;
          }
          .l-r-0 {
            .px-0 {
              .css-2b097c-container {
                border: none !important;
                .css-yk16xz-control {
                  max-height: 50px !important;
                  height: 50px !important;
                  .css-g1d714-ValueContainer {
                    padding-left: 0.8rem !important;
                  }

                  :focus {
                    padding-left: 1rem !important;
                  }
                }
              }
            }
            .pl-3 {
              .css-2b097c-container {
                border: none !important;
                .css-yk16xz-control {
                  max-height: 50px !important;
                  height: 50px !important;
                  .css-g1d714-ValueContainer {
                    padding-left: 0.8rem !important;
                  }
                }
              }
            }
          }
        }
      }
      @media (max-width: 1400px) {
        flex-direction: column !important;
      }
      @media (min-width: 992px) and (max-width: 1787px) {
        .main-con {
          flex-direction: column !important;
        }
      }
      @media (min-width: 576px) and (max-width: 991px) {
        .main-con {
          flex-direction: column !important;
        }
      }
      @media (max-width: 575px) {
        .main-con {
          flex-direction: column !important;
        }
      }
    }
  }

  .ReactTable {
    border: none !important;
    .rt-table {
      .-headerGroups {
        .rt-tr {
          .rt-th {
            text-align: center !important;
          }
        }
      }
    }
  }
}
