.stockMovement {
  .row {
    margin-right: 0px !important;
    margin-left: 0px !important;
    div {
      .card-group {
        .card:last-child {
          div {
            input {
              height: 30px !important;
            }
          }
        }
      }
    }
  }
  .css-1wa3eu0-placeholder {
    color: #b4b9bb !important;
  }

  input.form-control {
    padding: 0.375rem 0.75rem;
  }

  /* SEACRH */
  .card {
    .card-body {
      .row {
        .SM-col {
          .row {
            .displayPeriod-col {
              div {
                .css-2b097c-container {
                  border: none !important;
                }
              }
              @media (min-width: 576px) and (max-width: 991px) {
                padding-right: 0px !important;
              }
              @media (max-width: 575px) {
                padding-right: 0px !important;
              }
            }
            @media (min-width: 576px) and (max-width: 991px) {
              .dateFromLabel-col,
              .dateToLabel-col {
                flex: 0 0 100% !important;
                max-width: 100% !important;
                padding: 0.8rem 0rem !important;
                text-align: right !important;
              }
            }
            @media (max-width: 575px) {
              .dateFromLabel-col,
              .dateToLabel-col {
                flex: 0 0 100% !important;
                max-width: 100% !important;
                padding: 0.8rem 0rem !important;
              }
            }
          }
        }
        .sm-second-col {
          .row {
            .site-col {
              .css-2b097c-container {
                border: none !important;
              }
              @media (min-width: 992px) and (max-width: 1787px) {
                padding-left: 0px !important;
              }
              @media (min-width: 576px) and (max-width: 991px) {
                padding-left: 0px !important;
              }
              @media (max-width: 575px) {
                padding: 0px !important;
              }
            }
            .client-col {
              .css-2b097c-container {
                border: none !important;
              }
              @media (max-width: 575px) {
                padding: 1rem 0rem !important;
              }
            }
            .product-col {
              .css-2b097c-container {
                border: none !important;
              }
              @media (min-width: 576px) and (max-width: 991px) {
                flex: 0 0 33% !important;
                padding-right: 0px !important;
              }

              @media (max-width: 575px) {
                flex: 0 0 100% !important;
                padding-right: 0px !important;
              }
            }
            .searchButton-col {
              .btn {
                width: 105px;
                height: 50px;
                letter-spacing: 1px !important;

                @media (max-width: 575px) {
                  width: 100% !important;
                }
              }
              @media (min-width: 576px) and (max-width: 991px) {
                padding-left: 0px !important;
                padding-top: 1rem !important;
                flex: 0 0 100% !important;
                max-width: 100% !important;
              }
              @media (max-width: 575px) {
                padding-left: 0px !important;
                padding-top: 1rem !important;
                flex: 0 0 100% !important;
                max-width: 100% !important;
              }
            }
          }
          @media (max-width: 1400px) {
            padding-top: 1rem !important;
          }
          @media (min-width: 992px) and (max-width: 1787px) {
            flex: 0 0 100% !important;
            max-width: 100% !important;
            padding-top: 1rem !important;
          }
          @media (min-width: 576px) and (max-width: 991px) {
            flex: 0 0 100% !important;
            max-width: 100% !important;
            padding-top: 1rem !important;
          }
          @media (max-width: 575px) {
            flex: 0 0 100% !important;
            max-width: 100% !important;
            padding-top: 1rem !important;
          }
        }
        div {
          .input-group {
            .form-control {
              max-height: 50px !important;
              height: 50px !important;
            }
            max-height: 50px !important;
            height: 50px !important;
          }
          .l-r-0 {
            .px-0 {
              .css-2b097c-container {
                border: none !important;
                .css-yk16xz-control {
                  max-height: 50px !important;
                  height: 50px !important;
                  .css-g1d714-ValueContainer {
                    padding-left: 0.8rem !important;
                  }

                  :focus {
                    padding-left: 1rem !important;
                  }
                }
              }
            }
            .pl-3 {
              .css-2b097c-container {
                border: none !important;
                .css-yk16xz-control {
                  max-height: 50px !important;
                  height: 50px !important;
                  .css-g1d714-ValueContainer {
                    padding-left: 0.8rem !important;
                  }
                }
              }
            }
          }
        }
      }
      @media (max-width: 1400px) {
        flex-direction: column !important;
      }
      @media (min-width: 992px) and (max-width: 1787px) {
        .main-con {
          flex-direction: column !important;
        }
      }
      @media (min-width: 576px) and (max-width: 991px) {
        .main-con {
          flex-direction: column !important;
        }
      }
      @media (max-width: 575px) {
        .main-con {
          flex-direction: column !important;
        }
      }
    }
  }

  .ReactTable {
    border: none !important;
    .rt-table {
      .-headerGroups {
        .rt-tr {
          .rt-th {
            text-align: center !important;
          }
        }
      }
      .rt-thead .-header{
        border-bottom: 0px !important;
      }
    }
  }
}
 
.stockMovement {
  .dateFromLabel-col{
    text-align: right;
  }
}



.StockMovementFilter{ 
  .text-light-gray{
    align-items: center;
  }
  .sm-col-3{
    flex: 0 0 3%;
    max-width: 3%;  
  } 
  .sm-col-5{
    flex: 0 0 5%;
    max-width: 5%;  
  } 
  .sm-col-7{
    flex: 0 0 7%;
    max-width: 7%; 
  }
  .sm-col-8{
    flex: 0 0 8%;
    max-width: 8%; 
  }
  .sm-col-10{
    flex: 0 0 10%;
    max-width: 10%; 
  }
  .sm-col-11{
    flex: 0 0 11%;
    max-width: 11%; 
  }
  .sm-col-12{
    flex: 0 0 12%;
    max-width: 12%; 
  }
  .sm-col-13{
    flex: 0 0 13%;
    max-width: 13%; 
  }
  .sm-col-14{
    flex: 0 0 14%;
    max-width: 14%; 
  }
  .sm-col-15{
    flex: 0 0 15%;
    max-width: 15%; 
  }
  .sm-col-20{
    flex: 0 0 20%;
    max-width: 20%; 
  }
  .sm-col-21{
    flex: 0 0 21%;
    max-width: 21%; 
  }
  .btn-search{
      width: 100% !important;
      max-width: 105px;
  }
  .flex-container-total-align {
    display: flex;
    align-items: center;
    justify-content: center;  
  } 
  @media (max-width: 991px) {
    .col-lg-2{
      flex: 0 0 100%;
      max-width: 100% ;
      padding-left: 15px !important;
      padding-right: 15px !important;
      padding-top: 10px;
    }
    .labelDateFrom{
      flex: 0 0 20%;
      text-align: left !important;
      padding-left: 27px !important;

    }
    .dateFrom{ 
      flex: 0 0 80%;
    }
    .labelDateTo{
      flex: 0 0 20%;
      text-align: left !important;
      padding-left: 27px !important;

    }
    .dateTo{ 
      flex: 0 0 80%;
    }
    .flex-container-total-align{
      justify-content: start;
    }
    .site{
      flex: 0 0 30%;
    }
    .client{
      flex: 0 0 30%;
    }
    .product{
      flex: 0 0 40%;
    }
    .btn-search{
      max-width: 100%;
    }
  }
}
